[2017-01-21 09:52] bebraw opened #1 "Port uglifyjs tests from the main repository"
The current code is missing tests. Those should be ported over from the main project.

[2017-01-21 10:02] Kitanotori opened #2 "Provide list of not-yet-supported ES6 features"
The harmony branch of UglifyJS (https://github.com/mishoo/UglifyJS2#harmony) does not yet fully support ES6. Provide information on what features are not yet supported and how to avoid issues during minification.

Follow https://github.com/mishoo/UglifyJS2/issues/1433 for reference.

[2017-01-23 04:00] Kitanotori opened #3 "Building and publishing the lib"
@bebraw If I understood correctly, `"build"` script should be run automatically when `npm install`ing the lib. So, do we want the build step happening at the user side, or should we instead provide minified bundle, e.g. under `./dist` (I think `lib` is for external dependencies, not builds)?

By the way, when I install the lib locally to another project with `npm install ../uglifyjs-webpack-plugin

[2017-01-23 08:18] bebraw commented on #3
@Kitanotori I set up a `postinstall` script so you can consume the package from npm and it will build it. The idea is that a version published to npm will skip that step (that version should include only the built version). I also cleaned up the directory structure a bit.

Going with ES6 alone could be interesting, but I guess having the precompilation step in place doesn't hurt (easier to plug in

[2017-01-24 09:02] bebraw commented on #3
I published the [initial version](https://www.npmjs.com/package/uglifyjs-webpack-plugin).

Note that uglify is a peer dependency of the project so assuming the API of the Harmony branch is the same, I think it should pick it up. If needed, we can tweak the peer dependency to include it.

[2017-01-24 09:02] #3 closed

[2017-01-24 09:03] bebraw opened #4 "feat: add options validation"
It should be processed through [ajv](https://www.npmjs.com/package/ajv) to give proper errors if the schema validation fails.

[2017-01-25 02:02] Kitanotori commented on #3
@bebraw I'm not fully convinced about the peer dependency approach. That means user has to figure out the whole harmony thing again before he can use the plugin for minifying ES6. As you said, this is experimental plugin, so why not make it clear that this plugin supports minifying ES6 (excluding those parts that are not yet supported by the harmony branch) out-of-the-box by having the harmony bra

[2017-01-25 03:33] Kitanotori opened #5 "npm (Node.js <7.1) bug prevents from developing using 'npm link'"
Although not a bug of this project, I thought I would share my findings here. I've been mostly developing with the latest LTS version of Node.js (currently 6.9.4), but it seems there is a bug in versions prior to 7.1 that prevents resolving peer dependencies when using `npm link` due to issues with symlinks.

The solution is to run the linked project with Node.js >= 7.1 and either `--preserve-syml

[2017-01-25 03:46] Kitanotori commented on #5
@bebraw How are you usually developing npm projects, by the way? Particularly interested in how to smoothly test an npm project via other project.

[2017-01-25 07:31] bebraw commented on #3
I tried to keep this as close to the core as possible since this might become the stable option (webpack 3).

That said, this repository could be forked and we could end up with `uglifyjs-webpack-plugin-harmony` or some such that does exactly what you described. Would that work?

[2017-01-25 07:42] bebraw commented on #5
I tend to avoid `npm link` as it has been too glitchy with webpack in the past. That said, if you can set up something to study, I don't mind having a look.

[2017-01-25 09:24] Kitanotori commented on #3
@bebraw We might be able to avoid the need for forking by just making the documentation very clear about the status of UglifyJS and its harmony branch. I back down on my previous suggestion of direct dependency/forking and instead suggest that let's clarify the documentation.

Made some clarifications and changes to README.md just now.

[2017-01-25 09:52] bebraw commented on #3
Thanks. I published `0.1.1` with the readme tweaks. Let me know if you want publish rights and I'll hook you up.

[2017-01-25 10:23] Kitanotori commented on #3
Sure, publish rights would be cool.

[2017-01-25 10:26] bebraw commented on #3
@Kitanotori Ok. You need to create an account on npm so I can `npm add` you.

[2017-01-25 10:47] jpollard-cs commented on #2
I know one of them is assignment-destructuring statements, but there's already a PR here: https://github.com/mishoo/UglifyJS2/issues/1402#issuecomment-266182075

[2017-01-25 12:39] Kitanotori commented on #3
@bebraw https://www.npmjs.com/~kitanotori

[2017-01-25 13:17] bebraw commented on #3
@Kitanotori Done.

[2017-02-15 16:06] SebastianS90 opened #8 "Update plugin"
[Several commits](https://github.com/webpack/webpack/commits/master/lib/optimize/UglifyJsPlugin.js) have been applied to the plugin in webpack/webpack, so we should update it here as well.

Simply copying the new version will lead to a bunch of linting errors, because the projects use different eslint configurations.

[2017-02-15 16:07] bebraw commented on #8
Yeah, keeping these in sync is going to be tough...

[2017-02-15 16:21] SebastianS90 commented on #8
I created #9, but there is the linting problem I mentioned above.

Probably it would be best to automate the sync somehow or at least to have a script that does the sync on a manual trigger.

[2017-02-15 16:25] bebraw commented on #8
Fully automatic sync is not possible as the linting rules require some code to be rewritten in a slightly different way.

The problem would go away if both the core and the plugin adhered to the same style. `webpack-defaults` might solve this given some time.

[2017-02-19 12:49] #8 closed

[2017-02-28 17:45] kzc opened #15 "Uglify 2.8.x API update required for compress options `reduce_vars` and `passes`"
See:

https://github.com/mishoo/UglifyJS2/issues/1516#issuecomment-283102405

https://github.com/mishoo/UglifyJS2/blob/16cd5d57a5cf7f5750104df0e5af246708fd493f/test/compress/reduce_vars.js#L352-L384

[2017-03-04 05:06] #15 closed

[2017-03-06 11:59] graingert opened #17 "Allow plugabble uglifyjs config"
I'd like to use https://www.npmjs.com/package/uglify-js-harmony rather than the git branch of uglify-js, it would be handy if the plugin config supported:
[code]

[2017-03-06 12:03] bebraw commented on #17
Can you find that plugin on GitHub? Maybe doing something like `"uglify-js": "... path to custom github version ..."` would work. That's what I would try first.

If that doesn't work, I guess we could accept a PR although doing that would make the package out of sync with webpack core unless it's accepted there too.

Babili is a worthwhile option by the way.

[2017-03-06 18:11] graingert commented on #17
Yeah I'm trying to avoid github URLs because it's not supported in shrinkwrap

[2017-03-06 18:18] bebraw commented on #17
@d3viant0ne Any thoughts on this?

[2017-03-06 18:19] graingert commented on #17
@hamosapience ^

[2017-03-06 18:32] d3viant0ne commented on #17
My initial concerns would be the side effects to supporting UglifyJS 2 in this loader side by side with UgilfyJS. I'd need to study the changes between standard & harmony before making a determination on the above.

Second concern is related to the thread about the future of uglify and possible merge with Babels babili. This has the potential to increase the support cost & complexity of the plugin

[2017-03-06 18:41] bebraw commented on #17
Alright.

@graingert Here's what I suggest. Fork the webpack plugin and publish under `@graingert/uglifyjs-webpack-plugin`. Scopes are free for personal accounts. This also avoids the maintenance cost issue Joshua brought up.

Would that work?

[babili-webpack-plugin](https://github.com/webpack-contrib/babili-webpack-plugin) is starting to look good by the way. Don't mind the version number. It's

[2017-03-06 19:10] kopax opened #18 "Unexpected token punc «(», expected punc when creating chunk from UglifyJs"
I have the following error when trying to do a production build using webpack `2.2.1` :

[code]

I really don't know from where in my code it come from. I have just repared all the unit tests after month of non TDD development.

Is there a way to diagnosis this ?

[2017-03-06 19:15] bebraw commented on #18
Make sure you have processed your code to ES5 format before passing it to Uglify. All it takes is one piece of syntax it doesn't understand and you'll get an error like this.

Can you simplify the code until you have a tiny test case to run and study?

[2017-03-06 19:19] kopax commented on #18
I haven't configured anything for this, it is the default webpack configuration build from [react-boilerplate](https://github.com/react-boilerplate/react-boilerplate/)

Is there a way I can verify this somewhere (package.json,...)

How do I do this ? i have hundreds of pages and components interacting with each over. should I just remove routes one by one to see which part of the react dom tree is

[2017-03-06 19:22] bebraw commented on #18
Ah, ok. I don't know their setup well enough. I guess tracing the error might work.

Yeah, I don't see an easier way. You have to reduce the problem until you can understand and possibly share it.

[2017-03-09 11:14] jskrzypek commented on #2
Should also follow https://github.com/mishoo/UglifyJS2/issues/448, no?

[2017-03-22 21:09] AriaFallah opened #20 "Conceptual question: Why is this is a plugin?"
I'm just trying to better understand the Webpack ecosystem, and the way I had the difference between a plugin and a loader arranged in my head was that a loader is a `String -> String` transformation, and plugins are used when you are **adding** functionality to Webpack.

Given that definition, why is this a plugin instead of a loader?

* Is my definition wrong?
* Am I wrong in assuming that uglif

[2017-03-23 01:20] japgolly opened #21 "Expose chunk to `options.<test|include|exclude>`"
The `test`, `include` and `exclude` options only inspect the output filename, which has no value when the names are like `[hash].[ext]`. It would be very helpful to expose the associated chunk info as well.

[2017-03-23 04:45] michael-ciniawsky commented on #20
The reason this is a plugin instead of a loader (while possible) is mainly because it operates on the whole bundle (compilation) and not on a per module/chunk/file basis like a loader does.
Loaders run depending on the file extension specified in `{ test: /\.ext/ }` and transform the contents per `chunk/file`, the loader chain is called for each file separately, which means that for e.g uglify isn

[2017-03-23 04:45] #20 closed

[2017-03-23 04:47] AriaFallah commented on #20
@michael-ciniawsky Thanks a lot 😄. Also I assume stuff like generating source maps can't be done with just loaders.

[2017-03-23 04:51] michael-ciniawsky commented on #20
Depending if the lib you use inside a loader is able to generate sourcemaps,`postcss-loader` , 'coffee-loader` for e.g (can) generate their maps :). Getting the source URL's right is a common problem

[2017-03-23 04:55] michael-ciniawsky commented on #20
[code]

[2017-03-28 09:55] matthewmueller commented on #18
i just ran into this too, but it ended up being an issue with a node module that i wasn't compiling with babel

try running uglify directly. there seems to be some missing (quite essential) output in this module that you can see by running `uglify`.

[2017-03-28 10:01] bebraw commented on #18
If there is even a single piece of ES6 syntax, the current version of Uglify will fail. As Matthew hinted, try reducing the example to isolate the problem.

[2017-03-30 03:22] Vanuan opened #22 "cheap-source-map doesn't work"
It looks to be incompatible with sourceMap. I use the following versions:

[code]

Config:

[code]

[2017-03-30 06:27] bebraw commented on #22
https://github.com/webpack/webpack/issues/2766 seems to be related to this.

[2017-03-30 10:10] halfninja commented on #22
For me, `source-map` works but `cheap-source-map` causes the source map to be generated with a single source file, the built asset itself.

[2017-03-30 11:06] Vanuan commented on #22
Well, `source-map` results in wrong breakpoints

[2017-03-30 11:13] Vanuan commented on #22
Looks like it still uses `webpack-sources@0.1.x` while `0.2.x` is released.

[2017-03-30 13:42] bebraw commented on #22
@Vanuan Update to `0.2.x`. Thanks for the heads up.

[2017-03-30 16:06] Vanuan commented on #22
Now `source-map` works but only if I don't use CommonsChunkPlugin

[2017-03-30 16:27] bebraw commented on #22
@Vanuan Can you confirm the issue against webpack core `UglifyJsPlugin`? Technically it's the same implementation, though, so I expect the result is the same as well.

Could you set up a tiny standalone repository to study?

[2017-03-31 14:07] kopax commented on #18
I have managed to solve the issue by removing the route one by one until I found the proper code that fail. Sorry for taking that long for closing the issue.

[2017-03-31 14:07] #18 closed

[2017-04-01 03:58] Vanuan commented on #22
I've experimented with debugging a bit more. And I wouldn't say it doesn't work at all, it's just weird. I have to do more clicks (to step into) due to imported functions not being transparent and the stacktrace doesn't preserve function names.

![screenshot from 2017-04-01 02 40 39](https://cloud.githubusercontent.com/assets/361985/24572807/d9ad8e02-1684-11e7-9cd2-453860a58d39.png)

Another probl

[2017-04-01 04:02] Vanuan commented on #22
Also, adding breakpoints to `import` statement doesn't work (it does without uglify)

[2017-04-01 04:26] Vanuan commented on #22
So I've tried different options with lines only and it doesn't work at all.

The only option that work is source-map but is uses partially transformed code.
Eval - no luck.
No sources - stacktrace still uses generated function names when throwing errors in the body of module, but that's probably always been so.

[2017-04-01 05:27] Vanuan commented on #22
Another strange thing: uglify seems to bubble function declarations which breaks debugging:

[code]

[2017-04-01 05:44] Vanuan commented on #22
The last one looks related to this: https://github.com/mishoo/UglifyJS2/issues/493

[2017-04-02 18:33] Vanuan commented on #22
Destructuring is troublesome:

[code]

Generated code:
[code]

But it's that way without uglify.

[2017-04-03 01:30] Vanuan commented on #22
So I think the only real issue with this plugin is that `cheap` isn't working. Other issues are either reproducible without the plugin or a result of `uglifyjs` itself.

[2017-04-03 07:53] bebraw commented on #22
Thanks for the research! I have a feeling `cheap` might be a core level issue as there are a few related to that.

This restriction could be documented in the readme so people know to avoid cheap alternatives with Uglify.

[2017-04-03 09:23] Vanuan commented on #22
Ok, so if it's expected, I'm closing.

[2017-04-03 09:23] #22 closed

[2017-04-04 14:17] narendra-agashe opened #23 "Uglify causes error in the angular 2 application only in IE, works fine in Chrome and FireFox"
Uglify Package version 0.4.0
Node version 7.4.0
Angular Version 2.4.9
Typescript 2.0.0

IE version IE 11

I am running into a weird issue, I am not sure if it is an issue with my implementation or something else.

I am using this webpack plugin with grunt and when I uglify and try to access the code in IE it throws an error that a promise was not found and points to an html page referenced in the

[2017-04-04 14:20] bebraw commented on #23
Hi,

Are you shimming `Promise` somehow? I don't know IE that well but it's possible it might need a shim in order to work.

[2017-04-04 14:23] narendra-agashe commented on #23
Thanks for your quick reply @bebraw

My Typings.json looks as below
{
  "name": "ng2-webpack-test",
  "dependencies": {
    "es6-promise": "registry:npm/es6-promise#3.0.0+20160211003958"
  },
  "globalDependencies": {
    "es6-shim": "registry:dt/es6-shim#0.31.2+20160602141504",
    "jasmine": "registry:dt/jasmine#2.2.0+20160621224255",
    "node": "registry:env/node#6.0.0+20160622202520"
  }
}

A

[2017-04-04 14:27] bebraw commented on #23
I don't understand Angular setups well enough to say anything sure based on that. You could try a different method like [promise-polyfill](https://github.com/taylorhakes/promise-polyfill#simple-use).

Maybe the best thing to do would be to set up a minimal example to run and study.

[2017-04-04 15:21] narendra-agashe commented on #23
@bebraw Right.. I will try to make an example..
I am still confused because if i don't uglify then the code works just fine on all browsers.

[2017-04-09 04:23] d3viant0ne opened #24 "webpack-defaults upgrade"
Addition of `webpack-defaults` & associated refactoring as a part of the next `Major` release

Issue exists for status tracking across the organization.

[2017-04-20 05:46] michael-ciniawsky opened #27 "Standardize README"

[2017-04-22 20:22] Capybarab opened #28 "Dependency problem"
module.js:472
    throw err;
    ^

Error: Cannot find module 'webpack/lib/RequestShortener'
    at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._load (module.js:418:25)
    at Module.require (module.js:498:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (/Users/HAL/Lab/lab/progressive/node_modules/uglifyjs-webpack-plugin/dist/index.js:17:24)

[2017-04-23 20:20] bebraw commented on #28
Which version of webpack are you using?

[2017-04-23 20:28] Capybarab commented on #28
Latest. It was a problem of webpack new format version rather than uglify. Apologise for not reporting it early.

Regards,

[2017-04-23 21:14] bebraw commented on #28
Ok, so it has been fixed already in the core?

[2017-05-10 05:10] PhilipDavis opened #30 "Identifiers in JSX attributes not being uglified"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Uglify fails to process some identifiers.

I recently upgraded a React/Redux/TypeScript project from TypeScript 2.2 + Babel + Webpack 2.2 to TypeScript 2.3.2 + Webpack 2.5.1. This project makes heavy use of Immutable and i18next.

After the uglify process, my client.js bundle had exactly one referenc

[2017-05-10 05:14] bebraw commented on #30
Is it possible to reproduce this issue **without** webpack? If so, the issue should be pushed upstream to Uglify.

[2017-05-10 06:12] KokoTa opened #31 "Cannot read property 'reset' of undefined"
[code]

What's 'reset' mean?

[2017-05-10 06:22] bebraw commented on #31
Impossible to say. There's not enough information to debug.

[2017-05-10 07:20] orlv commented on #31
UglifyJS v3 has a new, backwards incompatible API. I guess it has no methods like uglify.base54.reset() or uglify.parse()

[2017-05-10 07:31] bebraw commented on #31
Ah, you are using Uglify 3... The plugin doesn't support Uglify 3 yet.

[2017-05-10 07:58] KokoTa commented on #31
Thanks! I changed v2.8.23 and it can work:)

[2017-05-10 08:15] bebraw opened #32 "Support UglifyJS 3"
Currently using UglifyJS 3 breaks the plugin. It has a new API so the plugin has to change accordingly.

[2017-05-10 08:16] bebraw commented on #31
Ok, track #32 for progress with UglifyJS 3. I expect that will be a new major version of the plugin as the API it provides has to change as well most likely.

[2017-05-10 08:16] #31 closed

[2017-05-10 09:04] rainjay commented on #32
if u are using yarn, paste the codes below in yarn.lock
[code]
Replace the old one, yarn and then it will work, Although it is not recommended to edit in yarn.lock.
Just a temporary solution.

[2017-05-10 09:50] graingert opened #33 "switch to uglify-es"
Related somewhat to https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/32

get rid of all the "if using ES2017 install from git" etc, and switch to `uglify-es` only.

[2017-05-11 05:37] t47io commented on #32
I see this error:
[code]
Need to rename to `'uglify-es'`?

[2017-05-11 05:43] bebraw commented on #32
`uglify-es` won't work with the current version of the plugin without serious changes.

[2017-05-11 06:06] rainjay commented on #32
another way: paste ` "uglify-js": "git://github.com/mishoo/UglifyJS2#harmony-v2.8.22" ` in your devDependency in package.json

[2017-05-17 14:58] DanFuture opened #34 "Uglify not uglifyin in webpack"
Hi,

I'm trying to use Webpack with the uglify plugin inside docker to package the Javascript I use ready for release.

There are no errors - but the Javascript just doesn't seem to be Uglified ever.

I have a simple [docker box here](https://github.com/Danack/ReactTest) that contains a simple setup, that I would have expected to produce uglified Javascript output.

I realise that there is a high

[2017-05-18 11:41] DanFuture commented on #34
So the problem was using the -d command line option.

This apparently blocks the uglyfier plugin from being able to do its job.

[2017-05-18 11:41] #34 closed

[2017-05-21 16:45] skorunka commented on #33
How can I use `uglify-es` instead of `uglify-js` in webpack?

[2017-05-21 16:48] bebraw commented on #33
@skorunka It's not possible until someone ports the plugin to the new API of Uglify.

[2017-05-21 19:06] skorunka commented on #33
@bebraw I see, is there any workaround?

[2017-05-21 19:19] bebraw commented on #33
@skorunka No workaround until someone has time to perform the upgrade,

[2017-05-21 22:53] skorunka commented on #33
@bebraw Thank you.

[2017-05-21 23:12] johnspurlock commented on #33
@skorunka Hmm, I've been using a similar workaround (see below) while waiting for this issue, and it seems to be working for me.  Copying here in case it helps you.

[code]
[code]

[2017-05-23 09:17] skorunka commented on #33
That helped! I had to delete `node_modules` folder and `npm i` so I get the rid of all previously installed `uglify-js` mutations.

[2017-05-24 02:54] ro-savage commented on #32
@bebraw - Is this something that is currently being worked on?

I had a look at the source to see if I could do a PR to support UglifyJS3 but it looks like this is using a lot of undocumented and internal APIs of UglifyJS2 and felt like it would be almost a total rewrite.

Maybe @alexlamsl or @kcz could help?

[2017-05-24 05:13] bebraw commented on #32
@ro-savage I don't think anyone is working on this at the moment as people are busy with other things. It's a big rewrite, yeah.

[2017-05-24 07:48] noBlubb commented on #32
I created an updated fork two days ago, that has been forked and improved again here https://github.com/Nckcol/uglify-es-webpack-plugin and is now almost feature complete.

[2017-05-24 07:53] bebraw commented on #32
@noBlubb Do you want to look into merging the work back here or do you prefer to maintain it on your own? Webpack main repository has some Uglify tests that have to be ported over and adjusted.

[2017-05-24 08:00] noBlubb commented on #32
I would like to transfer the plugin back to webpack-contrib, as I do not feel ready to maintain this all by myself. This started of as some kind of POC for me and I'm happy to give something back to the webpack community :)

[2017-05-24 08:02] bebraw commented on #32
@noBlubb Ok. I guess the question is whether to maintain it as a package of its own or to merge here somehow. I think the overall direction is that we want to get rid of the webpack core version entirely (too coupled).

@d3viant0ne Any thoughts on this?

[2017-05-24 08:52] ro-savage commented on #32
@Nckcol your thoughts?

I am happy to help out where I can as well.

The uglify-es-webpack-plugin seems to be using only (mainly?) external APIs which makes it easier to get involved with.

[2017-05-24 13:28] dlebedynskyi commented on #32
@noBlubb tested your project. Had one issue. _Going to write here since may be merged soon._
With following set up
[code]
Error
[code]
Had tried
[code]
Same result.

[2017-05-24 18:22] noBlubb commented on #32
@ro-savage Absolutely! The forked version is as minimal as possible right now.

@dlebedynskyi Options are not yet supported, you might want to try @Nckcol's fork.

[2017-05-24 22:17] Nckcol commented on #32
Hey! I'm working on friendly error and warning output now.
I don't know how to make cheap-sourcemaps work with uglify-es. Any ideas?

@dlebedynskyi I fixed this in my fork

[2017-05-25 02:07] noBlubb commented on #32
@Nckcol https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/22
Seems like this has not been supported by the old plugin.

[2017-05-27 04:20] Nckcol commented on #32
@bebraw
I have already done all plugin features that was in old version
Do you interested in merging it back?

[2017-05-27 04:26] bebraw commented on #32
@Nckcol Are you interested in maintaining the work over here?

[2017-05-27 04:48] Nckcol commented on #32
@bebraw Yes, but I'm afraid I will rarely be able to maintain it

[2017-05-27 05:34] bebraw commented on #32
@Nckcol No probs, here's a rough roadmap:

1. [Upgrade the project to webpack-defaults](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/24). I can do that (~30 mins of work). This gives a solid testing infrastructure etc.
2. Cut a 1.0 release for the plugin. This is going to be the last release that supports Uglify 2.
3. Merge your PR so we get Uglify 3 support. Important: we hav

[2017-05-27 13:05] Nckcol commented on #32
Well, I finished the first item
@bebraw Could you explain in more detail what actions are required of me to complete the second item on the list?

[2017-05-27 13:14] bebraw commented on #32
@Nckcol We have to get #35 merged first (needs some reviews before it can go in). I sent you an invite so it's easier to coordinate this work. Thanks. 👍

[2017-05-31 23:55] KingMario opened #36 "Unhandled complicated object property key"
File to be uglified:
[code]

Using `uglify fileToBeUglified.js -o uglified.js`, get:

[code]

Will throw `Uncaught SyntaxError: Unexpected token -` error.

[2017-06-01 00:01] KingMario commented on #36
This should have been raised for uglify-js2.

So closed here.

[2017-06-01 00:01] #36 closed

[2017-06-07 03:48] lukeapage commented on #32
Imo you should do an option. In a typical dev setup, uglify is a dependency of a few modules - and if more start using uglify-es then it will be impossible for the consumer to tell this plugin what to use.

[2017-06-07 07:14] bebraw commented on #32
Yeah, we have to keep it flexible so the user can choose between vanilla and ES. It gets more interesting if you want both for some reason, though (can this happen?). Maybe this means the plugin should be able to accept uglify as an option too?

@Nckcol Please join the Slack when you have time so we can coordinate this work.

[2017-06-07 12:16] crabicode opened #38 "emoji got broken"
Please refer this issue [emoji got stripped when building in create-react-app](https://github.com/facebookincubator/create-react-app/issues/2488)

Seems like the uglifying removes some required bits from emoji symbols:

production -> "ðŸ•¹ï¸�": "1f579
development -> "🕹️":"1f579"

Any ideas what can cause the problem?

[2017-06-07 19:42] JemarJones commented on #33
Why does the README tell us to use github.com/mishoo/UglifyJS2#harmony and not mention @johnspurlock's fix?

[2017-06-08 04:31] bebraw commented on #33
@JemarJones PR welcome. Thanks. 👍

[2017-06-08 11:21] bebraw commented on #38
Can you try it against Uglify itself? There might not be much we can do about the issue in the plugin itself.

[2017-06-08 11:23] evilebottnawi commented on #38
@crabicode Your use `emoji` in css, if yes it is do `css-loader`, known issue

[2017-06-13 23:14] Sheeo opened #41 "Please disable mangling by default"
As you note in your [README](https://github.com/webpack-contrib/uglifyjs-webpack-plugin#mangling) property mangling will probably break your code if you don't know how to use it, which is why your upstream UglifyJS disables it by default.

I don't understand what makes you, unlike your upstream, enable it by default, however. This cost me quite a bit of debugging time to figure out why our product

[2017-06-19 07:47] mlazowik commented on #41
I'm actually confused by the docs here. When we introduced webpack we've disabled mangling based on them, but they seem to be a bit misleading. Only _property_ mangling is dangerous. It's not clear for me if it's on by default or not.

[2017-06-19 07:58] mlazowik commented on #41
By looking at the code looked like it's not. I enabled it manually and it made smaller bundles and actually broke the build, so this confirms it's not on by default.

Another issue is that docs link to uglify master, which is currently v3, but this plugin uses v2 (#32).

[2017-06-19 08:37] mlazowik commented on #32
Related: https://github.com/webpack/webpack/pull/5028

[2017-06-19 08:45] mlazowik commented on #41
@Sheeo so if you got the error with default settings (you have not set `mangle.props` to `true` or config object) the report with some example code should go upstream to https://github.com/mishoo/UglifyJS2.

[2017-06-19 10:57] Sheeo commented on #41
I think upstream's docs are a bit misleading, too -- toplevel variable name mangling can break code as well as property mangling, this was indeed happening in a dependency of mine. Upstream does disable all mangling by default, you have to explicitly enable it.

Thanks for the doc clarification on your end!

[2017-06-19 20:31] webpack-bot opened #44 "webpack 3 is missing uglify v2.x dependency which breaks the build"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I'm getting the following error:
[code]

I'm pretty sure this is because webpack 2.6 had `"uglify-js": "^2.8.27"` as a dependency, but webpack 3.0 has only `"uglifyjs-webpack-plugin": "^0.4.4"` as a dependency (which does NOT pull in uglify-js v2!)

**If the current behavior is a bug, please provide th

[2017-06-19 21:48] #44 closed

[2017-06-19 23:07] michael-ciniawsky commented on #28
Reopen if still regressions, but seems to be resolved

[2017-06-19 23:07] #28 closed

[2017-06-20 16:53] bradennapier opened #47 "broken in webpack 3"
Argument spreading is broken in uglify-js. This worked fine in rc of 3.0.0

[code]

[code]

It is not using concat to spread the arguments when called in a function causing a ton of problems.

[code]

In the above code, args is sent to handleProcessReduction as the second arg only.

Looking at the transpiled code:

[code]

[2017-06-20 16:58] evilebottnawi commented on #47
@bradennapier do your use `babel-loader` (in theory he should handle spread)?

[2017-06-20 16:59] bradennapier commented on #47
yeah and babel-loader does it fine.  It's not until uglify is applied that it breaks it.

[2017-06-20 17:05] evilebottnawi commented on #47
@bradennapier seems `uglify-js` doesn't works as expected, can your test `babel` transpiled on using `uglify-js` standalone, this will allow us to understand whether there is a problem

[2017-06-21 21:38] webpack-bot opened #48 "npm install -g webpack fails on docker container"
**Do you want to request a *feature* or report a *bug*?**
*Bug*

**What is the current behavior?**
Command `npm install -g webpack` fails in a fresh ubuntu docker container. Please note `npm install -g webpack@2.6.1` worked

Error log:
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**

Do `npm install -g webpack` in a ubuntu docker container.

**What is the expect

[2017-06-22 04:04] zhaiduo commented on #33
Try method from @johnspurlock, still not work.

Unexpected token: punc ()) [scripts/p.js:80,64]

This is my devDependencies:

    "babel-core": "^6.25.0",
    "babel-preset-es2015": "^6.24.1",
    "uglify-js": "git://github.com/mishoo/UglifyJS2#harmony-v2.8.22",
    "uglifyjs-webpack-plugin": "^0.4.3",
    "webpack": "^2.6.1",
    "webpack-bundle-analyzer": "^2.8.2",
    "webpack-dev-middleware":

[2017-06-22 05:32] kurtextrem commented on #33
The most recent uglifyjs-webpack-plugin version broke something. If I return back to 0.4.4 everything works again.

[2017-06-22 07:03] lili21 opened #49 "can not support es6 minification after upgrade to 0.4.6"
the `0.4.6` version move the `uglify2` to `dependencies`, so I can't specify the `uglify2` version through `yarn add git://github.com/mishoo/UglifyJS2#harmony-v2.8.22 --dev`. cause the plugin will use its own dependency - `uglify-js^2.8.29`.

[2017-06-22 10:55] pkeuter commented on #49
Duplicate of #32. See https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/32#issuecomment-300421227 for a workaround.

[2017-06-24 08:28] paulpflug commented on #49
this is no duplicate.. the workaround doesn't work anymore

[2017-06-26 18:30] ricricucit commented on #33
I still get `Unexpected token punc «(»` anyone?

[2017-06-26 19:03] graingert commented on #33
@ricricucit could you make a test case for that?

[2017-06-27 02:23] volkovasystems commented on #48
I have the same issue :(

[2017-06-27 18:09] Hotell commented on #49
Yup this is very unfortunate. Patch version breaking stuff... :( https://travis-ci.org/Hotell/typescript-lib-starter/builds/244709499?utm_source=github_status&utm_medium=notification

[2017-06-29 03:14] #24 closed

[2017-06-29 09:33] pkeuter commented on #49
It is a duplicate. The workaround doesn't work exactly as noted there anymore, but if you change `uglify-js "^2.8.29"` to `uglify-js "^2.8.22"`. Everything is fine. Still an ugly workaround though.

[2017-06-29 09:49] lili21 commented on #49
I don't get it.

[2017-06-29 10:55] pkeuter commented on #49
[code]
...
[code]

[2017-06-29 10:59] lili21 commented on #49
That is the `yarn.lock` file. I won't say that is a workaround.

[2017-06-29 11:24] pkeuter commented on #49
It is a workaround, because it works. This is the exact same workaround as posted in #32, with `uglify-js "^2.8.22"` modified from `uglify-js "^2.8.29"`

[2017-06-29 14:10] lili21 commented on #49
There was a better workaround, just run the `yarn add git://github.com/mishoo/UglifyJS2#harmony-v2.8.22 --dev` command. But the `0.4.6` version broken this. that's why I create the issue.

[2017-06-29 23:32] michael-ciniawsky commented on #1
Closed by #56

[2017-06-29 23:32] #1 closed

[2017-06-29 23:34] michael-ciniawsky commented on #2
We will update the plugin to a newer version of `uglify` soon, so docs for this won't be needed anymore :) thx

[2017-06-29 23:34] #2 closed

[2017-06-30 07:33] kurtextrem commented on #49
@pkeuter This is not about the regular versions, but about the harmony branch. If uglifyjs-webpack-plugin states *regular* 2.8.29 as dependency, npm doesn't care if you have the *harmony* branch as dependency set.

[2017-06-30 08:27] pkeuter commented on #49
@kurtextrem I know this is about the _harmony_ branch, but changing the yarn.lock file as mentioned before, will let this plugin use the older version of the _harmony_ branch of UglifyJS. Again: it's not a brilliant "solution", but it fixes the build for me.

[2017-07-01 12:01] xiangnanscu opened #65 "Follow the docs but still can't support es6 minify"
Hello, Ubuntu server 14.04. As you can see from the log. My js code is valid as es6, but raise ```Unexpected character '`'``` error when minified.
## webpack.config.js code

[code]
## log
[code]

[2017-07-04 02:23] tracker1 opened #66 "Switch to uglify-es"
Maybe it's time to switch to the `uglify-es` module, given how many new features are in the browser and node@8 these days that aren't supported in the existing uglify.

[2017-07-04 03:30] michael-ciniawsky commented on #66
#63

[2017-07-04 03:39] michael-ciniawsky commented on #65
ES2015+ (ES6)  isn't directly support by the uglify version in use here yet, #63 will fix this, transpile to ES5 in the meantime or use `babili-webpack-plugin`

[2017-07-04 03:39] #65 closed

[2017-07-04 03:41] michael-ciniawsky commented on #49
Will be fixed by #63 soon, currently ES2015 minification isn't supported directly 😞

[2017-07-04 03:41] #49 closed

[2017-07-04 03:42] michael-ciniawsky commented on #48
@volkovasystems Could you try with `v1.0.0-beta.0` please ?  I removed the conflicting file

[2017-07-04 03:44] michael-ciniawsky commented on #30
@PhilipDavis Any updates on this matter ?

[2017-07-04 03:46] michael-ciniawsky commented on #23
@narendra-agashe Any updates on this ?

[2017-07-04 03:48] michael-ciniawsky commented on #38
@crabicode Any updates on this ?

[2017-07-04 03:49] michael-ciniawsky commented on #17
Will be 'fixed' by #63

[2017-07-04 03:49] #17 closed

[2017-07-04 03:51] michael-ciniawsky commented on #5
Reopen if still relevant, but emms to be unrelated to `uglifyjs-webpack-plugin` in particular, so cclosing for now 😛

[2017-07-04 03:51] #5 closed

[2017-07-04 03:55] michael-ciniawsky commented on #4
#64, but it is inconvenient because of `{Function}` && `{Regex}` usage of options 😞. Needs a custom `ajv` 'adapter' in `schema-utils` to support the 2 types first. Does core already handle this somewhere so I can take a look at that maybe 🙃 ?

[2017-07-04 03:56] michael-ciniawsky commented on #47
The current version of `uglify-js` in use, doesn't support any ES2015+ (ES6) minification yet, will be fixed by #63  soon

[2017-07-04 03:56] #47 closed

[2017-07-04 04:00] michael-ciniawsky commented on #41
Fixed by #42, reopen if still regressions :)

[2017-07-04 04:00] #41 closed

[2017-07-04 06:50] kurtextrem commented on #49
The other question is, why is a patch version breaking things? Just by removing this line: https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/package.json#L54 this whole issue would be fixed again.

[2017-07-04 07:40] d3viant0ne commented on #23
@michael-ciniawsky - This is very likely an Angular / Uglify problem. The framework, depending on what browsers you are targeting requires quite a bit of shimming.

In either case, it's not a problem that can be solved in this plugin. @narendra-agashe If you look in the `polyfills.ts` that @angular/cli spits out, you should have a pretty complete list of what needs to be in your bundle for the IE

[2017-07-04 07:40] #23 closed

[2017-07-04 07:42] michael-ciniawsky commented on #49
@kurtextrem `peerDependency` broke webpack, bc of the missing `uglify` packag, so reverting wouldn't fix it

[2017-07-04 07:47] d3viant0ne commented on #48
An observation from the docker side of things, you generally don't want to run as root given that user on any container OS has tighter security across the board.

I personally setup a node user in the initial container build and then do the rest of the `RUN` commands.

You should be able to get the gist of how it all flows from this ... https://github.com/EasyMetrics/circleci-gcp-node6/blob/master

[2017-07-05 16:31] crabicode commented on #38
@michael-ciniawsky,

I believe the issue is no longer relevant since it could have been avoided by other means.

anyway, thanks

[2017-07-05 16:31] #38 closed

[2017-07-05 20:29] mikesherov commented on #49
@kurtextrem also note that for <1.0.0, semver guarantees don't exist.

[2017-07-06 03:40] michael-ciniawsky commented on #33
Done in #63

[2017-07-06 03:40] #33 closed

[2017-07-06 03:41] michael-ciniawsky commented on #66
Closed by #63

[2017-07-06 03:41] #66 closed

[2017-07-06 03:41] michael-ciniawsky commented on #32
Closed by #63

[2017-07-06 03:41] #32 closed

[2017-07-06 03:42] michael-ciniawsky commented on #48
Since the conflicting file was removed on master I close the issue here for now, feel free to reopen if still regressions :)

[2017-07-06 03:42] #48 closed

[2017-07-06 12:42] aegisho opened #68 "v0.4.6 set uglify-js@^2.8.29 Invalidate uglify-js#harmony-v2.8.22"
my package.json
[code]

it's fine with  uglifyjs-webpack-plugin@0.4.4

i use yarn v0.21.3，node@v6.9.2
npm@3.10.9 has same problem

please recovery uglify-js version

[2017-07-06 19:15] michael-ciniawsky commented on #68
Try `v1.0.0-beta.1` `npm i -D uglifyjs-webpack-plugin@beta` which contains an upgrade to `uglify-es` (UglifyJS v3.0.0) instead please. There won't be any changes to `< v1.0.0`

[2017-07-06 19:15] #68 closed

[2017-07-07 13:16] torvitas opened #70 "all folders missing from package on npm install"
Version: master

Hi,

since you added ./dist/ to gitignore its not anymore included when installed via npm. The other folders aren't included either since you specified files: ["dist"] in package.json.

Greetings, Sascha

[2017-07-07 14:06] michael-ciniawsky commented on #70
This only happens, when `npm i` via `git` ?

[2017-07-07 14:06] torvitas commented on #70
Of course, how else would you be able to install master?

[2017-07-07 14:07] michael-ciniawsky commented on #70
`npm i -D uglifyjs-webpack-plugin@beta`

[2017-07-07 14:09] torvitas commented on #70
ah, didn't know that, thank you!

[2017-07-07 14:09] #70 closed

[2017-07-07 23:23] hulkish opened #72 "feature: Add logic to ensure only 1 UglifyJsPlugin's instance per compiler"
## Problem:
Currently, I think it's too easy to accidentally apply 2 instances of UglifyJsPlugin to the same compiler/compilation.

### Scenario:
- You are a webpack newb
- You need to make a production build
- You learn UglifyJsPlugin is the recommended way to minify your bundle, so you make a `webpack.config.prod.js` and include UglifyJsPlugin.
- You learn that it's recommended to use the `--opt

[2017-07-07 23:46] michael-ciniawsky commented on #72
Does `UglifyJSPlugin.name` work (`Function.prototype.name`) ? Would it be worthwhile to consider filtering plugin duplicates generally in webpack? Is it needed to `add` the whole compiler, why not `static isApplied = false // {Boolean} && if (isApplied) return\n isApplied = true`?

[2017-07-07 23:56] hulkish commented on #72
@michael-ciniawsky I think so... but if I recall correctly there is differences in this behavior between `node@4.3` - `node@8` etc. I'd have to look.

[2017-07-07 23:57] hulkish commented on #72
@michael-ciniawsky Also, keep in mind that its adding the compiler to a `WeakSet`, therefore memory issues relating to "storing" the compiler can be absolved.

[2017-07-08 02:33] hulkish opened #73 "bug: uglifyjs-weback-plugin@1.0.0-beta.1 breaks with MultiCompiler"
[This line](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/index.js#L152) breaks support for `webpack/lib/MultiCompiler` because a `MultiCompiler` instance child compiler does not have a `context`.

[2017-07-08 03:35] bebraw commented on #72
I would go with a property that webpack core interprets. That pushes the problem to the right place.

[2017-07-08 13:08] hulkish commented on #72
@bebraw So, problem with that... It only works if its always the compiler.apply that is called. However, when you call `MyPlugin.apply` - that doesn't prevent it from being applied twice or more.

[2017-07-08 13:23] Garfield550 opened #76 "Why uglifyjs-webpack-plugin + uglify-es doesn't work?"
I use uglifyjs-webpack-plugin and uglify-es to uglify my js code.

`package.json`
[code]

`webpack.prod.js`
[code]
OS Version: Linux Garfield550 4.4.0-43-Microsoft #1-Microsoft Wed Dec 31 14:42:53 PST 2014 x86_64 x86_64 x86_64 GNU/Linux

Node.js Version: v8.1.3

I get an build error was:

[code]

[2017-07-08 13:26] bebraw commented on #72
@hulkish I'm not sure. It's better to get Tobias' input on that.

[2017-07-08 14:20] michael-ciniawsky commented on #76
`v0.4.6` has `uglify-js v2.0.0` as a dependency and the `uglify-es` API isn't compatible. `uglify-es` support for the plugin is currently in beta `npm i -D uglifyjs-webpack-plugin@beta`

[2017-07-08 14:20] #76 closed

[2017-07-08 18:46] indutny commented on #72
What if I want to use the plugin anyway? Like I have different passes of optimizations and want to apply it after each pass?

[2017-07-08 18:50] hulkish commented on #72
@indutny can you give an example?

[2017-07-08 18:53] indutny commented on #72
Several passes of tree shaking? (I don't use it currently, but it may have uses in the future).

1. Remove unused `exports.a = ...`
2. Remove dead code with uglify
3. Remove more unused `exports.a = ...` that appeared because the dead code is gone
4. Apply uglify again?

Anyway, I think it should be better to just print warning rather than skipping the step altogether.

[2017-07-08 18:56] hulkish commented on #72
@indutny Wouldn't uglify running once *after` tree shaking? I would hope that nothing would ever "need" to be uglified more than once. Since, it's such a heavy task.

[2017-07-08 18:58] indutny commented on #72
Uh, right... bad example. I'll have to think if I can come up with anything else.

All in all, it still feels "unsafe" to disable the plugin if it is used twice. In my opinion, warning is better.

[2017-07-08 19:02] hulkish commented on #72
@indutny True, and I totally agree this should not be applied to all plugins. I think it should be instantiated from the plugin itself. As explained in option #2 here: https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/72#issuecomment-313854965

[2017-07-09 09:19] Garfield550 commented on #76
Thank you

[2017-07-09 16:10] #73 closed

[2017-07-10 01:24] PhilipDavis commented on #30
@michael-ciniawsky I'm not aware of any updates. This is low priority for me because I've found a workaround (which is shown in the second code snippet in the bug description). @bebraw is likely correct that this is actually an issue with Uglify itself, rather than the webpack plugin. Thanks.

[2017-07-10 07:23] sokra commented on #72
I guess we could a a unique check to the `apply` method of `Tapable`. If the plugin has a `unique` property:

* `unique === true`: We add `plugin.constructor` to a Set.
* `unique` is truthy: We add `plugin.unique` to a Set.

This way babli-plugin and uglifyjs-plugin could set `unique = "asset-minimize"`.

---

Anyway there is a case where you want to apply the uglifyjs plugin multiple times:

[cod

[2017-07-10 11:27] mikesherov commented on #72
I don't think this can be solved generically. As Tobias has shown above, there is no generic case where, even for Uglify, where we know uniqueness should happen.

There are two things we can do:
1. If user has supplied the `p` flag, ensure that the plugins that are added by that flag aren't also added manually.
2. Make sure the optimize plugins all use cache so that even if they are applied twice,

[2017-07-10 14:33] hulkish commented on #72
Per that use case @sokra mentioned for using UglifyJsPlugin multiple - I feel like it would be better if we even still forced the unique behavior. And, instead provided a way for them to accomplish the same using during a single pass of the plugin''s event handlers.

Maybe something like:

[code]

[2017-07-10 16:59] mikesherov commented on #72
Point is, there is a lot we can do for *individual plugins*, and with that in mind, having a generic "unique plugin" system seems overkill for handling just the specific cases, but that's just my opinion, and I'm not stuck on it :-)

[2017-07-10 17:01] hulkish commented on #72
@mikesherov I agree, this could just as easily be totally the responsibility of the plugin. That was my original idea but wondered what u folks think.

[2017-07-10 17:02] mikesherov commented on #72
Exactly. I'm just saying what I think ;-)

[2017-07-10 18:28] AlesMenzel opened #78 "Unexpected token name «i», expected punc «;»"
Running into issues when using babel and uglifyjs together. Getting this error on compilation:
[code]

**Compiling without UglifyJS completes without errors.**

The [isemail](https://github.com/hapijs/isemail) library works standalone, but with the babel trnasformation, UglifyJS throws the error above.

Here is a reproduction repository:
https://github.com/AlesMenzel/uglifyjs-bug-report

**Node**:

[2017-07-10 18:44] michael-ciniawsky commented on #78
What version of `UglifyJSPlugin` ?

[2017-07-10 18:48] AlesMenzel commented on #78
Looking at the webpack repo, the webpack 3.1.0 has "uglifyjs-webpack-plugin": "^0.4.6".

[2017-07-10 18:55] michael-ciniawsky commented on #78
Could you try with `npm i -D uglifyjs-webpack-plugin@beta`, which uses `uglify-es` (ES2015+ Minification) to see if that's the cause ?

[2017-07-10 19:03] AlesMenzel commented on #78
Yes, running with the "1.0.0-beta.1" seems to fix the issue and there is no error. But the build is twice as long, from ~750ms to ~1250ms.
[code]

[2017-07-10 20:14] michael-ciniawsky commented on #78
Yes ES5 <=> ES2015 Minifaction is slower, so `Error vs. --perf` I guess 😛
We are working on the `perf` part here #77 atm

⚠️  `babel` transpiled code is especially expensive to minimize, you can alternatively check out `babili-webpack-plugin` (Babel Minifier) I see if it is faster

[2017-07-10 20:14] #78 closed

[2017-07-10 23:31] hulkish opened #79 "`include` isn't currently working"
I'm unfamiliar with the history of the [include option](https://github.com/webpack-contrib/uglifyjs-webpack-plugin#options). So, I went looking and couldn't find a single mention of it in source code of `uglifyjs-webpack-plugin`, `uglify-es` or `uglify-js`.

I wrote this test to prove it:
[code]

This outputs a snapshot:
[code]

As you can see, it is ignoring the `include` option entirely and ugli

[2017-07-12 11:19] hulkish commented on #21
@japgolly How about this for usage:
[code]

[2017-07-12 12:12] hulkish commented on #79
Can be solved by a pr for #21

[2017-07-12 12:26] evilebottnawi commented on #79
strangely, seems your are right,  we need implement #21

[2017-07-15 08:37] zzzgit opened #82 "an error got when building"
![image](https://user-images.githubusercontent.com/1060733/28237918-a09ec9ce-697b-11e7-98d3-66349c82282e.png)

![image](https://user-images.githubusercontent.com/1060733/28237923-b8d667a4-697b-11e7-8264-62ef60799173.png)

I got an error when using this plugin

[2017-07-15 08:41] zzzgit commented on #82
node v6.10.1
webpack 2.6.1

[2017-07-17 07:00] Nirazul opened #84 "[v1.0.0-beta.2] Doesn't support giving a {Function} (`options.extractComments`)"
I've tried to extract comments via the Uglify plugin (latest version), which failed:

[code]

Although I have no minimal reproduction, it's obvious from the source code that the feature of providing a function as `extractComments` option [was never implemented](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/index.js#L97). Of course, there's always a small chance that I'

[2017-07-17 11:10] evilebottnawi commented on #82
@zzzgit seems your use `babel-loader` and something don't compile to ES5, can your give more information about version plugin and example code from `5.js`?

[2017-07-17 18:59] Akkuma opened #85 "Missing documentation & changelog on `uglifyOptions`"
There doesn't seem to be any mention of `uglifyOptions` anywhere in the 1.0.0-beta.1, which I didn't know about until I dug into the source code to resolve a problem that cropped up due to it.

[2017-07-17 19:44] michael-ciniawsky commented on #85
Currently in => `beta` <= PR is here (#61), `develop`, `next`, `beta` branch would be better agreed, but we don't have one atm 😛

[2017-07-17 19:44] #85 closed

[2017-07-20 06:57] osadan opened #88 "options structure convention"
I tried to use uglify-es with angular-cli (v "1.3.0-beta.1")
and switch to uglify-webpack-plugin version 1.0.0 -beta.1
I tried to play around with the options (modify mangle,sourcemap,comments)
and I saw that inside UglifyJsPlugin that there is no uglifyOptions property inside options just options
which lead to that the plugin will not recognized the options coming from webpack/angular-cli
[code]

[2017-07-20 07:34] michael-ciniawsky commented on #88
The need to be updated in `angular-cli` as soon as UglifyJSPlugin `v1.0.0` is out of `beta`. Please open an tracking issue in Angular CLI aswell :)

[2017-07-20 14:16] hulkish commented on #82
@zzzgit can u try using the `ecma` option? ex:
[code]

Also, make sure you're not using a module transforn babel plugin... For ex... set  `modules: false` if you're using babel-preset-es2015 or babel-preset-env.

[2017-07-20 15:00] hulkish commented on #72
Closing this in light of https://github.com/webpack/webpack/pull/5248#issuecomment-316705008

[2017-07-20 15:00] #72 closed

[2017-07-20 21:33] #27 closed

[2017-07-20 21:35] #30 closed

[2017-07-20 21:37] #88 closed

[2017-07-20 21:39] michael-ciniawsky commented on #82
@zzzgit Ensure to either transpile your JS to ES5 when using `<= v0.4.6` or if you use `>= v1.0.0-beta.0` see @hulkish's comment and feel free to reopen if still regressions :)

[2017-07-20 21:39] #82 closed

[2017-07-21 03:53] zzzgit commented on #82
update to `v1.0.0-beta.0`, and then` { uglifyjsOptions: { ecma: 8 } }`, now it works

[2017-07-21 04:04] #4 closed

[2017-07-21 15:01] kzc opened #89 "docs(README): `UglifyJS v3` should be `uglify-es`"
The current [README](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/8459b4678d08af43d487a1d491778611fe5af7ec/README.md#uglifyjs-webpack-plugin) states:

That is incorrect.

`uglify-js@3` only handles ES5, whereas `uglify-es` handles ES6+.

The README should state:

[2017-07-21 21:07] michael-ciniawsky commented on #89
I thought `UglifyJS v3` is `uglify-es` on npm, where the `-es` is the 'harmony'  branch/version of `uglify` (ES2015+), your release/package management is very confusing :). Is it absolutely incorrect to refer to a Uglify**JS** version? If so, please let me know and I will fix it later then 😛 . Anything else which isn't correct ?

[2017-07-21 23:31] kzc commented on #89
I appreciate that the nomenclature is confusing.

[`uglify-es`](https://github.com/mishoo/UglifyJS2/tree/harmony) is the [npm package name](https://www.npmjs.com/package/uglify-es) based off of the `harmony` branch of uglify supporting ES6+. The `master` branch of the [`UglifyJS2` repository](https://github.com/mishoo/UglifyJS2) presently only supports ES5 and has the npm package name "uglify-js".

[2017-07-23 05:31] osadan commented on #88
reference to angular cli issue https://github.com/angular/angular-cli/issues/7063

[2017-07-25 14:50] nelsonomuto commented on #48
An easier alternative would be to use *yarn*.
This one liner resolved my issues `npm i -g yarn && yarn global add webpack`.

[2017-07-25 23:09] d3viant0ne commented on #48
Everything under contrib will remain package manager agnostic, `just use yarn` is not a viable workaround as it forces everyone down that path.

[2017-07-25 23:13] nelsonomuto commented on #48
For my use case I was able to install webpack without the -g flag using npm. The problem was installing webpack `globally`, by using yarn I was able to install `webpack` globally and it did not interfere with my local `npm install`. The issue I am facing is not being unable to install webpack using npm, only I cannot install it *globally* using npm, however with yarn I can install it globally and

[2017-07-26 10:07] julmot opened #90 "uglifyOptions aren't working – passing option without works"
When I pass `compress` as a child of `uglifyOptions` the console statements will not be removed.

[code]

But this works:

[code]

I'm using Webpack v3.4.1.

[2017-07-26 10:34] michael-ciniawsky commented on #90
`uglifyOptions` is the new `options` interface for `uglifyjs-webpack-plugin >= v1.0.0-beta` currently usable via `npm i -D uglifyjs-webpack-plugin@beta`, webpack by default ships with `uglifyjs-webpack-plugin v0.4.6` which uses the 'old' interface without `uglifyOptions`. This will change in the near future when `uglifyjs-webpack-plugin v1.0.0` is out of `beta`

[2017-07-26 10:34] #90 closed

[2017-07-26 11:54] eahlberg opened #92 "SyntaxError: Cannot declare a let variable twice"
I'm running OS X, node 7.4.0, and transpile my JS using babel preset ES2015. I got the following error when running `v0.4.6`:
[code]

After upgrading to `v.1.0.0-beta.1` this error was fixed, but somehow, the following error appear on Safari:
[code]

Any clues to why this is?
Thanks!

[2017-07-26 12:06] evilebottnawi commented on #92
@eahlberg error can be located in `uglify-es`. Can your provide minimum reproducible test repo?

[2017-07-26 12:19] michael-ciniawsky commented on #92
There is/was a known scope bug in Safari (`v10.0.0`? I think), which version are you currently using ?

[2017-07-26 12:29] eahlberg commented on #92
Yes, I read about that bug somewhere. I'm using `v10.0.3`, but I want to target older versions as well.

The issue is kind of tangled in a big repo, I'll try to come up with a minimum test case!

[2017-07-26 13:33] samouri opened #95 "[v1.0.0] Release Date (?)"
First off I wanted to say thank you for all of the excellent work!
I've been playing with the `v1.0.0-beta.2` release for the past week and its incredibly fast + pleasant to use.

I was wondering if there was any rough timeline for when 1.0 would get out of beta? Would you guess on the order of days/weeks or months?

Thanks!

[2017-07-26 14:34] eahlberg commented on #92
Easier said than done apparently 🙁

Didn't manage to construct a simple case, but the code in my bundle which throws the error looks as follows, if it's to any help:
[code]

@evilebottnawi hmm, maybe I haven't completely grokked this, but if this is a bug in `uglify-es`, does it mean that I'm not transpiling correctly since my bundle shouldn't contain ES6 stuff after the transpiling?

[2017-07-26 14:45] #89 closed

[2017-07-26 15:00] evilebottnawi commented on #92
@eahlberg beta version uglify plugin should be works with ES6. Do your use `babel-loader`? Maybe something in `babel` don't compile in right way. It is hard to debug this without test repo :disappointed:
Who can don't work as expected:
1. `babel-loader` (maybe some plugin for babel don't work as expected)
2. `uglify-es` (maybe something don't compress in right way)
3. Bug in `safari` (can your tes

[2017-07-26 15:09] eahlberg commented on #92
Yes, I use `babel-loader`. I'll try to upgrade the `babel` packages and see if it fixes the bug.

As for 3, it works fine in Firefox and Chrome.

[2017-07-26 15:38] eahlberg commented on #92
Unfortunately, upgrading the `babel` packages didn't fix the issue.

[2017-07-26 15:41] evilebottnawi commented on #92
@eahlberg can your step by step remove code from your code base to understand what code produces an error?

[2017-07-26 17:31] d3viant0ne commented on #95
Realistically, weeks. Prior to release ( latest tag ) on the big ticket items & once everything is solid enough code wise, the change also needs to be communicated & tested for the major integrations that everyone else in turn uses. e.g Create-React-App, Angular/cli and so on.

[2017-07-26 17:31] #95 closed

[2017-07-26 21:44] kwelch commented on #31
**Question**
I am seeing this when using Uglify from `webpack.optimize.UglifyJsPlugin` in `webpack@3.4.1` is there something I should be doing in particular?

[2017-07-27 05:29] osadan opened #96 "when the release of 1.0 is planed ?"

[2017-07-27 06:28] d3viant0ne commented on #96
https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/95#issuecomment-318125994

[2017-07-27 06:28] #96 closed

[2017-07-27 10:25] eahlberg commented on #92
I think I have pinned down the bug now.

If I'm not totally wrong, the cause was in one of the libraries I use, specifically on [this](https://github.com/fantasyland/daggy/blob/master/src/daggy.js#L1) line (which shadows `toString`), in combination with mangling. I can't really see why that line would be incorrect, but since there's a confirmed bug in Safari concerning this, I guess that might hav

[2017-07-27 10:34] evilebottnawi commented on #92
@eahlberg `mangle` is danger, but `const { toString } = require('sanctuary-type-classes')` should be work. Can your test code without `uglify` plugin and without `babe-loader`? Error happens only when uglify plugin enable?

[2017-07-27 10:47] evilebottnawi commented on #92
@eahlberg seems bug inside `uglify-es`, can your create issue in `uglify` repo with reference on this issue?

[2017-07-27 11:29] michael-ciniawsky commented on #92
Mangling can be destructive in certain cases, it is 'advanced' usage and a 'non-safe' transformation, closing since it is unrelated to `uglifyjs-webpack-plugin` itself :)

[2017-07-27 11:29] #92 closed

[2017-07-27 18:15] mikesherov commented on #79
So is this just a dupe of #21 then and can we close this?

[2017-07-27 19:28] michael-ciniawsky commented on #79
Yep, closing in favour of #21

[2017-07-27 19:28] #79 closed

[2017-07-29 15:49] stevefan1999 opened #97 "[v1.0.0-beta.2] parallelization isn't working"
Well I was hacking next.js and tried to play with the new toy in town

I attempted to remove the old uglifyJs from webpack and installed the beta version back into the plugins config in wepback:
[code]
So then I built several times
[code]
~22s, this is pretty slow...
I can validate uglify-es is working by checking the output(which is originally ES6+)

So I decided to turn off parallelization:
[cod

[2017-07-29 15:52] stevefan1999 commented on #97
[code]
in package.json if you're interested

[2017-07-29 15:59] stevefan1999 commented on #97
So I think maybe the worker farm configuration for was off?
I checked my process list and did find multiple Node processes with `worker-farm/lib/child/index.js` during building phase, but **only one** of them is burning with high CPU usage(~13%), and the others are pretty much idling in ~0.5%, where as webpack-parallel-uglify-plugin they are amortized. Hmm...

[2017-07-31 06:04] ahammond93 opened #98 "Missing commons in manifest when using UglifyJS"
Hi,

For some reason when I use UglifyJS with webpack-php-manifest, I am missing my commons bundle. Does anyone know why this may be?

Thanks,
Andy

[code]

[2017-07-31 13:04] sybrendotinga opened #99 "[v1.0.0-beta.2] @license comments aren't removed"
I was trying out the latest beta (v1.0.0-beta.2), but it is not working for me. I also reverted back to v.0.4.6 but that version works.

[code]

**webpack.config.js**

[code]

**Versions:**
[code]

[2017-07-31 13:42] evilebottnawi commented on #99
@sybrendotinga can your provide minimum reproducible test repo?

[2017-07-31 14:14] willalbone commented on #99
I had the same issue, the compress and output options passed to UglifyJSPlugin need to be moved to uglifyOptions, however the plugin should provide a better error message.

[code]

[2017-07-31 14:27] sybrendotinga commented on #99
Moving my options to 'uglifyOptions' worked for me.

[2017-07-31 16:09] mikesherov opened #100 "[v1.0.0-beta.2] cacheKey doesn't take uglifyOptions into account"
The cache key for cached version of the output should also include the options passed to uglify, otherwise, the same input with different options will yeild incorrect output.

[2017-07-31 20:25] sybrendotinga commented on #99
It seems that @lincense comments are not removed anymore by passing the options trough uglifyOptions. For example:

[code]

[2017-08-01 02:22] hulkish commented on #100
@mikesherov What solution do u recommend?

[2017-08-01 09:46] evilebottnawi commented on #99
@sybrendotinga seems your are right

[2017-08-01 10:57] mikesherov commented on #100
No, I recommend stringifying the uglifyOptions as part of the cacheKey generation at the same spot uglify version number is appended.

[2017-08-01 13:02] ahumblenerd commented on #97
I have also observed something similar. It is creating two workers and one of them is peaking and the other one is idling.

The package @stevefan1999  suggested did provide me performance boosts as well.

[2017-08-01 13:14] michael-ciniawsky commented on #99
@sybrendotinga Could you please share your current config?

[2017-08-01 13:16] michael-ciniawsky commented on #97
@stevefan1999 @ahumblenerd I need your more info about your setups please (`webpack.config.js`), webpack wrappers (Next.js, Angular CLI) etc.

[2017-08-01 13:21] michael-ciniawsky commented on #98
webpack, uglifyjs-webpack-plugin versions please, does this only happen, when using `php-manifest-plugin` ?

[2017-08-01 13:31] ahammond93 commented on #98
Yes, comment out the plugin usage and the manifest will contain all bundles. Leave it in and you will be missing commons bundle.

Webpack version: ^2.6.1
UglifyJs version: ^0.4.6

[2017-08-01 14:11] sybrendotinga commented on #99
I bundled my files to one for a better overview. But I hope that I didn't miss anything. This should be it.

[code]

Basically this is my UglifyJSPlugin configuration:

[code]
And my current version is v1.0.0-beta.2.

[2017-08-02 08:41] arshtepe opened #101 "Exclude option not working"
Exclude option not working
[code]

I tried with webpack 2.4.1 and 3.4.1.

node v8.2.1
npm 5.3.0
uglifyjs-webpack-plugin 0.4.6
Ubuntu 16.04
Linux 4.4.0-83-generic Ubuntu x86_64 x86_64 x86_64 GNU/Linux

[2017-08-02 10:10] evilebottnawi commented on #101
@arshtepe thanks for issue, seems duplicate https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/21

[2017-08-02 10:10] #101 closed

[2017-08-02 10:23] andyhall opened #102 "Shouldn't there be a way to pass in a specified Uglify version?"
I've had an unpleasant issue where the current version of Uglify#harmony (3.0.27) minimizes my code fine, but the version inside this plugin (2.8.29) barfs. Paradoxically the only way I can figure out to fix this is to "downgrade" to the `uglifyjs-webpack-plugin2` plugin (since it gets uglify via peer dependency).

Am I missing some obvious undocumented way to handle this? If not, would it not mak

[2017-08-02 12:12] nifgraup commented on #102
use the latest uglifyjs-webpack-plugin beta, it depeds on uglify-es 3

[2017-08-02 14:03] michael-ciniawsky commented on #102
`npm i -D uglifyjs-webpack-plugin@beta` (`uglify-es`)

[2017-08-02 14:03] #102 closed

[2017-08-02 14:39] andyhall commented on #102
Thanks! Maybe worth mentioning in the readme or similar.

[2017-08-03 12:33] moimael opened #103 "Publish beta version on npm"
HI,

Would it be possible to publish the 1.0.0 beta version of the plugin to npm ? We have issues with uglifyjs and es6 and I'd love to use this version.

Thanks !

[2017-08-03 12:55] michael-ciniawsky commented on #103
[code]

[2017-08-03 12:55] #103 closed

[2017-08-03 14:13] moimael commented on #103
Thanks ! But now no matter what i do i get errors because of es6 like
[code]

[2017-08-04 03:54] kwelch commented on #31
@bebraw I am still having this issue. Should we re-open this ticket or create a new one? You should be able to use my repo from my previous comment to reproduce the error message.
I have [created a branch](https://github.com/kwelch/simple-react-starter/tree/uglifyjs-31) to ensure master does no update prior to you getting a chance to look at this.

[2017-08-04 04:11] michael-ciniawsky commented on #31
@kwelch Try the `beta` which supports `uglify-es` && parallelization `npm i -D uglifyjs-webpack-plugin@beta`

[2017-08-04 04:29] kwelch commented on #31
@michael-ciniawsky
I pushed a [new branch](https://github.com/kwelch/simple-react-starter/tree/uglifyjs-31-beta) that has a direct dependency on the beta version of the plugin and was presented with a new error.

Error:
[code]

[2017-08-04 04:58] michael-ciniawsky commented on #31
Try without `devtool` especially `cheap-source-maps` don't work with this plugin

[2017-08-04 08:35] moimael opened #104 "Es6 parsing errors"
Using the latest beta 2 release, i still can't compile our project with webpack and uglify js. I get a bunch of errors:
[code]

I specified the `ecma: 8` option.
Any idea why this happens ?

Thanks !

[2017-08-04 10:22] izatop commented on #104
I have same error with the equal ecma option.

[2017-08-04 11:50] evilebottnawi commented on #104
@moimael thanks for issue, can your create minimum reproducible test repo?

[2017-08-04 12:17] evilebottnawi commented on #104
@moimael can you provide config (or part of config) where your configure plugin and options, maybe wrong options, without repo difficult to determine where problem :disappointed:

[2017-08-04 13:04] moimael commented on #104
Here you go:
[code]

[2017-08-04 13:20] evilebottnawi commented on #104
@moimael okey, let's debug this :+1:

[2017-08-04 13:55] kwelch commented on #31
Good to know thanks!

[2017-08-05 02:05] kwelch commented on #31
@michael-ciniawsky I took out all settings about related to devtool and still same `reset` error.

[2017-08-05 06:14] stevefan1999 commented on #97
@michael-ciniawsky Sorry for responding lately, I have other works to do.

Here it is my config (actually `next.config.js`, not `webpack.config.js`):
[code]
I didn't see any issues there

[2017-08-06 07:43] trusktr opened #105 "Fails on `let`?"
I tried this, with

[code]

in my dependencies, but I still get this problem:

https://github.com/webpack/webpack/issues/5449

[2017-08-06 07:45] trusktr commented on #105
I just tried with

[code]

in my dependencies but still no luck.

[2017-08-06 08:07] trusktr commented on #105
Ah, well, for now I'm using babili-webpack-plugin which is working for ES6+.

[2017-08-06 09:00] tapesec commented on #104
@moimael same problem here with arrow function in my app.js main file
![prtscr capture](https://user-images.githubusercontent.com/4386903/29001910-03687cc8-7a96-11e7-9b93-070b5472df20.jpg)

UglifyJs conf :
`new UglifyJSPlugin({
            parallel: true,
            uglifyOptions: {
                ecma: 7
            },
            beautify: false,
            sourceMap: true,
            commen

[2017-08-06 15:41] michael-ciniawsky commented on #105
v0.4.6 (`uglify-js` v2.0.0) doesn't sufficiently support ES2015. You can try out `uglifyjs-webpack-plugin@beta` `npm i -D uglifyjs-webpack-plugin@beta` which uses `uglify-es` and supports parallelization

[2017-08-06 15:41] #105 closed

[2017-08-07 10:19] moimael commented on #104
Any ideas or workaround ? :)

[2017-08-07 12:48] moimael commented on #104
If i disable the `mangle` and `compress` option I get this:

[code]

[2017-08-07 13:48] Marcsimm commented on #104
Any update on this issue. It's preventing deployment.

[2017-08-07 22:39] damiandennis commented on #48
npm install --unsafe-perm -g webpack also works

[2017-08-08 09:47] ambewas commented on #104
Encountering this issue with running `webpack -p` as well.

[2017-08-08 10:09] evilebottnawi commented on #104
WIP

[2017-08-08 10:12] evilebottnawi commented on #104
@ambewas just confirm, your use `webpack` 3.5.0?

[2017-08-08 10:18] ambewas commented on #104
@evilebottnawi that's correct. I was having the issue with 3.4.1 but just tried with 3.5.0 as well & the error remains

[2017-08-08 10:19] ambewas commented on #104
here's my webpack config, btw:

[code]

and my dependencies:

[code]

[2017-08-08 11:09] evilebottnawi commented on #104
@moimael @izatop @tapesec @Marcsimm @ambewas do your use `webpack.optimize.ModuleConcatenationPlugin` ? If yes, please try to disable and test again, thanks!

[2017-08-08 11:13] ambewas commented on #104
@evilebottnawi  nope, only these:

[code]

[2017-08-08 11:16] evilebottnawi commented on #104
@ambewas weird, can your create minimum reproducible test repo?

[2017-08-08 11:22] ambewas commented on #104
@evilebottnawi  I'm setting up a small repo right now. But I think I've already gotten a hint to the issue.

I'm importing .mp4 links in my code -- without these, it seems uglify is happy. With them, I get the error.

[2017-08-08 11:29] ambewas commented on #104
@evilebottnawi  here's a repo where you can reproduce the issue
https://github.com/ambewas/uglify-webpack-build-error

`npm start` runs fine,  `npm run bundle` (which is basically `webpack -p` )  fails with the aforementioned error

[2017-08-08 11:30] evilebottnawi commented on #104
@ambewas thanks!

[2017-08-08 11:35] evilebottnawi commented on #104
Maybe can help somebody: if your use webpack `3.5.0`, just update to `3.5.1` (https://github.com/webpack/webpack/pull/5460).

[2017-08-08 12:19] ambewas commented on #104
@evilebottnawi  I'm so sorry, but I tried your suggested solution to upgrade to `3.5.1` in the reproduction repo, & I'm still getting the error on `npm run bundle` (`webpack -p`)

[2017-08-08 12:21] evilebottnawi commented on #104
@ambewas don't worry, i am watching your repo right now.

[2017-08-08 12:56] evilebottnawi commented on #104
@ambewas problems in your configuration:
1. Use this config for `babel-loader`:
[code]
2. `es2016` babel preset don't contain `babel-plugin-transform-es2015-arrow-function` (look at https://github.com/babel/babel/blob/master/packages/babel-preset-es2016/package.json#L11), but your use `() => {}`, just add `es2015` preset
[code]

[code]

Also i recommend use `babel-preset-env`.

[2017-08-08 13:00] ambewas commented on #104
@evilebottnawi  thanks so much -- that works perfectly.
Can't believe I overlooked that.

[2017-08-08 13:25] evilebottnawi commented on #104
@moimael do your use `babel-loader`?

[2017-08-08 13:38] moimael commented on #104
Yes I do, but I use babel-preset-env that's why I need to minify es6

[2017-08-08 13:40] evilebottnawi commented on #104
@moimael very strange, i create repo based on your information and all work as expected, no warnings and errors, need reproducible repo

[2017-08-08 17:21] evilebottnawi commented on #97
@stevefan1999 thanks for issue, let's investigate this and fix :+1:

[2017-08-09 05:11] pingshunhuangalex commented on #104
Same problem here with `babel-preset-env` installed, including `es2015` didn't solve the problem.

[2017-08-09 09:24] moimael commented on #104
@evilebottnawi Where can I find your repo where you try to reproduce the problem ? I'll take it as a basis to reproduce our issue.

[2017-08-09 10:01] evilebottnawi commented on #104
@moimael locally, on my projects
@pingshunhuangalex please create minimum reproducible test repo, thanks!

[2017-08-09 14:15] pingshunhuangalex commented on #104
Hi @evilebottnawi

Can you try (this repo)[https://github.com/shershen08/vue-masonry-plugin-demo] for issue testing? Just download the project, `npm i` and `npm run build`, you'll see the error which points to an ES6 error function.

As I mentioned above, I tried all the methods mentioned above, but no luck. Let me know if you find anything. Thanks.

[2017-08-09 20:47] kzc commented on #104
@pingshunhuangalex

The [repo](https://github.com/shershen08/vue-masonry-plugin-demo) provided is using an old version of `uglifyjs-webpack-plugin` that uses `uglify-js` which is ES5 only:

https://github.com/shershen08/vue-masonry-plugin-demo/blob/34b213bb6b17130ddc0abde68cdb18294bc281af/package.json#L42

`uglifyjs-webpack-plugin@1.0.0-beta.2` uses the ES6+ capable [`uglify-es`](https://www.npmjs

[2017-08-10 07:58] imjustfly opened #109 "uglifyjs-webpack-plugin cannot recognize es6 array spread operator"
Using  the spread operator `...` will lead to an error as below:

[code]

the code is like this

[code]

and my config in webpack:

[code]

[2017-08-10 10:10] evilebottnawi commented on #109
@imjustfly can your provide minimum reproducible test repo?

[2017-08-10 10:14] evilebottnawi commented on #104
@moimael friendly ping, can your provide at least `webpack` config?

[2017-08-10 11:06] moimael commented on #104
Here you go, it's quite big, sorry for that.
[code]

[2017-08-10 11:36] evilebottnawi commented on #104
@moimael hm, looks good, maybe something wrong with deps, can your make sure what your have `1.0.0-beta.2` version in `node_modules/uglifyjs-webpack-plugin`? Also please provide `.babelrc` file, thanks!

[2017-08-10 11:37] moimael commented on #104
Yeah I checked the right version is being used, I even deleted and reinstalled my node_modules folder.
Here is my .bablerc:

[code]

[2017-08-10 11:43] evilebottnawi commented on #104
@moimael just for check, can your add `"uglify": true` to `targets` section? Btw some babel plugins can output non standard syntax, which doesn't support `uglify-es`.

[2017-08-10 11:50] moimael commented on #104
So I tried something and think I found the issue. If I use `webpack -p` even when specifying the uglify js plugin 1.0.0-beta2, it seems like webpack is using the builtin plugin. On the other end, if I use `webpack --define process.env.NODE_ENV=production`, my code correctly use the beta2 version and my code is minified without errors. It's very confusing though.

[2017-08-10 11:56] evilebottnawi commented on #104
@moimael known issue (after stable release, it will avoid), here in issue was solution (plugin) how unpin default webpack uglify plugin. Can we close issue?

[2017-08-10 18:02] #104 closed

[2017-08-10 19:05] kzc commented on #109
This indicates that `uglify-js@2` is being used which can only process ES5.

`uglify-es` can handle array spreads...

[code]
See: https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/104#issuecomment-321376934

[2017-08-13 19:09] fredley commented on #48
`npm install --unsafe-perm -g webpack` did not work for me

[2017-08-15 21:32] gabaum10 opened #110 "[0.4.6] Incorrect lines when used with `babel-loader` (`options.sourceMap`)"
**Webpack**: 3.5.3
**uglifyjs**: webpack-plugin: 0.4.6
**babel-core**: 6.25.0
**babel-loader**: 7.1.1

**webpack.config.js**:
[code]

![nobreakpoints](https://user-images.githubusercontent.com/1561245/29337326-e82f4bda-81de-11e7-9df1-5eb855a25667.PNG)

Notice this screenshot from the chrome debugger.  There are lines that should quite obviously be able to be debuggable that you can't set breakpoin

[2017-08-16 10:16] evilebottnawi commented on #110
@gabaum10 we get source map from `uglify-js` in `0.4.6` and seems your get invalid source map from this module, can your try `beta` version of plugin, just confirm error in new version? Also if your create minimum test repo, it is be easy to investigate problem. Thanks!

[2017-08-16 12:58] gabaum10 commented on #110
@evilebottnawi I'm having a hard time installing the beta.  When I add it via npm directly from the git+https://github.com/webpack-contrib/uglifyjs-webpack-plugin.git#v1.0.0-beta.2, it's just adding a folder in the node_modules directory with nothing I can reference and am getting the following error:

[code]

Do I need to manually run a build before it's usable in my webpack config?

[2017-08-16 13:07] evilebottnawi commented on #110
@gabaum10 `npm i -D uglifyjs-webpack-plugin@beta`

[2017-08-16 13:19] gabaum10 commented on #110
Thanks!  I just confirmed the issue is still happening with the beta version.  I'll make a test repo now and see if I can reproduce it in a simple test case.

[2017-08-16 13:21] evilebottnawi commented on #110
@gabaum10 great!

[2017-08-16 14:16] gabaum10 commented on #110
@evilebottnawi So I tried to create a simple project with approximately the same configuration as our main web project, but the maps seem to work correctly here.

https://github.com/gabaum10/webpack-uglifyjs-sourcemap-test

Obviously our main project is many orders of magnitude more complex.  Is there anything that we could be doing that might make the line numbers get thrown off?  Maybe importing

[2017-08-16 15:52] evilebottnawi commented on #97
@stevefan1999 found problems when ending https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/108 PR, `parallelization` just not works, before merge this PR i recommend disable `parallelization`, thanks!

[2017-08-16 15:58] michael-ciniawsky commented on #109
Please use `npm i -D ugilfyjs-webpack-plugin@beta` instead or transpile to ES5 via `babel-loader`

[2017-08-16 15:58] #109 closed

[2017-08-16 16:05] michael-ciniawsky commented on #98
Please reopen this in `php-manifest-plugin` instead, it's unlikely that `uglifyjs-webpack-plugin` is the cause here. The plugin just minifies `assets` and doesn't add or remove them

[2017-08-16 16:05] #98 closed

[2017-08-16 21:04] gabaum10 commented on #110
Holy crap.  There was something with webpack@3.5.3 that was causing the issue.  I updated to 3.5.5, the latest and everything just started magically working.  Yeesh.

So if anyone has this problem, update to 3.5.5 for the next 3 days before that becomes outdated.  :)

[2017-08-16 21:09] gabaum10 commented on #110
Crap, scratch that.  I had the plugin disabled.  Man, my brain is really fizzling...

[2017-08-16 21:17] evilebottnawi commented on #110
@gabaum10 tomorrow i investigate this, tired, thanks!

[2017-08-17 01:23] gabaum10 commented on #110
I have a theory that I have been mulling over.  In our main web project we have a good number of circular dependencies.  I have disabled the circular dependency plugin because I wasn't seeing any runtime errors.  Perhaps that might be causing the issues I'm seeing?  I'll will try to resolve the circular dep tomorrow and report back if that helped.

Is there a precedence for that causing issues whi

[2017-08-17 02:38] jinker opened #111 "[v1.0.0-beta.2] sourcemap not work in parallel"
first set cache true, parallel false
then parallel true, the sourcemap not work

[2017-08-17 03:17] kzc commented on #110
There's no bug here. Better minification negatively impacts debugability. As statements are combined, reordered, folded and removed it stands to reason that many breakpoints will no longer work in the debugger.

If you're willing to accept a few percent larger minified code size just set the uglify options:
[code]
you'll get the results you seek.

See:

https://github.com/mishoo/UglifyJS2/issues/2

[2017-08-17 04:53] kzc commented on #110
I just used the debugger in FireFox for the first time in ages (FF55) and I'm happy to report it can step through fully uglified code (compress + mangle) with source maps - unlike Chrome 60. Firefox has a superior debugging experience. Chrome has to pick up their game.

[2017-08-17 09:14] evilebottnawi commented on #111
@jinker thanks for issue, `uglifyjs-webpack-plugin` don't contain `cache` now, it is implement only in https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/108. We have only `parallel` option. Can your provide minimum test repo, thanks!

[2017-08-17 10:37] gabaum10 commented on #110
I'll try that in a bit and it all might be well and good, but we can't exactly tell people to use Firefox so we can get proper error logs.  This goes beyond debuggability but actually limits how useful stack traces are.

[2017-08-17 11:53] evilebottnawi commented on #110
@gabaum10 just confirm: comments @kzc help to problem? seems it is out of scope `uglifyjs-webpack-plugin`

[2017-08-17 12:07] gabaum10 commented on #110
Unfortunately, that doesn't seem to have helped.  The line numbers are still messed up.

@kzc just to confirm, I initialized the plugin like so:
[code]

[2017-08-17 12:28] evilebottnawi commented on #110
@gabaum10 Maybe :smile: Test repo contain problem?

[2017-08-17 13:14] kzc commented on #110
My source map comments above were just about uglify itself.

Webpack appears to have longstanding issues with source maps on Chrome:

https://github.com/webpack/webpack/issues/3165

[2017-08-17 13:30] gabaum10 commented on #110
Well, the source maps work perfectly fine when I turn the uglify plugin off.  I don't think it's directly because of chrome and sourcemaps.  I've resolved my circular deps and things still seem wonky, so that rules out that theory...

[2017-08-17 16:13] jpgilchrist commented on #110
Could this be an issue with dead code? I had a theory that it might be the case as we have a very large codebase with a bunch of legacy code littered throughout and probably have a bunch of dead code.

The experiment:

I found an entry point with very little dependencies and bundled that alone. The source maps were seemingly perfect. I then added a massive dead code block and then tried the source

[2017-08-18 09:07] crazyxhz commented on #111
I'm also have this issue.
[code]
when set parallel to true, source map is not generated.
I'm using v1.0.0 beta2

[2017-08-18 09:09] evilebottnawi commented on #111
@crazyxhz should be fixed after approved https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/108, also i add tests, thanks!

[2017-08-18 09:53] crazyxhz commented on #111
@evilebottnawi  sorry, it's a typo, I'm using devtool correcly in my webpack config

[2017-08-18 09:57] evilebottnawi commented on #111
@crazyxhz after review https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/108 i can add tests for this and if don't works as expected i will fix this, thanks!

[2017-08-19 14:48] gabaum10 commented on #110
Ok, quick update.

@jpgilchrist may be on to something. I setup eslint for our project and starred the ever so enjoyable process of fixing all 200k issues.  Some of these issues were none other than dead code.  After finishing about 70%, I ran the production build with uglify and am happy to report an almost perfect source map.  Let me finish up fixing all those issues and I will report back and c

[2017-08-20 19:37] code-chris opened #112 "Plugin breaks to minify es2015 and newer"
Hi,
today I changed my TypeScript "target" setting from "es5" to "es2015". This caused an compile error in one of my typescript files:
[code]
The line and column refers to the class name. This error happens too with more modern target settings.

My setup:
- TypeScript 2.4.2
- Webpack 3.5.4
- uglifyjs-webpack-plugin 1.0.0-beta.2
- uglify-js 3.0.10
- OS Windows 10
- Node 8.1.2

Maybe this relates to

[2017-08-20 20:09] kzc commented on #112
https://stackoverflow.com/a/45088328

[2017-08-21 09:34] evilebottnawi commented on #112
@code-chris link above help to solve problem, if not please provide a minimum reproducible test repo, thanks!

[2017-08-21 17:08] code-chris commented on #112
Thanks for your quick reply, but the issue still occurs: https://github.com/code-chris/uglifyjs-repro

[2017-08-21 17:33] kzc commented on #112
`uglifyjs-webpack-plugin@0.4.6` and `uglify-js@2.x` can only minify ES5:

https://github.com/code-chris/uglifyjs-repro/blob/8bd2d31083fcdd34fcb64acf5e124238225c061f/package.json#L10

[code]

If you've configured it successfully you would see `uglify-es` in [`package-lock.json`](https://github.com/code-chris/uglifyjs-repro/blob/8bd2d31083fcdd34fcb64acf5e124238225c061f/package-lock.json).

[2017-08-21 17:56] code-chris commented on #112
@kzc sorry, my fault. Yes, this fixed the original issue. Now I hit the same bug as described in #31.

[2017-08-21 18:13] kzc commented on #112
The stackoverflow instructions do work. All I can suggest is to delete `node_modules` and do a fresh `npm install` and verify the module versions in `package-lock.json`.

People experiencing issues configuring webpack should wait for the `uglifyjs-webpack-plugin @1.0.0` release.

[2017-08-21 18:23] code-chris commented on #112
clean install brings the initial error again, but ok. Is there a final release date planned (or a rough range) ?

[2017-08-22 09:41] evilebottnawi commented on #112
@code-chris First we should review https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/108, some time later we will do final release, thanks!

[2017-08-22 17:13] evilebottnawi commented on #110
@gabaum10 Congratulations!

[2017-08-22 19:43] jpgilchrist commented on #110
@evilebottnawi but that seems like it's a pretty significant issue. Webpack touts its ability to perform tree shaking. The fact that the existence of dead code causes issues in the generation of source maps is rather disconcerting. With webpack it's relatively common practice to specify something like

[code]

If that `SOMETHING_DEFINED_BY_DEFINE_PLUGIN` evaluates to `false` then dead code was jus

[2017-08-22 21:33] alejuanito commented on #31
You must install uglify2
npm i uglify-js@2 -D

[2017-08-23 09:10] evilebottnawi commented on #110
@jpgilchrist need investigate this, maybe related https://github.com/webpack/webpack/issues/2145 or https://github.com/webpack/webpack/issues/3165, or maybe problem(s) inside `uglify-es`. Feel free to reopen. I glad if your help me with this, also if problem(s) in `uglifyjs-webpack-plugin` PR welcome :+1:

[2017-08-23 10:52] gabaum10 commented on #110
Alright, well let's investigate further then.

[2017-08-23 17:45] wfgmiami opened #113 "npm ERR! uglifyjs-webpack-plugin@0.4.6 postinstall: `node lib/post_install.js`"
I am getting the following error when trying to install webpack on AWS EC2:

![image](https://user-images.githubusercontent.com/16696928/29629916-80091826-8808-11e7-8598-876cf88348ac.png)

[2017-08-23 17:52] evilebottnawi commented on #113
@wfgmiami Seems your have invalid permission in your, look on your first line in screenshot. Remove `node_modules` and try to install again.

[2017-08-23 17:56] wfgmiami commented on #113
@evilebottnawi I do not know why i get that permission denied message. I am able to install other packages like express for example. I removed node_modules, ran again but i got the same error.

[2017-08-23 18:03] evilebottnawi commented on #113
@wfgmiami I see your work using `root`, it is not recommended (this can cause problems). But your can try to create minimum reproducible test repo, maybe it is allow to find your problem.

[2017-08-23 19:20] wfgmiami commented on #113
@evilebottnawi Thanks for your help. I did sudo apt-get install nodejs-legacy and after than I was able to npm install webpack.

[2017-08-23 20:15] #113 closed

[2017-08-25 04:03] kzc commented on #92
This is an ES6 bug in Safari 10:

https://bugs.webkit.org/show_bug.cgi?id=171041

To workaround this Safari 10 bug set the `uglify-es` `mangle` option `safari10`:

  iterator [bug](https://bugs.webkit.org/show_bug.cgi?id=171041) "Cannot declare a let variable twice".

related links:

https://github.com/mishoo/UglifyJS2/tree/harmony#mangle-options
https://github.com/mishoo/UglifyJS2/issues/1753
htt

[2017-08-25 19:35] bradennapier opened #114 "TypeError: requestShortener.shorten is not a function"
Getting this when trying to use this plugin:

[code]

[2017-08-26 13:25] evilebottnawi commented on #114
@bradennapier can you create minimum reproducible test repo?

[2017-08-26 17:06] kentenzer opened #115 "Unable to install on ARM Linux"
[npm-debug.txt](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/files/1253836/npm-debug.txt)
Hi,

I am trying to install webpack on my Raspberry Pi, I run the following command:
```npm install --save-dev --no-optional webpack```
and I am getting this output:
[code]
Any idea?

I attach the npm-debug output.

Thanks,
Ken

[2017-08-28 06:51] michael-ciniawsky commented on #115
It's a know issue in `uglifyjs-webpack-plugin =< v0.4.6` use the current `beta` instead please `npm i -D uglifyjs-webpack-plugin@beta`, which doesn't include this file anymore

[2017-08-28 06:51] #115 closed

[2017-08-28 06:53] michael-ciniawsky commented on #112
`npm i -D  uglifyjs-webpack-plugin@beta` (`uglify-es`) => Minify ES2015+

[2017-08-28 06:53] #112 closed

[2017-08-30 03:33] kentenzer commented on #115
Hi Michael,

Thanks for your quick response, using beta version, I get:
`npm WARN uglifyjs-webpack-plugin@1.0.0-beta.2 requires a peer of webpack@^2.0.0 || ^3.0.0 but none was installed.
npm WARN Neon@0.0.4 No repository field.`

However, I stil get the issue with webpack: `sudo npm install -g webpack` fails for me.

Thanks,
Ken

[2017-08-30 08:52] michael-ciniawsky commented on #115
Neon is your package? Or a webpack wrapper/seed?  This also happens when installing webpack without `-g` ? This could likely be a dependency mismatch then, since webpack still ships with `0.4.6` atm and loads this version first

[2017-08-30 21:27] kentenzer commented on #115
Hi Michael,

Indeed, I am trying to install a [Neon](https://github.com/CityOfZion/neon-wallet) is my package.
I get the same error when running: `sudo npm install -g webpack `.

Any clue?

Thanks,
Ken

[2017-08-30 22:04] michael-ciniawsky commented on #115
**without** the `-g` flag :), just `npm i -D webpack uglifyjs-webpack-plugin@beta`

[2017-08-30 22:43] shkrishms opened #116 "souce map does not work with standard options"
Hi,
I am using uglify as a part of webpack and I am not able to get the sourcemap working properly. I want to enable sourcemaps to get a better stack trace for errors. I still see cryptic errors.

When i remove the UglifyJS plugin from the webpack, it works fine i.e I see the correct stack traces and I see a "sourceMappingURL" line in the js bundles.

With UglifyJS and sourcemap enabled, I see tha

[2017-08-30 23:59] kentenzer commented on #115
Thanks but same problem :(

npm ERR! uglifyjs-webpack-plugin@0.4.6 postinstall: `node lib/post_install.js`
npm ERR! spawn ENOENT

[2017-08-31 02:11] markfaine opened #117 "Failed at the uglifyjs-webpack-plugin@0.4.6 postinstall script 'node lib/post_install.js'."
npm -v
4.2.0
node -v
v7.10.1

$ sudo npm install -g  '@'angular/cli

[code]

[2017-08-31 10:09] evilebottnawi commented on #117
@markfaine seems not related to `uglifyjs-webpack-plugin`, because your also have error with `node-sass`:
```Error: Cannot find module '/usr/lib/node_modules/@angular/cli/node_modules/node-sass/scripts/install.js'```
Try to:
1. `rm -r node_modules`
2. `npm cache clean`
3. `npm i`

[2017-08-31 10:10] evilebottnawi commented on #116
@shkrishms can you create minimum reproducible test repo, thanks!

[2017-08-31 13:23] michael-ciniawsky commented on #115
**webpack.config.js**
[code]

[2017-08-31 13:27] michael-ciniawsky commented on #117
The `postinstall` script is buggy on some platforms and was removed in `v1.0.0-beta`

`npm i -D uglifyjs-webpack-plugin@beta`

**webpack.config.js**
[code]

For the `@angular/cli` related part, please file an issue there aswell

[2017-08-31 13:27] #117 closed

[2017-08-31 13:36] michael-ciniawsky commented on #116
@shkrishms Could you try with the latest `beta` please ?

[code]

But for `development` (debugging etc) I recommend to not use a minifier

**webpack.config.js**
[code]

[2017-08-31 21:36] kzc commented on #114
[code]
Wild guess - try to run `uglifyjs-webpack-plugin` on invalid ES6 code.

[2017-09-01 02:36] jinker opened #118 "[v1.0.0-beta.2 (Windows)] Stuck in chunk assets optimization when parallelization is enabled (`options.parallel`)"
webpack 3.5
windows 7

[2017-09-01 05:52] michael-ciniawsky commented on #118
Please provide more info on your setup `webpack.config.js` `package.json`  && Error Logs etc aswell

[2017-09-01 10:23] evilebottnawi commented on #114
@kzc good catch, thanks, maybe we can output more friendly error on this, in near future i investigate this

[2017-09-01 23:18] shkrishms commented on #116
@michael-ciniawsky , the beta does not seem to help.
I have created a repository at https://github.com/shkrishms/UglifyJsIssue. This should have the code necessary to reproduce the issue.

Please use chrome only.
Go to the OspApp folder. and then do the following:
1. npm run build:prod
2. npm run start:release
3. Open https://localhost:44326 in the browser and see the sources.

"\OspApp\config\web

[2017-09-02 21:27] kentenzer commented on #115
This worked, thanks!

[2017-09-04 03:39] zzzgit opened #119 "how could i know the time cost by this plugin?"
hello, when webpack complete its work, we can see the time cost in the console.

![image](https://user-images.githubusercontent.com/1060733/30010875-ad939710-9165-11e7-8c51-7e6609bdd668.png)

but how could i know the time cost by uglityjs?

[2017-09-04 09:53] evilebottnawi commented on #119
@zzzgit `webpack` don't have build-in ability to get this time (only `--profile`), but your can use this information to obtain this information:
1. https://nodejs.org/api/debugger.html
2. https://medium.com/@paul_irish/debugging-node-js-nightlies-with-chrome-devtools-7c4a1b95ae27

[2017-09-04 09:53] #119 closed

[2017-09-04 10:04] zzzgit commented on #119
is it possible to write a plugin to detect the time cost of uglifyjs-webpack-plugin?
if it is, i would like to try

[2017-09-04 10:09] evilebottnawi commented on #119
@zzzgit Sorry, but we can not accept this PR. We avoid using logging and debugging inside Plugin code, we use this practice in all `webpack-contrib` repos. Thanks!

[2017-09-05 13:56] markfaine commented on #117
Thanks!  I was able to get it to finally install.

[2017-09-05 20:17] filipesilva opened #120 "[Refactor] swap cacache with another cache"
Heya, would you be receptive to swaping the `cacache` dependency with another cache library? I can do the PR with the work for it.

I ask because I was trying to update `uglifyjs-webpack-plugin` to the latest beta in `@angular/cli`, and a couple of new licenses came up.

Both `cacache@9.2.9` and `ssri@4.1.6` (a dependency of `cacache`) use the CC0-1.0 license (https://spdx.org/licenses/CC0-1.0.htm

[2017-09-06 00:17] TheLarkInn commented on #120
This would leave me to believe this is likely incompatible with JSF license also.

[2017-09-06 10:11] evilebottnawi commented on #120
@filipesilva sounds resonably, but first we should merge https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/108, because this PR done breaking changes (separate `cache` and `parallel`), also repair logic around cache (now `cache` and `parallel` is broken and can output invalid data from cache, also `parallel` works incorrect too).

[2017-09-06 10:54] filipesilva commented on #120
@evilebottnawi SGTM, I put a https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/121 but marked it as WIP and blocked by #108.

[2017-09-06 17:19] shkrishms commented on #116
@michael-ciniawsky , @evilebottnawi -, any update on this? Please let me know if anything is needed.

[2017-09-06 18:21] evilebottnawi commented on #116
@shkrishms sorry, don't have time right now for this :disappointed: in near future i try to investigate this, thanks!

[2017-09-08 08:45] xiachaoxulu commented on #110
it is not a issue on uglifyjs-webpack-plugin.

[2017-09-08 08:46] xiachaoxulu commented on #110
here is a demo. maybe webpack sourcemap mix bug
https://github.com/xiachaoxulu/sourceMapDemo

[2017-09-08 10:31] evilebottnawi commented on #110
@xiachaoxulu do your create issue in `webpack` repo?

[2017-09-08 11:02] xiachaoxulu commented on #110
yes. but it maybe  babel-loader's issue. i am crazy

[2017-09-08 13:50] gabaum10 commented on #110
@xiachaoxulu can you link the issue you made in the webpack repo here?

[2017-09-10 16:46] logabhi commented on #117
How did you make it work with @angular/cli?

[2017-09-10 22:35] mbrevda commented on #28
Just came across this. It seems node isn't resolving the path to the dep correct.

In my case, I have a package with all my build tools, including webpack. Instead of being fully flattened, webpack is being installed a dep of my build tools package (not sure where it's supposed to go).

[2017-09-11 05:27] daviesaz opened #122 "Installing @angular/cli fails at uglifyjs-webpack-plugin (Mac OS 10.12.6)"
[npm-debug.log.txt](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/files/1291457/npm-debug.log.txt)

[2017-09-11 07:05] daviesaz commented on #122
Installing @angular/cli worked once.  I uninstalled it because of some problems, but when I tried to reinstall it I got this problem, which npm wants to blame on uglifyjs. Any suggestions would be appreciated.

[2017-09-11 07:25] daviesaz commented on #122
Never mind.  The --unsafe-perm flag for npm worked.  Not your problem (unless you can avoid the need for the --unsafe-perm flag).

[2017-09-11 07:25] #122 closed

[2017-09-11 09:53] kmvan opened #123 "[0.4.6] `unsafe_Func` is not a supported option"
OS: Win10 x64
NPM: 3.10.10
NODE: 6.11.1
"uglifyjs-webpack-plugin": "^0.4.6"

Below config for UglifyJsPlugin:)
[code]

Error log:
[code]

Any idea:D
Thank you.

[2017-09-11 15:35] markfaine commented on #117
I think  my problem was permissions.  I set myself as the owner of  ~/.npm and ~/.config recursively.  I then executed the command without sudo.  I'm still not sure if that was it but it did seem to install correctly after that.
________________________________________
From: logabhi [notifications@github.com]
Sent: Sunday, September 10, 2017 11:46 AM
To: webpack-contrib/uglifyjs-webpack-plugin
Cc:

[2017-09-12 01:34] kzc commented on #123
Those options do not work in that version. `uglifyjs-webpack-plugin@0.4.6` uses `uglify-js@2` not `uglify-es`.

Try using `uglifyjs-webpack-plugin@1.0.0-beta`. Note: plugin [options](https://github.com/webpack-contrib/uglifyjs-webpack-plugin#options) have changed.

[2017-09-12 03:13] fritx commented on #109
When using uglifyjs-webpack-plugin@1.0.0-beta.2,

I had to disable the existing `compress` option:

[code]

Otherwise I will get a validation Error without any descripton:

[code]

[2017-09-12 09:51] nkovacs commented on #73
I have the same problem with worker-loader: https://github.com/webpack-contrib/worker-loader/issues/92

[2017-09-12 12:35] evilebottnawi commented on #109
@fritx can you create minimum reproducible test repo? And create new issue around your problem?

[2017-09-12 12:40] evilebottnawi commented on #123
@kmvan yes, please use `uglifyjs-webpack-plugin@1.0.0-beta.2` instead `0.4.6`, thanks!

[2017-09-12 12:40] #123 closed

[2017-09-12 18:51] msegmx commented on #117
I got this error when I used the node version of the Ubuntu Xenial repo (I'm on the lates Linux Mint (18.2 Sonya), fresh install).

So I uninstalled everything (npm, node, etc), deleted ~/.node_modules and downloaded the node package from https://nodejs.org/en/download/, unzipped it and added an entry into ./.bashrc that points to that folder :

PATH="/opt/node/bin:$PATH"

afterwards the simple se

[2017-09-13 06:13] kzc commented on #112
@code-chris The reason for your [test repo](https://github.com/code-chris/uglifyjs-repro)'s failure are [these two lines](https://github.com/code-chris/uglifyjs-repro/blob/4d19b8376b710e4923c1aa6d648c792187bd76c2/package.json#L15-L16):
[code]
You need to change them to:
[code]

`webpack@3.5.5`'s `-p` and `-d` flags make use of `uglifyjs-webpack-plugin@0.4.6` which uses the ES5-only `uglify-js@2.8.

[2017-09-13 07:20] kumarharsh commented on #118
+1 it's not working under Windows 10 CU - tested in two different systems with different processors and SSD/HDDs. The webpack process takes about 1GB memory but 0% CPU utilization.

This is the uglify config:

[code]

Turning parallel off via `parallel: false` lets me build it. Setting `parellel:true` and `workers: false` also makes it work. Could it be an issue with the worker-farm?

[2017-09-13 10:03] evilebottnawi commented on #118
@kumarharsh @jinker known issue, should be fixed in https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/108. Because `parallel` (workers) don't use as expected.

[2017-09-13 15:02] kzc commented on #109
@fritx The options in `uglifyjs-webpack-plugin@1.0.0-beta` have changed and are not backwards compatible with `0.4.6`.

See [uglifyOptions](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/v1.0.0-beta.2/README.md#uglifyoptions)

[2017-09-13 16:26] code-chris commented on #112
@kzc yes, this actually fixed the bug in my test repo... thanks!
Unfortunately in my big project (with a much more complex webpack config) the plugin does not minify anything, without an error. Hopefully I can find the issue there...

[2017-09-13 17:27] kzc commented on #112
The problem is that webpack includes an earlier incompatible version of this plugin by name causing all the versioning confusion. Changing the plugin options only add to the confusion. The `uglify-es` version of this plugin really ought to have a different name since most users run into these same problems. I just noticed that stackoverflow is a fountain of incorrect advice on this subject - the w

[2017-09-14 04:11] 7chandan commented on #99
Is this issue solved?

[2017-09-14 08:12] evilebottnawi commented on #99
@7chandan not yet

[2017-09-15 07:38] supriya-gaurav opened #124 "not able to install angular CLI on windows 7"
[npm-debug.zip](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/files/1305617/npm-debug.zip)
node version -: v6.11.3
npm version -: v3.10.10
Operating system : Windows 7
Logfile is attached here for reference.

[2017-09-18 09:11] evilebottnawi commented on #124
@supriya-gaurav please provide more information (`webpack` config and example), better minimum reproducer test repo, thank you.
Look at you debug log:
1. You don't have right premission
2. npm contain bugs. try to install to latest npm and try again

[2017-09-19 01:53] kmvan commented on #90
In version 1.0.0-beta.2
drop_console not works
config is:
    uglifyOptions: {
      compress: {
        drop_console: true
      }
    }

[2017-09-19 06:59] wood1986 commented on #103
Hey @michael-ciniawsky and @moimael

The main problem is ["uglifyjs-webpack-plugin": "^0.4.6"](https://github.com/webpack/webpack/blob/master/package.json) in the package.json in webpack

According to [semver](https://docs.npmjs.com/misc/semver), `^0.4.6 := >=0.4.6 <0.5.0`. Because of the leading zero, webpack will never hook the beta version.

So after running `npm i -D uglifyjs-webpack-plugin@be

[2017-09-19 16:06] Kurtas opened #125 "[v1.0.0-beta.2] Removing dead code doesn't work & parsing fail on import"
Hi,

 I have following configuration of webpack plugins
[code]
I run build with following command
`cross-env NODE_ENV=production webpack --config internals/webpack/webpack.prod.babel.js --color --progress --hide-modules`

1. First problem is that Uglify will fail on `import` in following code
[code]
[code]
2. Dead code removal doesn't work
So I decided use removing `dead_code` and I wrap the code

[2017-09-19 19:28] azollai commented on #117
Hello,
I had the same issue. I had to update to the latest node.js and npm.
1. I downloaded the latest Node.js from the official page and installed(https://nodejs.org/en/download/).
2. Take care because in Windows Command Prompt I couldn't update npm.It looked like if it was updated but it was not! In C:\Users\[Username]\AppData\Roaming I deleted the content of npm and npm-cache folders. After tha

[2017-09-19 20:00] WillooWisp commented on #118
I experience similar issues with parallel enabled.

[2017-09-19 20:12] logabhi commented on #117
I finally switched to yarn to make it work. :/

[2017-09-19 20:39] evilebottnawi commented on #118
@WillooWisp https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/118#issuecomment-329120704

[2017-09-20 01:54] kzc commented on #125
`uglify-es` supports the ES2017/ES8 standard.

[Dynamic `import`](https://github.com/tc39/proposal-dynamic-import) is a stage 3 proposal.

I was under the impression that Webpack itself is supposed to [handle dynamic `import`](https://webpack.js.org/guides/code-splitting/#dynamic-imports) and transpile it to another form.

[2017-09-20 03:04] fritx commented on #109
@evilebottnawi @kzc oh, didn't noticed that.

[2017-09-20 07:18] kumarharsh commented on #118
@evilebottnawi great job on the PR. Quick question: does it address parallelization issue in Windows where the webpack process just hangs?

[2017-09-20 10:39] evilebottnawi commented on #118
@kumarharsh this PR should fix this, but need tests, can you test this PR on windows?

[2017-09-20 11:46] kumarharsh commented on #118
Unfortunately, seems like it gets stuck at the same place. The children spawned by worker-farm seem to not respond - no CPU is being used, and my build process is stuck at the uglify step. The Memory value also is static for a long time.

![image](https://user-images.githubusercontent.com/760112/30641931-6b27e99e-9e26-11e7-8de3-4d6a40c9fa1f.png)

[2017-09-20 11:57] evilebottnawi commented on #118
@kumarharsh can you create minimum reproducible test repo?

[2017-09-20 23:34] ea167 opened #127 "From a fresh install, uglifyjs-webpack-plugin@0.4.6 postinstall error prevents from installing webpack"
Hello,

From a fresh install, with npm cache cleaned, etc.
When I try to install webpack (v3.6.0) I get the error:

module.js:491
    throw err;
    ^

Error: Cannot find module '/root/EVGIT/audio-bo-client/node_modules/webpack/node_modules/uglifyjs-webpack-plugin/lib/post_install.js'
    at Function.Module._resolveFilename (module.js:489:15)
    at Function.Module._load (module.js:439:25)
    at

[2017-09-21 02:17] michael-ciniawsky commented on #127
Yep, it's know issue please consider using the current `beta` instead `npm i -D uglifyjs-webpack-plugin@beta`

[2017-09-21 02:17] #127 closed

[2017-09-21 07:00] km-tr opened #128 "In webpack documentation there is `compress` in` uglifyOptions`, but that does not work properly"
1. webpack@3.6.0
2. https://github.com/km-tr/webpack-uglifyOptions-error
3.
    - Mac OS 10.12.6
    - node v6.10.2

`webpack.optimize.UglifyJsPlugin` did not work properly as it was documented
I have an example in the above repository.

[webpack doc](https://webpack.js.org/plugins/uglifyjs-webpack-plugin/#uglifyoptions)

[2017-09-21 16:15] webpack-bot opened #129 "[v0.4.6] npm install fails because of postinstall script"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
npm install of webpack fails on a fresh install because of uglifyjs-webpack-plugin@0.4.6 dependency

**If the current behavior is a bug, please provide the steps to reproduce.**

From a fresh install, with npm cache cleaned, etc.
When I try to install webpack (v3.6.0) I get the error:

module.js:491

[2017-09-21 18:48] Twilrom opened #130 "[Bug] `nameCache` doesn't get applied (`uglifyOptions.nameCache`)"
In buildDefaultUglifyOptions every option except sourceMap and nameCache are handled. sourceMap has a comment that it's being ignored, but nameCache is strangely absent. Is there a reason for that, or is it simply an oversight?

[2017-09-21 19:27] kzc commented on #128
You missed this line from
https://webpack.js.org/plugins/uglifyjs-webpack-plugin/#options ...

[2017-09-21 23:53] michael-ciniawsky commented on #128
[code]

**webpack.config.js**
[code]

[2017-09-21 23:53] #128 closed

[2017-09-23 03:59] olafahn commented on #92
But `mangle: true` option cannot eliminate the Error (**SyntaxError: Cannot declare a let variable twice**).
I installed `"uglifyjs-webpack-plugin": "^1.0.0-beta.2",`
and the below is my UglifyJS option
[code]

[2017-09-23 04:43] olafahn commented on #92
If there is someone who suffering with same problem like me,
try babel-minify-webpack-plugin instead. Everything works fine right now.

[2017-09-23 13:58] kzc commented on #92
You probably had a configuration issue. We'll never know without a standalone minimal reproduction.

Using `uglify-es` directly on the example from the [Safari 10 WebKit bug report](https://bugs.webkit.org/show_bug.cgi?id=171041):
[code]
[code]
[code]
[code]

[2017-09-24 18:59] olafahn commented on #92
@kzc I don't know why, but suddenly all seems working well.
Thanks for your consideration, kzc.
Indeed, babel-minify was too slow, and consumes memory too much.

[2017-09-27 02:59] MEDIOCAL opened #132 "Error in common.js from UglifyJs Unexpected token: name (urlParts) [common.js8648.4]"
var path = require('path');
var webpack = require('webpack');
var ExtractTextPlugin = require("extract-text-webpack-plugin");
var HtmlWebpackPlugin = require('html-webpack-plugin');

module.exports = {
    entry: {
        home: [
            'babel-polyfill',
            './src/home/main.js'
        ],
        common: ['react','babel-polyfill']
    },
    output: {
        path: path.join(__dirna

[2017-09-27 20:56] RahavLussato opened #133 "mangle and minify not working"
i don't understand what i'm doing wrong but it seems like mangle and minify is not working at all with the latest beta.

[here](https://github.com/RahavLussato/webpack-config-env-issue) you can find a repository that easily reproduce it.
just run `npm install` and then `npm run build`, after the build will finish check the `bundle.js` file under dist/bundledCode and you'll see that the code is not

[2017-09-28 01:57] kzc commented on #133
The uglify plugin is not being run at all. What you're looking at is webpack output + source map. Try writing the simplest possible minimal `webpack.config.js` with no uglify options and without the `webpack-config` module.

[2017-09-28 02:35] rfranco commented on #132
+1

[2017-09-28 06:50] RahavLussato commented on #133
@kzc it is running because if i'll switch it to `` [here](https://github.com/RahavLussato/webpack-config-env-issue/blob/master/staging.config.js#L13) you'll see completely different output.

[2017-09-28 06:54] RahavLussato commented on #133
to make sure i added `console.log('test')` on `function UglifyJsPlugin()` and it is running.

[2017-09-28 07:38] webpack-bot opened #134 "[Source Maps] Validation warning/errors (https://sourcemaps.io/)"
The examples I've used are collected into a project for debugging purposes here: https://github.com/OliverJAsh/webpack-uglifyjs-source-map-issue

---

Given:

[code]

[code]

[code]

[code]

When I run `webpack` and use https://sourcemaps.io/ to validate the source map, I get 83 warnings:

![image](https://user-images.githubusercontent.com/921609/30927998-2115f62a-a3b2-11e7-9949-2a291f70a1f4.png)

[2017-09-28 07:56] sokra commented on #134
Could you try the latest version for the uglifyjs-webpack-plugin?

[2017-09-28 08:24] OliverJAsh commented on #134
Hi @sokra. I just gave the latest beta (v1.0.0-beta.2) and stable (v0.4.6) a go and still got 83 warnings, as described above.

Minimal test cases for beta and stable:

https://github.com/OliverJAsh/webpack-uglifyjs-source-map-issue/tree/uglifyjs-webpack-plugin-beta
https://github.com/OliverJAsh/webpack-uglifyjs-source-map-issue/tree/uglifyjs-webpack-plugin-stable

[2017-09-28 08:40] kzc commented on #133
`webpack-config` may be making incorrect assumptions. The following works fine:

[code]
[code]
[code]
[code]

[2017-09-28 09:09] evilebottnawi commented on #133
@RahavLussato which version do you use?

[2017-09-28 09:20] evilebottnawi commented on #132
@MEDIOCAL @rfranco which version you use and can you describe repo with minimum reproducible? It is hard to repeat problem  from source code from github post, thank you!

[2017-09-28 09:24] RahavLussato commented on #133
@evilebottnawi you can see it on the package config:
[code]

[2017-09-28 09:27] evilebottnawi commented on #133
@RahavLussato can you try to use `0.4.6` version?

[2017-09-28 09:27] evilebottnawi commented on #133
@RahavLussato Also you don't need `uglify-es` and `uglify-js` packages

[2017-09-28 09:44] RahavLussato commented on #133
@evilebottnawi i need to use the beta version and also `uglify-es` because i want to do it on es6 code, the repo that i published is just to reproduce the issue but on my real env i have a code thats should use the beta version, if not i'm getting this error `UglifyJs Unexpected token: operator (>)`.
i managed to do a workaround to that and revert it back to use `webpack.optimize.UglifyJsPlugin` b

[2017-09-28 09:45] RahavLussato commented on #133
and thanks @kzc its looks like you are right

[2017-09-28 09:46] #133 closed

[2017-09-28 16:48] jlengstorf commented on #104
I ran into this error and was able to fix it by adding `"uglify": true` to `babel-preset-env`'s targets in my `.babelrc`:

[code]

[2017-09-28 18:59] kzc commented on #104
@jlengstorf Be aware that if you use Babel's `uglify` target it's an alias for ES5 code generation. It came out before `uglify-es`.

https://github.com/babel/babel-preset-env/pull/178

If you want to minify ES6 code without transforming to ES5, you wouldn't want to use that.

Working ES6 webpack `uglify-es` example:

https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/133#issuecommen

[2017-09-29 04:36] jlengstorf commented on #104
@kzc Thanks for this! After looking at my config again, I realized that the problem was that I had the `-p` flag set for webpack, so it was trying to run the built-in UglifyJS plugin.

Disabling that and switching to `webpack.DefinePlugin` (to set `process.env.NODE_ENV="production"`) fixed the problem — no modifications required to `babel-preset-env`.

[2017-09-29 10:30] dothanhlam commented on #132
I have the same problem - mine is webpack 1.14.0
Uglify plugin throws the error from redux-saga library
import middleware from './internal/middleware' <-- throwing the error here

[2017-09-30 16:33] kzc commented on #134
The issue is that webpack is producing a low quality line-based source map as an input to uglify.

If you remove the uglify plugin from the webpack config:
[code]
and re-run webpack it will produce a `main.js.map` file that looks like this (reformatted):
[code]
[Here](http://paulirish.github.io/source-map-visualization/#base64,LyoqKioqKi8gKGZ1bmN0aW9uKG1vZHVsZXMpIHsgLy8gd2VicGFja0Jvb3RzdHJhcAovKio

[2017-09-30 16:39] OliverJAsh commented on #134
Hey @kzc

Thanks for looking into this!

Can you elaborate? Why is this causing validation errors/warnings?

Does the Rollup output validate without errors/warnings?

[2017-09-30 16:51] kzc commented on #134
Notice that Rollup produces high resolution source mappings at the symbol level.

Webpack (with your config anyway) generates line-based mappings. It would appear that it negatively impacts uglify's ability to accurately map the transformed code. Perhaps there is an equivalent webpack setting to generate high resolution source maps comparable to Rollup - I don't know.

I don't anything about that

[2017-10-02 17:11] kzc commented on #125
`uglify-es@3.1.3` now supports dynamic import.

[2017-10-02 19:51] caguthrie opened #136 "Custom sourceMappingURL question"
In UglifyJS, you are able to use the follow option to get a custom ```sourceMappingURL``` in the bottom of your uglified js:

[code]

Therefore, I thought it was natural to do this:
[code]

However, doing that ```sourceMappingURL``` doesn't show up at all in the output.  What is the correct way to get a custom ```sourceMappingURL``` in your uglified js file?

[2017-10-03 16:01] kzc commented on #136
That line will pull in [`uglifyjs-webpack-plugin@0.4.6`](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/v0.4.6/README.md) which is incompatible with `v1.0.0-beta` `uglifyOptions`:

https://github.com/webpack-contrib/uglifyjs-webpack-plugin/tree/v1.0.0-beta.3#options

For an example of using the latest beta version of this plugin see:

https://github.com/webpack-contrib/uglifyjs-we

[2017-10-03 17:41] caguthrie commented on #136
Thanks

[2017-10-03 17:41] #136 closed

[2017-10-03 18:56] kzc commented on #136
@sokra  Any idea when `uglifyjs-webpack-plugin@1.x` will be released?

[2017-10-04 02:08] FrancoAguilera commented on #48
npm install --unsafe-perm -g webpack did the magic in my case

[2017-10-04 10:24] RoboBurned commented on #132
@MEDIOCAL as a workaround until this is fixed you can try to remove the line
`exclude:/node_modules/,`
from` babel-loader` configuration.
This should allow babel to transpile all code to es5 which Uglify plugin can understand.

[2017-10-05 13:52] Candy374 commented on #132
+ 1
I'm using webpack 3.6.0

@RoboBurned  if remove `exclude:/node_modules/,`,  then it will have other error, like file too big..

[2017-10-06 08:53] Ballpin commented on #132
I added the following code..
[code]

I don't really see any reason for uglify to run through the node_modules folder.

[2017-10-06 10:50] frixid commented on #132
+1

[2017-10-06 10:55] evilebottnawi commented on #132
Somebody can create minimum reproducible test repo?

[2017-10-06 11:08] frixid commented on #132
Downgrading to webpack-dev-server 2.7.1 works

[2017-10-06 11:16] Ballpin commented on #132
For my part i realized that i dont want uglifyjs to minify my js while im developing. So i simply removed it from webpack.config.js.

And moved it to to my webpack.config.prod.js.
`plugins: [new UglifyJSPlugin(), new ExtractTextPlugin('style.css')]`

So now when i run build command it works as it is suppose to 😄

[2017-10-06 11:53] RoboBurned commented on #132
Tried to create minimal reproducer. [webpack-uglifyjs-error.zip](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/files/1362567/webpack-uglifyjs-error.zip)

[2017-10-07 16:19] gregquat commented on #129
Any news here?

[2017-10-08 10:14] evilebottnawi commented on #129
@gregquat can you create minimum reproducible test repo?

[2017-10-08 10:18] gregquat commented on #129
I just do a "npm install webpack" and get this error, as above :

npm ERR! uglifyjs-webpack-plugin@0.4.6 postinstall: `node lib/post_install.js`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the uglifyjs-webpack-plugin@0.4.6 postinstall script 'node lib/post_install.js'.
npm ERR! Make sure you have the latest version of node.js and npm installed.

I'm on nodejs 4.2.6 and nom 3.5.2

[2017-10-08 10:24] evilebottnawi commented on #129
@gregquat windows or linux, can you describe more information? You use root or not?

[2017-10-08 10:28] gregquat commented on #129
On linux uname -a :
Linux Takeda 4.8.0-53-generic #56~16.04.1-Ubuntu SMP Tue May 16 01:18:56 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

And I run the command with root

I'm sorry, I don't know what more I can say, but I'll answer your questions.

Thank you

[2017-10-08 10:29] evilebottnawi commented on #129
@gregquat can you run command without root?

[2017-10-08 10:31] gregquat commented on #129
Same result

[2017-10-08 10:34] evilebottnawi commented on #129
@gregquat can you update you node version to latest stable 4?

[2017-10-08 10:35] evilebottnawi commented on #129
@gregquat also you can see this message `WARN engine webpack@3.6.0: wanted: {"node":">=4.3.0 <5.0.0 || >=5.10"}`

[2017-10-08 10:41] michael-ciniawsky commented on #129
@gregquat This is a known and unfortunate bug in `v0.4.6` on some linux machines. We need to revert current master `v1.0.0-beta.3` and release a patch for `v0.4.x`removing the script....Consider using the `@beta` instead meanwhile, where this is fixed `npm i -D uglifyjs-webpack-plugin@beta`

**webpack.config.js**
[code]

⚠️  Note that the `options` Interface changed (`options`=> `uglifyOptions`)

[2017-10-08 10:43] gregquat commented on #129
Indeed, here is the full message

WARN engine webpack@3.6.0: wanted: {"node":">=4.3.0 <5.0.0 || >=5.10"} (current: {"node":"4.2.6","npm":"3.5.2"})
WARN engine webpack@3.6.0: wanted: {"node":">=4.3.0 <5.0.0 || >=5.10"} (current: {"node":"4.2.6","npm":"3.5.2"})
sh: 1: node: not found
npm WARN optional Skipping failed optional dependency /chokidar/fsevents:
npm WARN notsup Not compatible with your op

[2017-10-08 10:44] gregquat commented on #129
So I'll use the beta until someone can fix the bug.

Thank you for your time

[2017-10-08 12:00] evilebottnawi commented on #132
@RoboBurned remove `'webpack-dev-server/client?http://localhost:8080'` and `'webpack/hot/only-dev-server'` when you build for production env

[2017-10-08 12:02] evilebottnawi commented on #132
@RoboBurned because https://github.com/webpack/webpack-dev-server/blob/master/client/index.js use es6, but uglify@0.4.6 don't support es6

[2017-10-08 23:04] d3viant0ne commented on #129
It's not a bug. Nothing in Webpack 2 / 3 supports NodeJS 4.2.6 thus `"node":">=4.3.0 <5.0.0 || >=5.10"`

[2017-10-09 00:35] michael-ciniawsky commented on #132
Please ensure to transpile ypur code down to ES5 when using `>= v0.4.6` or try the current `beta`

`npm i -D uglifyjs-webpack-plugin`

**webpack.config.js**
[code]

which supports ES2015+ (`uglify-es`)

[2017-10-09 00:35] #132 closed

[2017-10-09 23:52] surfjedi commented on #132
+1

[2017-10-10 09:48] vincent-cm opened #138 "undefined is not a function after upgrading from 0.4.6 to 1.0.0-beta.3"
Uncaught TypeError: undefined is not a function
    at Array.forEach (<anonymous>)
    at :8080/main.bundle.js:214518
    at Array.forEach (<anonymous>)
    at ViewBuilder._visitElementOrTemplate (:8080/main.bundle.js:214515)
    at ViewBuilder.visitElement (:8080/main.bundle.js:214426)
    at ElementAst.visit (:8080/main.bundle.js:192104)
    at visit (:8080/main.bundle.js:192451)
    at :8080/ma

[2017-10-10 09:51] d3viant0ne commented on #138
There are quite a few breaking changes included in `1.0.0`. Link the repo or provide a minimal repo where this can be triaged. A stack trace isn't going to be sufficient.

In the mean time, if you have not already done so you should review the changelog: https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/refactor-and-improve-cache-key/CHANGELOG.md

[2017-10-10 13:17] sapegin opened #139 "[v1.0.0-beta.3] Broken `parallel` option"
`{ parallel: true }` work fine but `{ parallel: { cache: true } }` throws an error:

[code]

I also don’t see any change log entries or even commit for this version.

[2017-10-10 13:37] evilebottnawi commented on #139
@sapegin `parallel` and `cache` are now difference option, maybe something wrong with schema, in near future i try to investigate, thank you

[2017-10-10 13:39] sapegin commented on #139
According to the readme, it’s not. It shows both examples as correct: { parallel: { cache: true } } and { parallel: true }.

[2017-10-10 13:40] sapegin commented on #139
I see, it’s in some random branch. How should I guess that?

[2017-10-10 13:41] evilebottnawi commented on #139
latest beta and branch https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/108

[2017-10-10 13:42] sapegin commented on #139
Yes, that’s what I’m saying.

[2017-10-10 14:25] felicio commented on #78
For anyone looking at this thread after searching for _the_ error, you're most likely using ES6+ language features in your source without having a compiler configured. Innocent line of code like this `for (let i = 0; i...` would reproduce the error.

[2017-10-10 14:56] nifgraup commented on #138
@d3viant0ne there is no tag for v1.0.0-beta.3, so the Changelog link for diff between .2 and .3 doesn't work.

[2017-10-10 15:32] #138 closed

[2017-10-10 15:33] vincent-cm commented on #138
not a bug from this lib sorry

[2017-10-10 16:34] vincent-cm opened #140 "[v1.0.0-beta3] ValidationError (`schema`)"
[code]

[2017-10-10 16:48] michael-ciniawsky commented on #140
Please post your `webpack.config.js` (the `plugins` section with `UglifyJSPlugin`)

[2017-10-10 16:56] vincent-cm commented on #140
@michael-ciniawsky

[code]

[2017-10-10 17:01] michael-ciniawsky commented on #139
The `options` interface changed between `beta.2` => `beta.3`

`{ parallel: { cache: 'path/to/cache', workers: 2 } }`
=> `{ cache: 'path/to/cache' , parallel: workers }`

to decouple the `cache` from `parallelization`

Agreed it should be better visible, but that's up to the release team. Feel free to reopen if still regressions :)

[2017-10-10 17:01] #139 closed

[2017-10-10 17:02] michael-ciniawsky commented on #124
Reopen in `angular/angular-cli` please

[2017-10-10 17:02] #124 closed

[2017-10-10 17:08] michael-ciniawsky commented on #130
`nameCache` isn't used by default (`null`), but you can use it as all `uglify` options are supported by the plugin.

[2017-10-10 17:09] #114 closed

[2017-10-10 17:10] michael-ciniawsky commented on #97
@stevefan1999 Could you try the latest `beta` `uglifyjs-webpack-plugin@1.0.0-beta.3` and test if this fixes the issue ?

[2017-10-10 17:12] michael-ciniawsky commented on #125
@Kurtas Could you run `npm update`  and test with `uglify-es >= 3.1.3` and test if this fixes the issue ?

[2017-10-10 17:16] #110 closed

[2017-10-10 17:24] michael-ciniawsky commented on #140
[code]

[2017-10-10 17:24] #140 closed

[2017-10-10 17:26] Twilrom commented on #130
No. It's not passed through.

[2017-10-10 18:58] Kurtas commented on #125
@michael-ciniawsky @kzc I tried a new version and the build passed
Thanks

[2017-10-10 18:58] #125 closed

[2017-10-12 09:20] iAdramelk opened #141 "[v1.0.0-beta3] Validation error after update to beta3"
I started to receive this error message after update to beta3 (beta 2 with the same config works ok):

[code]

Uglify config with the errors:

[code]

This config works without errors:

[code]

[2017-10-12 09:36] michael-ciniawsky commented on #141
There was a breaking change between `beta.2` => `beta.3` refactoring the cache out of the parallel option.

`uglifyjs-webpack-plugin@1.0.0-beta.2`
[code]

`uglifyjs-webpack-plugin@1.0.0-beta.3`
[code]

[2017-10-12 09:36] #141 closed

[2017-10-12 18:47] kevinmims commented on #132
I think the problem is using `new webpack.optimize.UglifyJsPlugin...` with webpack v3+.  You need to import the uglifyjs-webpack-plugin and change your plugin to `new UglifyJSPlugin...` as michael-ciniawsky mentioned above.

Here is a reference https://webpack.js.org/plugins/uglifyjs-webpack-plugin/

[2017-10-13 06:30] scabbiaza commented on #125
Hello! I have the same issue with tree shaking.

I see you suggested to update `uglify-es >= 3.1.3`, however in your `package.json` version is
`"uglify-es": "^3.0.24"`

https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/package.json#L37
https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/package-lock.json#L8072

------

**Example of the not working tree shaki

[2017-10-13 16:53] TotallyInformation commented on #132
Even with `uglifyjs-webpack-plugin@1.0.0-beta.3`, I'm still getting lots of errors:

- It couldn't cope with a default value on a function parameter
- It failed on a let statement
- It failed on a '`' string

Thankfully, I didn't have much ES6 code so I've stripped it for now. A bit crazy that we are still forced to use nothing beyond ES5.

[2017-10-14 15:08] nifgraup opened #142 "Regression: compilation errors no longer emitted"
Steps:
1. Add a stray `=>` to the code introduce a compilation error.
2. Add this plugin to Webpack:
[code]
Errors are not thrown  in ee1663991b37f243a65d0ee69e37169e6e113943 and later.

[2017-10-15 11:25] evilebottnawi commented on #142
@nifgraup can you create minimum reproducible test repo?

[2017-10-15 11:28] evilebottnawi commented on #132
@TotallyInformation please provide minimum reproducible test repo, thanks!

[2017-10-15 12:52] nifgraup commented on #142
Test case:
[code]

It turns out I will not be needing FailOnPluginErrorsPlugin anymore, I used it get Webpack to return non-zero but now (after upgrading to webpack3?) it does.

[2017-10-15 18:45] #142 closed

[2017-10-16 14:02] mklopets commented on #129
Also seeing the postinstall failure of 0.4.6 (dependency of webpack@3) on Node 8.1.4 (`node:8.1-alpine` docker image), so not just an issue of having the wrong Node version.

Is there a timeline for releasing a 0.4.x with this fixed? I understand it's planned @michael-ciniawsky

[2017-10-16 16:51] mdstaff commented on #97
I'm seeing an error when passing an object to parallel:
`parallel: {
        cache: true,
        workers: 2,
      },`

`$
...

Running: webpack.config.js
about to uglify
Exception { [Error: Validation Error

UglifyJs Plugin Invalid Options

options.parallel should be boolean
options.parallel should be integer
options.parallel should match exactly one schema in oneOf`

[2017-10-17 13:22] acierto commented on #132
Faced the same issue today with the latest version of webpack 3.7.1.

Upgrade to 1.0.0-beta.3 and using below snapshot helped to resolve the issue

[code]

[2017-10-17 21:38] khmyznikov opened #143 "[Feature] `--mangle-props` debug"
I have trying to setup mangle in large project, something have broken after mangle and i can't find what exactly without debug info.

[2017-10-18 00:42] michael-ciniawsky commented on #143
Does `new UglifyJS({ uglifyOptions: { warnings: true } })` yield anything here? Otherwise if `uglify` itself doesn't throw or produces any warnings I'm afraid it's out of scope for this plugin to provide such functionality. Open an issue at `uglify` instead then

[2017-10-18 00:47] michael-ciniawsky commented on #143
Does

[code]

work ?

[2017-10-18 01:41] zbjornson commented on #97
`1.0.0-beta.3` shows the same behavior that [stevefan1999 described](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/97#issuecomment-318840215) with one process doing 99% of the work, for me.

[2017-10-18 09:39] evilebottnawi commented on #97
@zbjornson can you create minimum reproducible test repo with latest beta version?

[2017-10-18 10:08] khmyznikov commented on #143
@michael-ciniawsky Yes, looks like working, but the app doesn't work at all with this option - "webpackJsonp is not defined" error and stuck. But with mange: true it works, but partially, another errors.

[2017-10-18 10:33] khmyznikov commented on #143
I'm Trying to use "reserved" for webpackJsonp, but it doesn't help. Falling on the next step where loading exports.

[2017-10-18 11:15] evilebottnawi commented on #143
@khmyznikov seems you don't have manifest file (initial chunk) where define `webpackJsonp` function, maybe forgot something include

[2017-10-18 14:01] michael-ciniawsky commented on #143
**webpack.config.js**
[code]

[2017-10-18 14:01] #143 closed

[2017-10-18 20:21] khmyznikov commented on #143
@evilebottnawi @michael-ciniawsky _webpackJsonp_ error solved by manifest, but next step - no.

`modules[moduleId].call(module.exports, module, module.exports, __webpack_require__);`

_moduleId_ have for example value _+8jR_, but into _modules_ it is _$+8jR$_

[2017-10-20 06:44] kmvan opened #144 "Is webpack.optimize.UglifyJsPlugin() UglifyJsPlugin() ?"
I am try in my config:
[code]
[code]

I can't believe my eyes, what's wrong with me?

[2017-10-20 14:12] michael-ciniawsky commented on #144
Does only the `compress` option not work atm ?

[2017-10-20 14:15] michael-ciniawsky commented on #144
`webpack.optimize.UglifyJsPlugin`  === `uglifyjs-webpack-plugin@0.4.6`  (UglifyJS v2.0.0 (ES5))
`uglifyjs-webpack-plugin@beta` (UglifyJS v3.0.0 (ES2015+))

[2017-10-20 15:48] kzc commented on #144
For `webpack@3` the command `webpack -p` uses `uglifyjs-webpack-plugin@0.4.6` unconditionally:

https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/112#issuecomment-329069520

This particular problem trips up everyone will only be solved once `uglifyjs-webpack-plugin@1.x` is released and a future `webpack` release uses it. But then `uglifyjs-webpack-plugin ` users will have the oppos

[2017-10-20 23:11] d3viant0ne commented on #120
@TheLarkInn - Replace `likely` with `is`. I'll get it on the working list to add license checking of dependencies as a part of our validations.

[2017-10-21 03:02] #97 closed

[2017-10-21 03:02] #100 closed

[2017-10-21 03:15] #144 closed

[2017-10-21 03:19] michael-ciniawsky commented on #118
We definitely need a repro repo here, there is a bug in somewhere either in the plugin or `worker-farm` on windows (7)

[2017-10-21 03:21] michael-ciniawsky commented on #116
Closing in favour of #134

[2017-10-21 03:21] #116 closed

[2017-10-21 11:06] mikesherov commented on #120
May I suggest using `license-to-fail` for license checking?

[2017-10-21 13:11] evilebottnawi commented on #120
@mikesherov please create issue about this in `webpack-defaults` (https://github.com/webpack-contrib/webpack-defaults)

[2017-10-21 15:24] michael-ciniawsky commented on #120
[cacache #109](https://github.com/zkat/cacache/issues/109) && [ssri #8](https://github.com/zkat/ssri/issues/8)

[2017-10-21 15:24] michael-ciniawsky commented on #120
🤞

[2017-10-21 15:34] d3viant0ne commented on #120
cacache is still overkill & quite frankly, the issue driving all of this ( performance refactoring ) is blocking the 1.5 release of the angular/cli.

We have a tool that is capable & can get the job done now, unless `flat-cache` comes with an unacceptable performance hit or is lacking in features this is moving forward as discussed in #121

[2017-10-21 16:12] TheLarkInn commented on #120
Yes let's do this

[2017-10-21 16:38] zkat commented on #120
tbh I've been meaning to relicense both of these, so that might happen soon. If you feel like it's overkill, that's sensible. I'd love to hear why you think it's a bit much for this use case, out of curiosity (and I'm not at all challenging the idea here! cacache does a bit!)

[2017-10-21 16:48] d3viant0ne commented on #120
@zkat - It's honestly more about trying to avoid hangups with lawyers ( shiver ) & not blocking a release for the angular group in the mean time.

I'm always down with sticking with what works & `cacache` is already proven to get the job done. And for reference, `cacache` is far from overkill, i use it professionally & love it. This plugin doesn't leverage a lot of it's bells & whistles so perhaps

[2017-10-21 17:02] filipesilva commented on #120
@zkat did you have a specific license in mind? MIT works for us but it's not the only one.
 /cc @hansl

[2017-10-21 17:26] michael-ciniawsky commented on #120
@filipesilva I just suggested MIT out of the blue in the meantime :), since there shouldn't be any issues with that licenses at all. But `ISC` is prefer by @zkat and npm related projects in general as it seems and if that works with the JSF && Google policies. Otherwise can we try to find consensus/agree upon just simply going with `MIT` 🙃  ? Would be highly appreciated🙏

[2017-10-21 17:46] hansl commented on #120
ISC, Apache v2 and BSD are also acceptable by most lawyers (if not all). The problem might be timing since we need this done over the weekend.

[2017-10-21 17:47] zkat commented on #120
The license would be either ISC or MIT. We tend to prefer ISC mostly 'cause that's the one we use, but that shouldn't make much of a difference, I don't think.

I've already pinged our own legal folks about it -- the `CC0` "license" is largely my fault for being kind of "quirky" about licensing before, but it seems to cause more trouble than it's worth. `ssri` should be pretty quick to switch over

[2017-10-23 13:22] simonjoom commented on #130
yes i found the same issue,
here the code to change pass this resolve it 👍
without this the chunks are not properly compressed because the mangles property deleted between them

in the code minify.js of uglifyjs-webpack-plugin
var buildDefaultUglifyOptions = function buildDefaultUglifyOptions(_ref) {
  var ecma = _ref.ecma,
      warnings = _ref.warnings,
      _ref$parse = _ref.parse,
      parse

[2017-10-23 13:48] evilebottnawi commented on #130
@simonjoom can you create minimum reproducible test repo?

[2017-10-23 17:54] zkat commented on #120
There are now PRs which should be landing soon relicensing both projects:

* cacache: https://github.com/zkat/cacache/pull/111
* ssri: https://github.com/zkat/ssri/pull/9

[2017-10-23 19:55] #120 closed

[2017-10-23 20:14] KievDevel opened #146 "[v0.4.6] `options.compress` isn't assign (`webpack.optimize.UglifyJSPlugin`)"
Hi, I'm using webpack 3.8.1, and after running webpack -p I have an issue when compress options doesn't work. (uglifyjs-webpack-plugin 0.4.6)
I see that compressor called multiple times and the last one he called without options (options === undefined).
If in dist/index.js:100 I fix check with if (options.compress !== false && options.compress !== undefined) { - the last call will be with paramete

[2017-10-23 20:57] michael-ciniawsky commented on #146
If ypu have something in mind please open a PR for discussion, otherwise would upgrading to v1.0.0 be sufficient for you ?

`npm i -D uglifyjs-webpack-plugin`

**webpack.config.js**
[code]

[2017-10-24 02:37] #130 closed

[2017-10-24 09:15] mcongy opened #148 "[v1.0.1] `options.parallel` on windows doesn't speed up compression (windows)"
Hello,

Parallel option doesn't seem to work on windows.

uglifyjs-webpack-plugin version: 1.0.1
webpack: 3.8.1
Windows: 10 (Version 1703, build 15063.674)

Tried using parallel option (both as a top-level argument to `UglifyJSPlugin({ parallel: true }) ` and as a `uglifyOptions: { parallel: true }`
Tried both using `true` and specific number of threads.

Tried doing 50+ tests, and I didn't see an

[2017-10-24 09:42] evilebottnawi commented on #148
@mcongy please provide information about you node and computer information (count core CPU, memory and etc)

[2017-10-24 10:48] mcongy commented on #148
Node: 8.7.0 (default installation using https://chocolatey.org/ )
CPU: Core i9 7900X (10 cores, 20 threads), 3.3Ghz
RAM: 32GB
64bit Win 10 Pro

[2017-10-24 11:06] evilebottnawi commented on #148
@mcongy good, I will wait

[2017-10-24 14:56] firebird631 commented on #132
Same issue with webpack 3.8.1, and using the webpack.optimize.UglifyJsPlugin or 'uglifyjs-webpack-plugin' 1.0.0 and uglify-js is correctly pointing to uglify-es. So I installed https://www.npmjs.com/package/uglifyjs-webpack-plugin3 and it works fine.

[2017-10-24 16:50] michael-ciniawsky commented on #146
Can you post your `webapck.config.js` please ?

[2017-10-24 16:51] michael-ciniawsky commented on #148
@mcongy Please include your `webpack.config.js` aswell, how many entries does your application have? Maybe related to #118

How many entries does your application have?
Could you check all running processes via the Task Manager while running `webpack` (#118)
Do you use caching `{ cache: true } or just `parallel` ?

[2017-10-25 08:56] codler commented on #132
Will this be updated in webpack?

[2017-10-25 10:33] KievDevel commented on #146
I'm using now:

`module.exports = [
    plugins: [
        new UglifyJSPlugin({
                compress: { unused:false }
            })
    ]
]`

That conf now should be used for default conf (if u'll use my PR proposal and that's isn't good)
`module.exports = [
    plugins: [
        new UglifyJSPlugin({
                compress: { }
            })
    ]
]`

Full [webpack.config.js](https://pas

[2017-10-25 10:37] jalkoby commented on #129
the same situation with node 8.8 + webpack 3.7
[code]

[2017-10-25 10:46] evilebottnawi commented on #118
@jinker friendly ping, can you try latest version?

[2017-10-25 15:48] d3viant0ne commented on #129
So here's the thing, you can't just remove the post install script.

I do have a question for the two of you given I can't repro this anywhere. Tried a fresh docker image, locally ... yada yada. I've even tried to repro on my just out of the box MBP that doesn't even have an editor installed.

`Possible workaround?`
How are the two of you requiring uglify in your webpack config? Given Webpack alre

[2017-10-25 16:30] jalkoby commented on #129
@d3viant0ne probably the issue is related not to the plugin, but rather to an environment. In my case - it was a vagrant environment with a project on sync folder (nfs sync). After I'd moved node_modules folder into the vm's internal space - everything started work fine. A quick research shown that it's a known issue for vagrant. Sorry for wasting your time

[2017-10-25 17:06] d3viant0ne commented on #129
Vagrant & shared fs I get, the docker issue on the other hand shouldn't be happening.

[2017-10-26 13:10] mcongy commented on #148
Hello, I tried it on other Windows PC.

Node: 8.8.0
Windows 10 Education N
Core i3 7100 (2 cores, 4 threads, 3.7 GHz)
16 GB RAM

Uglify config:

[code]
App have only 1 entrypoint

Results:
No performance improvement. (All test did vary from 15.4 to 15.6 seconds no matter the parallel option).

[2017-10-26 21:44] michael-ciniawsky commented on #148
How many assets (bundles) do you get ?  2 Cores === 1 Possibility to process of the main 'thread'.
When you run webpack could you inspect how many `node.exe` processes are spawned? (Task Manager)

[2017-10-26 21:45] michael-ciniawsky commented on #148
Besides that fact and after some experimentation, please use `{ cache: true }` 😛

[2017-10-27 01:04] d3viant0ne commented on #148
The vast majority of the performance improvements are going to come from caching not parallel execution though you will see performance improvements in cache generation with parallel enabled.

[2017-10-27 07:05] linh1987 commented on #118
just to chime in, We encountered the same issue with our CI environment:
Windows Server 2012 R2 / Teamcity
Node 6.4.0 with included NPM.

[2017-10-27 07:05] mcongy commented on #148
Ok, thanks for the explanation. Consider adding it to the docs, so it won't confuse other people.

I have one more question. Does `cache` options has some downfalls (e.g. having to manually invalidate the cache in certain cases)?

Thanks!

[2017-10-27 07:13] d3viant0ne commented on #148
Oddly enough, I had that should be in the docs discussion a few days ago :/

I've done a fair bit of testing with the cache enabled and I haven't seen any issues that would make me stop using it professionally. I also pulled some basic execution time numbers right before it was released that can be found [here](https://twitter.com/WebpackContrib/status/922276019700224001).

I pulled flame graphs a

[2017-10-27 07:24] d3viant0ne commented on #148
I'll see if I can find some time this weekend to do a bit more testing around the parallel option without the cache. There may very well be an issue preventing the plugin to not leverage the parallelization effectively, my focus for the initial testing was focused on the caching and the possibility of swapping out the library that manages it.

For reference, it uses `cacache` https://github.com/zk

[2017-10-27 08:49] vineetkumar19871503 commented on #104
@jlengstorf Thanks. Setting uglify to true worked for me!

[2017-10-29 07:49] jinker commented on #118
OK, I will try later.

[2017-10-29 13:07] vkrol commented on #118
We have same problem with the following configuration:
Windows 10 1703
webpack 3.8.1
uglifyjs-webpack-plugin@1.0.1

[2017-10-30 11:31] evilebottnawi commented on #111
@jinker @crazyxhz problem still exists?

[2017-10-30 17:31] aronlmin opened #155 "[0.4.6] Unexpected token: name (urlParts)"
I stepped away from a working project for 4 months, after stepping back into my project, I went to install a js library and had to upgrade my node version in order to get it to work, unfortunately, it broke UglifyJs. I keep getting the following compile error.
[code]

## 1. Check the version of package you are using. If it's not the newest version, update and try again (see changelog while updatin

[2017-10-30 19:16] gabefinch commented on #155
I'm experienceing an identical compile error on a Windows 10 machine. My package versions: `
    "uglifyjs-webpack-plugin": "^1.0.1",
    "webpack": "^3.8.1",
    "webpack-dev-server": "^2.9.3",
`
To the best of my knowledge I am specifying the plug in as specified in this project's README. I believe the compile error is coming from a **let** declaration in the webpack-dev-server source.  a straig

[2017-10-31 17:54] Callie-C-Wang opened #156 "Failed at the uglifyjs-webpack-plugin@0.4.6 postinstall script 'node lib/post_install.js'."
Hi,
 I am trying to install @angular/cli in my machine.
However, error shows like below.
My node version is v6.11.5
my npm version is v3.10.10

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install" "-g" "@angular/cli"
npm ERR! node v6.11.5
npm ERR! npm  v3.10.10
npm ERR! file C:\windows\system32\cm

[2017-11-01 08:04] evilebottnawi commented on #156
@Callie-C-Wang can you provide minimum reproducible test repo?

[2017-11-01 14:00] Callie-C-Wang commented on #156
Hi @evilebottnawi
This issue happened when I try to install angular command lines using the following command:
npm install -g @angular/cli
I ran this command in administration permission.
I also confirmed there's no proxy in my current machine.
And I also tried to uninstall, re-start the machine and install updated version of node and npm
With the node version = v8.9.0 and the npm version = 5.5.1,

[2017-11-01 17:18] evilebottnawi commented on #156
@Callie-C-Wang seems you don't have enough permissions, because you got `EPERM` error code

[2017-11-01 17:20] evilebottnawi commented on #156
@Callie-C-Wang maybe https://github.com/npm/npm/issues/17747 ?

[2017-11-01 21:56] Callie-C-Wang commented on #156
Thank you, @evilebottnawi
I will close this ticket and leave message to issue npm/npm#17747

[2017-11-01 21:56] #156 closed

[2017-11-02 06:14] amazingandyyy commented on #104
thank you @jlengstorf. Setting uglify to true worked for me as well, I am just here to remind others who also want to use solution, you need  `babel-preset-env` .

[2017-11-02 10:49] pladaria opened #157 "Improve schema errors feedback"
After updating to latest version, my webpack build broke and it was pretty hard to find the cause.

This is the only feedback I got:
[code]

After disabling all plugins and rules, and enabling them again one by one, I found that the problem was that uglify-webpack-plugin now requires to wrap `output` with `uglifyOptions`.

It would be nice to have some better feedback for those errors.

[2017-11-03 06:03] evan-scott-zocdoc opened #158 "Dedupe licenses"
It'd be nice if this plugin automatically deduped the licenses it collects. For instance, Facebook includes a license header at the top of most files which becomes very cluttery, since they're all essentially the same.

[2017-11-03 12:34] sybrendotinga commented on #99
@7chandan @evilebottnawi I think it is resolved now? I cannot reproduce it with the latest version. My current UglifyJS configuration is:

[code]

[2017-11-03 12:42] evilebottnawi commented on #99
@sybrendotinga thank for answer, feel free to open if problem will happen again

[2017-11-03 12:42] #99 closed

[2017-11-05 14:51] lffg commented on #132
Same.

[2017-11-06 14:46] linija-kalloopparambil opened #159 "Failed at the uglifyjs-webpack-plugin@0.4.6 postinstall script"
npm -v
5.5.1
node -v
v8.9.0

when trying to install the angular cli i get this error
npm install -g @angular/cli
module.js:538
    throw err;
    ^

Error: Cannot find module 'C:\Windows\scripts\install.js'
    at Function.Module._resolveFilename (module.js:536:15)
    at Function.Module._load (module.js:466:25)
    at Function.Module.runMain (module.js:676:10)
    at startup (bootstrap_node.js:18

[2017-11-07 16:31] mrjohnr opened #160 "ERROR TypeError: n._moduleDoBootstrap is not a function"
I'm using uglifyjs-webpack-plugin 1.0.1  in a webpack+angular 4 project.

In webpack.config.js I have this code:

[code]
after publishing the project I got this error in console,add app not working:

if I remove the Uglify() plugin call,application is working.
 If I only copy the obfuscated main-server.js,app still work,how to fix that.
 thanks

[2017-11-08 09:34] evilebottnawi commented on #160
@mrjohnr can you create minimum reproducible test repo?

[2017-11-08 09:35] evilebottnawi commented on #159
@linija-kalloopparambil old version have problem on windows in `postinstall` file, can you use latest version of `uglifyjs-webpack-plugin`?

[2017-11-08 11:42] alan-agius4 opened #161 "Minification with sourcemaps enabled is slow"
I have a huge application, with several thousands of files and lines of code.

When I enable source maps using the below, the compilation takes around 40 times longer, and In my case that means approximately 40 minutes.

[code]

I did some digging and it seems that the methods that take a lot of time are `sourceAndMap();
` and `map()` coming from [webpack-sources](https://github.com/webpack/webpac

[2017-11-08 19:33] michael-ciniawsky commented on #161
In general this is to be expected to some point, source map generation is expensive. Are the maps still correct  without column mapping ? Why do you need the source maps for production ? The use case for `options.sourceMap` is more suited in case you want to bundle a library and provide with source maps to users. Otherwise it is in general a good idea to disable minification during development

[2017-11-08 19:35] michael-ciniawsky commented on #157
Will be fixed by [schema-utils (#15)](https://github.com/webpack-contrib/schema-utils/pull/15) soon

[2017-11-08 19:35] #157 closed

[2017-11-08 19:36] michael-ciniawsky commented on #159
Duplicate of #129

[2017-11-08 19:36] #159 closed

[2017-11-08 19:37] alan-agius4 commented on #161
I am not interested in column mapping but line mapping is enough for me
which seems to be working ok

I want sournaps for production to map error logging using sentry logger
with the actual source.

On Wed, 08 Nov 2017 at 20:33, Michael Ciniawsky <notifications@github.com>
wrote:

[2017-11-08 22:00] michael-ciniawsky commented on #161
Closing in favor of [webpack-sources (#29)](https://github.com/webpack/webpack-sources/issues/29) 😛 , we shouldn't try to alter this within `uglifyjs-webpack-plugin` until absolutely necessary imho

[2017-11-08 22:00] #161 closed

[2017-11-09 09:16] dan-lee commented on #160
I had the same problem, but unfortunately I cannot provide a reproducible test repo. But I found that `uglify-es` is responsible somehow. I added following to my `package.json` and now it works again:
[code]
So something between `uglify-es@3.1.6` and `uglify-es@3.1.7` happened which lead to the issue.
Maybe this helps in some way.

[2017-11-09 09:22] evilebottnawi commented on #160
@mrjohnr solution about help?

[2017-11-09 11:08] mrjohnr commented on #160
Today I'll do the test
Where do I have to put 'resolutions' I'm thinking to something like that:

[code]
thanks

[2017-11-09 12:39] dan-lee commented on #160
@mrjohnr Yes at the top level of your `package.json` is correct.

[2017-11-10 02:39] michael-ciniawsky commented on #160
Closing as it seems to be unrelated to `uglifyjs-webpack-plugin` in particular, if this is a bug with `uglify-es` itself, please file an issue upstream

[2017-11-10 02:39] #160 closed

[2017-11-10 09:02] mrjohnr commented on #160
Hi.please give me some clues how to fix that and where to search for a fix?thanks

[2017-11-11 04:04] dingy007 commented on #117
Encountered the same issue as of Nov-2017, with nodejs version : 4.7.2 and npm version 3.5.2, which were installed on Ubuntu 17.04 using `sudo apt get install nodejs`.

How i fixed:
- Removed existing nodejs:
`sudo apt-get purge --auto-remove nodejs`
- Followed the instructions at [godaddy help docs](https://sg.godaddy.com/help/install-nodejs-ubuntu-17395), but installed the LTS version 8, take no

[2017-11-11 15:06] wangerniu commented on #155
the same appeared in my project, so how can we do to resolve it ?

[2017-11-11 18:59] dylanseago commented on #155
@gabefinch I was using the same packages as you and getting an error on a **let** declaration as well. I was able to get it working by running webpack with:
`webpack --define process.env.NODE_ENV="production"`
instead of
`webpack -p`
Apparently, the -p flag enables the built-in v0.4.6 uglifyjs plugin which isn't compatible with es2015+ features like **let**.

[2017-11-13 16:03] dlebedynskyi opened #162 "anime.js minification errors on 1.0.1"
Hi,
we noticed an issue with anime.js library start to crush on 1.0.1 while working fine on beta.2

code in question after minification
[code]
Error in console...

![image](https://user-images.githubusercontent.com/1182917/32735278-44876592-c862-11e7-8145-1020bc3e2c55.png)

Update: actually 1.0.0-rc and 1.0.0 both work as well.

Update2: issue seem to be in uglify-es  version itself .  > 3.1.3 is

[2017-11-13 16:48] evilebottnawi commented on #162
@dlebedynskyi can you create minimum reproducible test repo?

[2017-11-13 23:28] dlebedynskyi commented on #162
@evilebottnawi  I belive so far it was an issue with yarn.lock file itself.
I have tried multiple options so far but from my investigation

1. uglifyjs-webpack-plugin have deps as "uglify-es": "^3.1.3"
2. it seem that I had that dep resolve (or bad merge) to something  bigger then 3.1.3 but less then 3.1.9. From yarn.lock i see it should be 3.1.8.
3. I got above with that.

Once force update to 3.

[2017-11-13 23:29] #162 closed

[2017-11-14 03:18] PixnBits commented on #90
@kmvan using 1.0.1 allowed me to use
[code]

[2017-11-14 04:35] kmvan commented on #90
@PixnBits Thank you, works.

[2017-11-14 11:05] evilebottnawi commented on #118
@jinker @vkrol @jinker can you create minimum reproducible test repo?

[2017-11-16 10:31] bretthadley opened #165 "[^1.0.1] How to use a custom sourceMappingURL"
Versions -
`"uglifyjs-webpack-plugin": "^1.0.1"`
`"webpack": "^3.8.1"`

Usage
[code]

Output
`//# sourceMappingURL=app.js.map`

Expected
`//# sourceMappingURL=/themes/compare-modular/app.js.map`

I'm sure I'm doing something wrong can someone point it out please?

Many thanks!

[2017-11-16 14:04] Cristy94 opened #166 "Installing the package breaks webpack and corrupts other plugins"
After I do `npm i -D uglifyjs-webpack-plugin@beta`, my webpack building no longer works. All the other webpack plugins are gone/corrupted and I get errors like `Error: Cannot find module 'webpack-cleanup-plugin'`. To fix this issue I have to delete node_modules and run install again.

This is 100% reproducible on my side. I can't use the plugin :(

[2017-11-16 14:11] Cristy94 commented on #166
Nvm :D

[2017-11-16 14:11] #166 closed

[2017-11-17 09:35] evilebottnawi commented on #165
@bretthadley can you describe use case?

[2017-11-17 10:02] bretthadley commented on #165
@evilebottnawi Specifically I need it for the errorception service where they look for the sourceMappingURL  to give better error stacktraces. My app.js is served from '/themes/compare-modular/app.js' but the sourceMappingURL says '/app.js.map' which isnt right.

p.s. my publicPath in webpack is also '/themes/compare-modular/'

This is something that is supported by UglifyJS 2.x and 3.x (according

[2017-11-17 15:47] michael-ciniawsky commented on #165
[SourceMapDevToolPlugin](https://webpack.js.org/plugins/source-map-dev-tool-plugin/#src/components/Sidebar/Sidebar.jsx) ?

[2017-11-17 16:08] #84 closed

[2017-11-20 08:35] bretthadley commented on #165
@michael-ciniawsky Sure I could use that but because this is a feature supported by uglifyjs I just assumed I was configuring it wrong but if it doesn't work correctly then thats fine.

Thanks.

[2017-11-20 09:58] evilebottnawi commented on #165
@bretthadley can we close issue?

[2017-11-20 10:28] #165 closed

[2017-11-20 14:09] Ben07 opened #170 "cache seems does not work when I fetch code from github and compile it"
webpack:3.8.1
uglifyjs-webpack-plugin:1.0.1

Part of the configuration is as follows
[code]
The first time I compiled the code, `45668ms additional asset processing`,it compile slowly because there is no cache files.when I  compile again,`7ms additional chunk assets processing`.it compiled fastly because cache.That's good!
The problem is when I fetch code from gitlab, there is little change in the

[2017-11-20 15:15] michael-ciniawsky commented on #170
If these changes the`assets` processed by uglify the cache will be busted

[2017-11-21 01:57] Ben07 commented on #170
@michael-ciniawsky Thank you for your reply. In my understanding, if there is little change in code, cache will be busted little.But now the situation is like no cache, I am very confused.

[2017-11-21 18:29] michael-ciniawsky commented on #170
All `.js` output files (`assets`) you get in your output/build directory are processed  by `uglifyjs-webpack-plugin` individually, so a small change to one of the modules included in one of these assets will likely bust the cache for at least this asset then :)

[2017-11-21 18:29] #170 closed

[2017-11-21 20:18] ryan-sherpa opened #171 "sourceMap option in uglifyOptions not overwriting sourceMappingURL"
The setup:
[code]

[code]

[code]

Then I look into the bundled js and see:
[code]

[2017-11-21 20:44] michael-ciniawsky commented on #171
Use the [SourceMapDevToolPlugin](https://webpack.js.org/plugins/source-map-dev-tool-plugin/#src/components/Sidebar/Sidebar.jsx) instead please

[2017-11-21 20:44] #171 closed

[2017-11-22 02:11] Ben07 commented on #170
Probably for this reason. I will check it in next compile time

[2017-11-22 02:44] brentwilton commented on #118
We have been encountering the same issue on Windows 10.

With parallel turned on the dist/uglify/worker.js will successfully minify the file and process.send() the reply back to the parent, but the parent never receives the message from the forked process.

forked.child.on('message', this.receive.bind(this)) is never invoked in worker-farm/lib/farm.js even though the message is sent from the child

[2017-11-22 03:15] michael-ciniawsky commented on #118
@brentwilton Feel free to open a PR with this change for further discussion

[2017-11-22 10:35] eldh opened #172 "Syntax error when minifying array destructuring"
In this function
[code]
... the array destructuring compiles to `return...r[0];const e=r.map(t=>...t);`, which is afaict a syntax error. I tried disabling a bunch of compress options but always got the same result.

I guess this doesn't happen often because in most setups array destructuring is transpiled by babel before it hits uglify.

Minimal repro in this repo: https://github.com/eldh/webpack-

[2017-11-22 12:55] evilebottnawi commented on #172
@eldh seems it is not related to `uglifyjs-webpack-plugin`, problems in `babel` or `uglify-es`, need investigate

[2017-11-22 13:31] eldh commented on #172
Ah yes, sorry. I'll close this and open an issue in uglify-es.

[2017-11-22 13:31] #172 closed

[2017-11-22 14:03] eldh commented on #172
https://github.com/mishoo/UglifyJS2/issues/2498 if anyone comes this way

[2017-11-23 08:53] mikeaustin commented on #129
I just tried installing wewpack on an Amazon EC2 Ubuntu instance, and got the error 'node: not found'. @d3viant0ne, what difference does a shared fs make? I don’t know much about the ebs file system.

[2017-11-23 09:00] mikeaustin commented on #115
@kentenzer what worked? I’m having this problem on an Ubuntu Amazon EC2 instance.

[2017-11-23 12:02] #118 closed

[2017-11-23 15:52] #111 closed

[2017-11-23 15:53] michael-ciniawsky commented on #111
#173

[2017-11-23 17:12] steveetm opened #175 "[Source Maps] **seems** to generate misaligned source map"
Hi!

I've created a sample repository to demonstrate the problem which you can check [here](https://github.com/steveetm/webpackuglifybugrepro).

Open the generated page in chrome, open devtools and put a breakpoint at console.log('a');
When the debugger stops there, try to step one line, all console logs run instantly and the debugger has no clue on which line it should be.

But if you comment out

[2017-11-23 18:31] mfrlin commented on #129
Is there a work around for this bug? `npm install` fails because of webpack and I don't know how would I tell `npm` to use beta version instead of 0.4.6 that webpack requires.

[2017-11-23 19:17] kentenzer commented on #115
If you edit the webpack.config.js, then npm works.

[2017-11-23 21:45] michael-ciniawsky commented on #148
Fixed in #173 && released in `v1.1.0`

[2017-11-23 21:45] #148 closed

[2017-11-23 21:46] michael-ciniawsky commented on #118
Released in `v1.1.0` please test

[2017-11-24 10:12] evilebottnawi commented on #129
@mfrlin can you describe you env? os, npm version, node version, server and etc

[2017-11-24 12:17] mfrlin commented on #129
Ok so I'm no sys admin but I've solved with upgrading `node` to version v9.2.0.

Old configuration was this:
uname -a
Linux sc-jenkins-slave 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u2 (2017-06-26) x86_64 GNU/Linux
node --version
v7.1.1
npm --version
v4.2.0

It just stoped working one day. I don't thing anything changed. There was no error message. Not even when silly logging was enabled with -ddd

[2017-11-24 12:24] evilebottnawi commented on #129
@mfrlin thanks for information, i will investigate this in near future

[2017-11-24 13:23] francispeixoto commented on #129
I get build failures on Travis because of this issue. Heroku's build log on deploying the same code doesn't contain any errors.

**Travis build log snippet:**
npm WARN engine co@4.6.0: wanted: {"iojs":">= 1.0.0","node":">= 0.12.0"} (current: {"node":"0.10.48","npm":"2.15.1"})
npm ERR! Linux 4.9.6-040906-generic
npm ERR! argv "/home/travis/.nvm/v0.10.48/bin/node" "/home/travis/.nvm/v0.10.48/bin/npm

[2017-11-24 13:31] evilebottnawi commented on #129
@francispeixoto you use very old node (`0.10.48`) version and npm (`2.15.1`) which don't support

[2017-11-24 16:18] francispeixoto commented on #129
you were right. thanks for the insight. this is my first node project so I'm still learning. I updated my travis file and moved on.

[2017-11-27 17:25] kzc commented on #175
This ought to be in a FAQ for this plugin...

Uglify optimizes code in order to reduce it. Unused code is eliminated and some of the original variables and functions are inlined and as such have no mapping. Breakpoints cannot necessarily be set on certain lines as they no longer exist.
[code]
[code]
[code]

The Chrome debugger cannot handle source maps as well as FireFox. The FireFox debugger can

[2017-11-28 07:12] steveetm commented on #175
You were absolutely right, I also missed the -c from my raw uglify command. But our original issue with our whole codebase was if I set a breakpoint on a certainly existing line, the debugger stopped somewhere else instead. While in this example this problem indeed non-existing. I just wrongly assumed this is the exact same issue, but I've failed to reproduce it, as I could easily put a breakpoint

[2017-11-28 07:16] kzc commented on #175
Chrome's debugger cannot step through sequence expressions as seen in the uglify output above. FireFox's debugger can. This issue has nothing to do with uglify.

[2017-11-28 11:38] webpack-bot opened #177 "UglifyJsPlugin: typescript sourcemap not match"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

After use webpack build my project (ts) with UglifyJsPlugin, it worked well, but **sourcemap not match** when debug with chrome.

1. line 81 can not have a breakpoint.
2. Begin,  I at line 80 and item.isCompletion==true, it will jump to line 83 if I single step debugging.

![image](https://cloud.gith

[2017-11-28 11:39] evilebottnawi commented on #177
@zwwtj2014 problem still exists? If you please create minimum reproducible test repo, thank for issue!

[2017-11-28 11:55] webpack-bot opened #178 "[v0.4.6] `warningsFilter` does not take effect if `sourceMap` option is false"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

`options.warningsFilter` for the UglifyJS plugin only takes effect if `options.sourceMap` is truthy.

**If the current behavior is a bug, please provide the steps to reproduce.**

Add a `warningsFilter` that silences warnings, but set `sourceMap` to `false`.

https://gist.github.com/christopherthiele

[2017-11-28 11:55] evilebottnawi commented on #178
Need add test to ensure all works as expected in latest version

[2017-11-28 21:10] michael-ciniawsky commented on #177
See https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/175#issuecomment-347257392

[2017-11-28 21:10] #177 closed

[2017-12-01 15:36] danbopes opened #179 "Compilation error when compress conditionals is true"
See repo: https://github.com/danbopes/webpack-uglify-react-form-issue

Trying to diagnose an error. When compress conditionals is false, webpack compiles and runs correctly. When compress conditionals is true or mangle is false, webpack compiles but shows the following error:
![](https://camo.githubusercontent.com/c433070af2bf9613b37f549777094ecc30f0cee2/68747470733a2f2f692e696d6775722e636f6d2f545

[2017-12-01 15:51] tstackhouse commented on #72
@hulkish I think I have an example use-case to @indutny's point of multiple uglify instances: Say I have all my application logic in `main.bundle.js` and I have my vendor libraries in `vendor.bundle.js`.  I can uglify my app code, including mangling and everything still works, but if I apply mangling to my vendor code, things break horribly (and are very difficult to trace).  Therefore I want to s

[2017-12-02 01:30] antonlitvinenko commented on #92
@olafahn Hi! do you have any idea what in the end caused this issue? Seems like we are having the same issue and the only way to workaround it so far was to turn off the mangle.

Thanks!

[2017-12-02 03:00] re-fort opened #180 "Removing comments does not work when setting devtool to eval"
Hi, thanks for the great lib!

Currently, I'm trying code splitting.
Since babel removes webpack magic comments like `webpackChunkName`, I want to use this library to remove comments instead of it.
But when I set devtool to eval, it seems removing comments does not work.
Is it expected behavior?

my config:
[code]

|devtool|remove comments?|
|------------- |-------------|
|eval|NO|
|cheap-eval-sou

[2017-12-02 03:10] #180 closed

[2017-12-02 03:20] re-fort commented on #180
OK, thanks

[2017-12-03 17:56] philippeluickx commented on #155
Uglify does not support es6, you have to get uglify-es. If you use uglifyjs-webpack-plugin as of v1, then all should be ok.

[2017-12-03 20:37] michael-ciniawsky commented on #155
`uglifyjs-webpack-plugin =< v0.4.6` is pretty much locked and in maintenance until `v1.0.0` ships with `webpack v4.0.0`. Please consider updating the plugin to `>= v1.0.0` in the meantime or try to trace the bug down any critical **implementation** bug to where is occurs in the plugin and we maybe able to fix it in `v0.4.6`. Otherwise the best solution for any eventual  ES2015 related bug is to up

[2017-12-03 20:37] #155 closed

[2017-12-04 09:23] webpack-bot opened #181 "`extractComments` option uses url relative to `output.path` instead of its source file"
**Do you want to request a *feature* or report a *bug*?**
I'm not sure, it's probably a FR

**What is the current behavior?**
When using the `UglifyjsWebpackPlugin` with the following options...

[code]

...the file is written in the correct folder but the path that is written into the file is relative to the base directory (I guess it's the `output.path` option) instead of the file. As an example

[2017-12-04 23:01] kzc commented on #179
`uglifyjs-webpack-plugin@1.x` is not compatible with the `-p` flag of `webpack@3.x`.

The `-p` flag of `webpack@3.x` will use `uglifyjs-webpack-plugin@0.4.6` unconditionally.

For `webpack@3.10.0` on UNIX use this instead:
[code]
On Windows the quoting may be different. I don't know.

[2017-12-05 00:14] michael-ciniawsky commented on #179
@danbopes See @kzc comment @kzc Thx :) Feel free to reopen if still regressions

[2017-12-05 00:14] #179 closed

[2017-12-05 01:05] kzc commented on #179
I confirmed the repro worked with the command above. It would have been helpful if the code actually displayed something. :-)

[code]

[2017-12-05 01:07] danbopes commented on #179
I thought it had <div>It works!</div>. Anyways, thanks for the assistance.
Would be helpful if the documentation reflected the '-p' flag.

On Dec 4, 2017 8:05 PM, "kzc" <notifications@github.com> wrote:

[2017-12-05 14:50] cbranca opened #184 "Uglifyjs ascii_only option"
Hello, I'm using webpack 3.5.4 with AngularJS 1.6.5.
I need to minify the application using the "ascii_only: true" option, but this option doesn't work.
I need the ascii_only option because when I use an angularjs currency filter, after the minification it prints "Â$ 345,000" instead of "$ 345,000".

this is the code that I use to minify the application:
[code]

Is this option supported or it is a

[2017-12-05 14:56] evilebottnawi commented on #184
@cbranca `webpack.optimize.UglifyJsPlugin` contain `0.4.6` version (see https://github.com/webpack-contrib/uglifyjs-webpack-plugin/tree/v0.4.6), but you use arguments for latest version.
Solution:
1. Rewrite arguments for https://github.com/webpack-contrib/uglifyjs-webpack-plugin/tree/v0.4.6#usage
2. Add in `package.json` latest `uglifyjs-webpack-plugin` version and use new format arguments.

Than

[2017-12-05 14:56] #184 closed

[2017-12-05 14:57] cbranca commented on #184
Thank you!

[2017-12-06 07:57] xgqfrms-gildata opened #185 "how to set to except some keywords, in case some bugs(can not find the function name.)?"
### how to set to except some keywords, in case some bugs(can not find the function name.)?

https://github.com/webpack-contrib/uglifyjs-webpack-plugin#uglifyoptions
https://github.com/webpack-contrib/uglifyjs-webpack-plugin/tree/master#uglifyoptions

https://github.com/mishoo/UglifyJS2/tree/harmony#minify-options
https://github.com/mishoo/UglifyJS2/tree/harmony#mangle-properties-options

[2017-12-06 08:00] xgqfrms-gildata commented on #185
https://webpack.js.org/plugins/uglifyjs-webpack-plugin/#uglifyoptions

[code]

[2017-12-06 08:20] michael-ciniawsky commented on #185
What particular `keywords` do you mean ? For `mangle` ?

[2017-12-06 08:21] michael-ciniawsky commented on #185
https://github.com/mishoo/UglifyJS2/tree/harmony#mangle-properties-options

[2017-12-06 08:57] xgqfrms-gildata commented on #185
#  BouncedModal

[code]

[2017-12-06 09:06] michael-ciniawsky commented on #185
You mean you don't want to minify this particular file at all ?
Use `options.exclude` for that then or explain your particular problem in more detail please

[2017-12-06 10:54] xgqfrms-gildata commented on #185
yes, but not exactly!

1. I called the `BouncedModal()` function in some `*.js` file, but after uglified this `*.js` , it can not get the rightly name of `BouncedModal()`.

![image](https://user-images.githubusercontent.com/29531779/33658066-48263e38-dab6-11e7-8cef-74830b009375.png)

2.  the minified `BouncedModal()` function

![image](https://user-images.githubusercontent.com/29531779/33658164-b0

[2017-12-06 10:59] clairepham91 opened #186 "Minimal compress options to suppress React production build warning"
Hi, I don't wish to use the default compress options to [minimize build time](https://github.com/mishoo/UglifyJS2#uglify-fast-minify-mode). However I encounter this error by React.
`Uncaught Error: React is running in production mode, but dead code elimination has not been applied. Read how to correctly configure React for production: https://fb.me/react-perf-use-the-production-build`

I tried usi

[2017-12-06 11:01] xgqfrms-gildata commented on #185
So, what I mean exactly is that only leave the `BouncedModal()` function in original, but also minify other functions of the `Modal.js`.

# Thanks for your time!

[2017-12-06 11:11] evilebottnawi commented on #186
@clairepham91 thank for issue, can you create minimum reproducible test repo?

[2017-12-06 15:05] andy2046 opened #187 "ERROR from UglifyJs Invalid assignment"
using latest version "1.1.2" with web pack 3.5.5 but got the error below

`
ERROR in xxx.js from UglifyJs
Invalid assignment [xxx.js:72,40]
`
[code]

[code]
[code]

[code]

[2017-12-06 15:29] evilebottnawi commented on #187
@andy2046 `webpack.optimize.UglifyJsPlugin` contain `0.4.6` version in `webpack@3` (which don't support ES5+ syntax), also `UglifyJsPlugin` don't have `minimize` option, also i recommend use `babel-env`. Seems you have incorrect `babel` configuration.

[2017-12-06 16:08] SuperManEver commented on #187
I have exactly the same problem

[2017-12-06 16:08] webpack-bot opened #188 "Memory usage regression related to uglify between Webpack 2.1 beta to 3.X"
**Do you want to request a *feature* or report a *bug*?**

Report a bug

**What is the current behavior?**

Using the uglify plugin on a large project (3000-4500 modules) to do a production build seems to have fairly high memory usage and fails with an an heap out of memory error. It's not 100%, but in our projects is fairly easy to repro in all versions I tried, 2.7 all the way to the latest 3.X.

[2017-12-06 16:09] evilebottnawi commented on #188
Need review latest version on memory leak

[2017-12-06 16:10] evilebottnawi commented on #188
@Phoenixmatrix problem still exists?

[2017-12-06 16:10] evilebottnawi commented on #187
@andy2046 @SuperManEver can you create minimum reproducible test repo?

[2017-12-06 16:15] webpack-bot opened #189 "UglifyJSPlugin breaks alias module (mapbox-gl)"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When building for production, UglifyJSPlugin causes Mapbox to throw an `Reference Error: n is not defined`. Compiling/building works fine without UglifyJSPlugin.

**If the current behavior is a bug, please provide the steps to reproduce.**
I am using VueJS with webpack, and load Mapbox via
[code]
becau

[2017-12-06 16:15] evilebottnawi commented on #189
Seems issue was solved, but we should add test to avoid problem in future

[2017-12-06 16:59] Phoenixmatrix commented on #188
As far as I know it exists on everything at least 2.7 and up (I have not tested all versions between the 2.X-beta and 2.7).

[2017-12-06 17:01] kzc commented on #189
https://github.com/mishoo/UglifyJS2/issues/2520#issuecomment-347342508

[2017-12-06 17:22] kzc commented on #186
This is a question for the react project.

It's not possible to minimize build time if you're using the production version of react as it apparently requires uglify `compress` to be enabled:

See: https://reactjs.org/docs/optimizing-performance.html#webpack

You can minimize build time with a development version of react.

Look at the Webpack documentation to see how multiple build configurations

[2017-12-06 23:56] michael-ciniawsky commented on #187
**package.json**
[code]

**webpack.config.js**
[code]

[2017-12-06 23:56] #187 closed

[2017-12-06 23:56] michael-ciniawsky commented on #189
Especially https://github.com/mishoo/UglifyJS2/issues/2520#issuecomment-347357959

[2017-12-06 23:56] #189 closed

[2017-12-07 00:02] michael-ciniawsky commented on #188
@Phoenixmatrix

1. Are you using  the `ModuleConcatenationPlugin()` in `production`, or what other plugins are included exclusively for a `production` build ?
2. Does this also happen without using `uglifyjs-webpack-plugin` (in general).
3. Could you try with `uglifyjs-webpack-plugin >= v1.0.0`and see if it still happens

[2017-12-07 00:04] michael-ciniawsky commented on #185
`compress` && `mangle` have an option called `keep_fnames`, but I don't think you can whitelist for them, but normally this isn't _really_ needed :)

[2017-12-07 00:04] #185 closed

[2017-12-07 00:18] #186 closed

[2017-12-07 00:53] Phoenixmatrix commented on #188
1. While we do use a very different configuration in production, when I did my tests that narrowed things down to Ugilify, I was not using anything else from our production setup (I was just toggling UglifyJSPlugin). We don't use ModuleConcatenationPlugin right now.

2. It doesn't.  For what its worth, the heap out of memory error when this happens always happens in a way that shows a a few stack

[2017-12-07 01:25] michael-ciniawsky commented on #188
👍

Yep, please report back if this works (better) and include the stack trace / V8 OOM Error in case it still happens

[2017-12-07 01:44] xgqfrms-gildata commented on #185
yes, it doesn't work.

![image](https://user-images.githubusercontent.com/29531779/33694394-d010d1f6-db32-11e7-8e4b-f33e7c4ce897.png)

So, how what should I do?
Maybe, just only minify it without uglify it.

[2017-12-07 02:02] michael-ciniawsky commented on #185
Please show the full UglifyJsPlugin `options` in regard to the `ValidationError` , does thi only happen when using `uglifyOptions.mangle['keeü_fnames']` ? That would be a bug then, but your setup looks really confusing tbh :), Please also  remove `sourceMap: true` and don't minify your code in `development`

[2017-12-07 02:23] xgqfrms-gildata commented on #185
My `webpack.config.js` is work OK, but after I set `mangle` options, it throws some errors.

![image](https://user-images.githubusercontent.com/29531779/33695468-78c48ee6-db38-11e7-8f5d-b0c11e04b2ca.png)

this is the full version `webpack.config.js` & `package.json`

[code]

[code]

[2017-12-07 02:26] xgqfrms-gildata commented on #185
1. I was executed command `npm run app`, So I'm in production mode.

[2017-12-07 03:19] xgqfrms-gildata commented on #185
[code]

[2017-12-07 04:34] kzc commented on #188
This is not surprising with such a large code base. Source maps in particular chew up a ton of memory.

Your build was likely very close to the node memory limit before and some new code optimizations in more recents versions of webpack and uglify likely pushed it over the limit.

It looks like `webpack v2.1.0-beta.28` used [`uglify-js@2.7.3`](https://github.com/webpack/webpack/blob/v2.1.0-beta.28

[2017-12-07 05:12] Phoenixmatrix commented on #188
Yeah, if it didn't go from happening 0% of the time across tens of thousands of builds, to happening 2/3rd time across a dozen different apps (we have hundreds, but only the big ones experienced it, though with consistency), I wouldn't have reported anything.

[2017-12-07 05:19] kzc commented on #188
@Phoenixmatrix It would be helpful if you could provide peak webpack memory usage and wall clock timings for the following scenarios similar to [this issue](https://github.com/webpack/webpack/issues/5992#issuecomment-346340784) using Task Manager for Windows or `top` for UNIX:

1. webpack@2.1, uglify enabled, source maps enabled
1. webpack@2.1, uglify disabled, source maps enabled
1. webpack@2.1,

[2017-12-08 19:00] whitecolor commented on #118
Using `1.1.2` I have this issue in windows 10 (WSL).

[2017-12-12 11:54] scarletsky opened #191 "How to keep the same name when mangle properties within multiple chunks ?"
I am mangling properties by regex. Mangle properties work well when there is only one file output. But it won't work when there are multiple chunks or code splitting, because the variable will not match.
Any way to fix this issue ?

Here is my webpack config.
[code]

[2017-12-12 12:17] evilebottnawi commented on #191
@scarletsky i think it is possible only disable `mangle`, but you can create issue in `uglify-es` about this, we just `uglify-es` wrapper for `webpack`. Also you can create multiple instance `UglifyJsPlugin` and use `test/exclude/include` option for filtering chunks

[2017-12-12 14:00] kzc commented on #191
Look up `nameCache` and `--name-cache` in the uglify docs.  Because it's an inherently serial operation, it would only work with `parallel: false`.

[2017-12-12 15:06] scarletsky commented on #191
@kzc
Great! `nameCache` is what I am looking for. Thanks!

[2017-12-12 15:06] #191 closed

[2017-12-14 10:33] huboshu0819 opened #192 "uglifyjs-webpack-plugin can't compress code"
webpack version 3.8.1
uglifyjs-webpack-plugin version 0.4.6

plugins config:
[code]
![5050bc34-773e-91e6-0046-27fa110e613d](https://user-images.githubusercontent.com/10299842/33987784-17c001dc-e0fd-11e7-99d2-e29dc7281842.jpg)
![753a24a1-befc-5ca9-954f-9181d5891f73](https://user-images.githubusercontent.com/10299842/33987787-18b16914-e0fd-11e7-956e-b1c61bcede4e.jpg)
After the output of "d", it does

[2017-12-14 10:41] evilebottnawi commented on #192
@huboshu0819 can you create minimum reproducible test repo?

[2017-12-14 11:29] huboshu0819 commented on #192
I'd resloved this problem by update uglifyjs-webpack-plugin to 1.1.3, thanks

[2017-12-14 11:37] #192 closed

[2017-12-14 13:03] mike3run commented on #165
As seen in the uglify docs:

https://github.com/mishoo/UglifyJS2/tree/harmony#source-map-options

The options are never just `url` but rather `url` and one of the following:

- filename
- root
- content

[2017-12-17 19:57] andreialecu commented on #188
This might be related: https://github.com/mishoo/UglifyJS2/issues/2609#issuecomment-352275482

[2017-12-17 20:00] kzc commented on #188
@andreialecu In mishoo/UglifyJS2#2609 you wrote:

This is a different issue.

[2017-12-18 16:58] Phoenixmatrix commented on #188
Update: I didn't get to run tests yet but will do so this week (holidays are a little crazy). I'm not forgetting about this.

[2017-12-18 17:33] kzc commented on #188
This shows that `uglify-js@2` was used in this issue, not `uglify-es`. So it is not related to mishoo/UglifyJS2#2609.

[2017-12-19 16:52] evilebottnawi commented on #175
Not related to `uglifyjs-webpack-plugin`, thanks to everyone!

[2017-12-19 16:52] #175 closed

[2017-12-19 19:19] Phoenixmatrix commented on #188
Ok, that took forever (building our apps takes a bit, and making sure everything lined up properly with Lerna for all the tests was a pain, especially for testing the older webpack version, but I got it right in the end).

## Methodology
I took one of our above average size apps that had experienced the issue  (not the largest ones, because it was taking too long to build to be practical). The onl

[2017-12-19 19:31] kzc commented on #188
Thanks for the data. I don't see any problem here. Uglifying code in any configuration for your sources always takes an additional 500 to 600mb of RAM. It's well known that source maps consume a lot of memory.

[2017-12-19 19:38] Phoenixmatrix commented on #188
Of course. Again, the issue is that moving from webpack 2.1 to 2.7/3.X we saw our memory usage go up enough that we went from 0% failure rate to 50%~ failure rate over heap allocation related crashes in our bigger projects, with everything else (including sourcemaps) being the same.

[2017-12-19 19:39] kzc commented on #188
As I thought with my comment above:

[2017-12-21 15:08] jesusgp22 commented on #129
I'm getting this same error with a Jenkins pipeline

[2017-12-21 16:28] evilebottnawi commented on #129
@jesusgp22 can you provide link or describe env (os, node version, webpack and etc), if you can create minimum reproducible test repo, it will be great! Thanks!

[2017-12-21 21:00] jesusgp22 commented on #129
@evilebottnawi we just have a jenkinsfile like this:
[code]
(rest of the file omitted for security reasons but it fails at npm install)

npm is installing an app bootstraped with create-react-app that is using the latest version of react-scripts ("react-scripts": "1.0.17",``) so I don't really know what version of webpack is that using

I believe jenkins is installing node v8.4

npm install fails

[2017-12-22 08:30] gflohr opened #196 "Usage of uglifyOptions"
I was using the plug-in like this:

[code]
But debugger statements are still dropped in the output.  This `webpack.config.js` works as expected:

[code]
Am I missing something, or are the docs wrong, or is that a bug?

[2017-12-22 08:40] gflohr commented on #196
Sorry, I had checked the version in the wrong node_modules/ ...

It's fixed already.

[2017-12-22 08:40] #196 closed

[2017-12-22 09:36] evilebottnawi commented on #129
@jesusgp22 seems something with permission, CI on root?

[2017-12-24 20:13] FranciscoKnebel opened #197 "requestShortener.shorten is not a function"
_Running most recent version of plugin, tested with latest Node LTS (v8.9.3) and latest non-LTS (v9.3.0), on Ubuntu 17.10._

_Workaround_

Related to closed issue #114.
Build fails on minifying the project, aborting the process due to undefined function.
I found the above issue, and since no test case was defined, I've created one below, with test code, which reproduces the bug.

**Test case:**
Cr

[2017-12-25 03:53] MikeBison commented on #197
I have the same error,can you please show more infomation?how to fix?You mean edit the file 'app.js' after build? @FranciscoKnebel

[2017-12-25 03:56] FranciscoKnebel commented on #197
Hello Mike, haven't found a fix for this yet. There are two bugs here: one
about the shorten function, which breaks the webpack process due to not
existing, and then the minify problem.
I'll wait for someone who knows more about this to take a look first :)

On Dec 25, 2017 01:53, "MikeBison" <notifications@github.com> wrote:

[2017-12-25 04:00] MikeBison commented on #197
@FranciscoKnebel Thank you!

[2017-12-25 08:00] jingle2008 commented on #197
I ran into the same issue today, looks like it is newly introduced.

[2017-12-25 08:37] KonstantinVlasov commented on #197
Faced with the same issue after html-minifier was updated to 3.5.8

[2017-12-25 09:26] Web-of-Dancer commented on #197
@FranciscoKnebel The problem was solved, but new problems arose, and the vue-barcode plug-in introduced by the project was wrong.

[2017-12-25 09:41] An0nymous0 commented on #197
怎么解决？

[2017-12-25 10:00] An0nymous0 commented on #197
No one knows what is the reason for this problem?

[2017-12-25 11:28] SuperGod commented on #197
I have the same problem

[2017-12-25 11:35] deepeshmadkar commented on #197
npm prod is working,
But build is giving error:
TypeError: requestShortener.shorten is not a function

[2017-12-25 11:48] sjjgithub commented on #197
表示遇到同样的问题

[2017-12-25 11:56] littledu commented on #197
I have the same problem

[2017-12-25 12:17] sjjgithub commented on #197
想知道怎么解决

[2017-12-25 12:46] zjruan commented on #197
我也碰到了同样的问题，但是上周五还是好好的。于是我对比了之前的 `package.json`，发现 `uglifyjs-webpack-plugin` 的版本是 `0.4.6`，但现在已经是`1.1.4`了。于是我又会到这里，发现了`README.md`文件开头的一段话

解决方案：将`package.json`中的`uglifyjs-webpack-plugin`的版本手动改为`^0.4.6`，再重新`npm install`

## google translate
I also encountered the same problem, but last Friday is ok. So I compared the previous `package.json `and found` uglifyjs-webpack-plugin` to be `0.4.6`, but it's

[2017-12-25 16:03] zeratul1 commented on #197
There are two issues.

First, incorrect params of `buildError` function.
https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/966987c6d1284b6daf94c814b0899cfe0bc485b3/src/index.js#L56
I think it should be
[code]

Second, the `uglify-es` can not parse source code with inline comment correctly
it can not generate AST from these codes successfully
[code]

So downgrade to v0.4.6 is a good s

[2017-12-25 22:40] amiram commented on #197
I had the uglifyjs problem with inline comments today. My project is built with angular cli. Building with `-prod` ended with an error about the var keyword. Building with source map `-sm` failed silently. The problematic row for uglifyjs was:
`/* harmony default export */ var src_voronoi = (function() {`
No idea why this row in particular. Other rows with such comment were fine.
Eventually uglify

[2017-12-26 08:39] evilebottnawi commented on #197
@amiram known issue https://github.com/mishoo/UglifyJS2/issues/2500

[2017-12-26 08:41] evilebottnawi commented on #197
Seems something wrong in uglify-es, i strongly recommend use lock files to avoid this problem, also somebody can provide uglify-es version?

[2017-12-26 08:55] evilebottnawi commented on #197
@kzc friendly ping, regression(s) in `uglify-es`?

[2017-12-26 10:00] raj7831 commented on #197
There are errors in "uglify-es" file for sure. To solve issue I have shifted "uglify-es" to lower version, which solved the issue. But whats wrong in newer version!! Still finding.

[2017-12-26 14:39] kzc commented on #197
The comment parse issue https://github.com/mishoo/UglifyJS2/issues/2652 was fixed in `uglify-es@3.3.2`.

As for other issues in this thread, users would have to create an uglify input file that would reproduce the problem. Posting the error alone is rarely helpful.

[2017-12-26 14:46] kzc commented on #197
@evilebottnawi `requestShortener.shorten` is code found in `uglifyjs-webpack-plugin@1.x`. `uglifyjs-webpack-plugin@1.x` does not report uglify errors correctly.

Please see: https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/114#issuecomment-326427192

[2017-12-26 14:56] evilebottnawi commented on #197
@FranciscoKnebel problem still exists?

[2017-12-26 15:00] kzc commented on #197
@evilebottnawi Just to be clear, unrelated to the uglify comment parse bug, there's still a bug in `uglifyjs-webpack-plugin@1.x` that was never resolved. Not sure why https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/114 was closed. Create a JS file with invalid ES6 input and feed it through this plugin.

[2017-12-26 15:41] FranciscoKnebel commented on #197
@kzc hey, thanks for helping clarify things. On the repository and on the original comment, I have inserted a test file which should trigger the uglify error. The point of creating the issue was to fix the plugin silent failure, which was found on a months old issue that was closed unresolved, due to not having a test case.

@evilebottnawi rollbacking into v0.4.6 is a workaround for the problem wi

[2017-12-27 03:30] liuguanhua commented on #114
升级 uglifyjs-webpack-plugin 即可

[2017-12-27 07:14] zeratul1 commented on #197
@evilebottnawi
please the first issue in my comment above.

This causes a TypeError: requestShortener.shorten is not a function
https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/966987c6d1284b6daf94c814b0899cfe0bc485b3/src/index.js#L56
I think it should be

[2017-12-27 09:54] evilebottnawi commented on #197
@zeratul1 can you provide minimum reproducible test repo?

[2017-12-27 10:06] xgqfrms-gildata commented on #185
![image](https://user-images.githubusercontent.com/29531779/34378418-afdfaab6-eb30-11e7-87c5-935270f54878.png)

[2017-12-27 15:37] kzc commented on #197
@evilebottnawi A test case would be any invalid ES6 input fed to this plugin. As @zeratul1 mentioned, please examine the function parameters - `compilation` is missing:

https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/966987c6d1284b6daf94c814b0899cfe0bc485b3/src/index.js#L56

https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/966987c6d1284b6daf94c814b0899cfe0bc485b3/sr

[2017-12-29 18:57] sarat9 commented on #129
https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/113#issuecomment-324436501

Installing
sudo apt-get install nodejs-legacy
helped me.

[2017-12-29 20:13] jesusgp22 commented on #129
@evilebottnawi yes, jenkins always runs with sudo and creates a clean instalation every time

[2018-01-03 19:54] Alkarin commented on #129
Anyone found a work around for this? I can't run any of my angular projects.

[2018-01-03 23:09] nuthinking opened #203 "UglifyJsPlugin fails if the entry file is outside the package directory"
I am trying to build an npm module from code used in an app to limit the number of projects and not having to distribute the source map. For this reason the building assets for the module (webpack config, package.json and .babelrc) are outside the project `src` folder and in the module webpack config I specify as entry `../src/folder/index.js`. When building I get:

[code]

If I copy the folder co

[2018-01-03 23:29] Alkarin commented on #129
Installing `nodejs-legacy` surpasses this error for me. Unfortunately it causes this error now https://stackoverflow.com/questions/42160699/getting-error-after-angular-cli-update

...Which is fixed by updating nodejs. Kinda stuck here.

[2018-01-04 02:29] olafahn commented on #92
@antonlitvinenko Hello!
I just guess that some webpack configuration issue,
especially, webpack version issue. I suggest you to checkout to new branch, then update some of babel related packages first, i think that solved me in my case.
Hope this work!

[2018-01-04 03:56] kzc commented on #92
The solution has been repeated several times. It's not magic.

https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/92#issuecomment-331637609

https://github.com/mishoo/UglifyJS2/issues/1753#issuecomment-324814782

[2018-01-04 13:35] evilebottnawi commented on #203
@nuthinking seems you have old version uglify webpack plugin, can you create minimum reproducible test repo?

[2018-01-04 17:23] kzc commented on #188
I think this issue can be closed as there's no significant memory regression, and the [chart above](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/188#issuecomment-352859433) shows that memory used by `uglifyjs-webpack-plugin@1.x` is actually lower than `uglifyjs-webpack-plugin@0.4.6`.

[2018-01-04 19:00] #197 closed

[2018-01-04 19:04] #188 closed

[2018-01-06 00:07] vincent-cm opened #204 "Updates 1.1.6 cause some other npm libraries errors in prod mode"
For example the npm module ngx-progressbar 2.1.1
This node module working fine on uglifyjs-webpack-plugin <= 1.1.5

Following are the bug detail:

webpack:///./node_modules/ngx-progressbar/modules/ngx-progressbar.es5.js.pre-build-optimizer.js

this.trickling.switchMap(function () {
            return Observable
                .timer(0, _this.trickleSpeed)
                .takeWhile(function () {

[2018-01-06 12:19] evilebottnawi commented on #204
@vincent-cm can you create minimum reproducible test repo?

[2018-01-07 18:11] sscaff1 opened #205 "Unexpected token: punc (() - ES6 parsing errors using @babel/preset-env"
The error only occurs when running my project in a production environment with UglifyJS enabled. In development, the project run fine. I have some React 16.2 fragments in my project which is the reason I'm using babel/preset-env version 7. Here is my webpack.config.

[code]
Here are my dev dependencies.
[code]
Any ideas I've been struggling with the problem for days.

[2018-01-07 21:31] sscaff1 commented on #205
Please see answer here. This has nothing to do with uglify. I took off the -p and now it works.

https://github.com/webpack/webpack/issues/5858

[2018-01-07 21:31] #205 closed

[2018-01-08 03:31] iMerica opened #206 "Uglify Does Not Uglify Enough on Latest Webpack + React 16"
Hi,

Thanks for your work on this library. I recently upgraded to the latest version  of webpack and react and I'm now seeing the following in my console (in Production).

![screen shot 2018-01-07 at 10 25 19 pm](https://user-images.githubusercontent.com/487897/34658079-e5104462-f3f9-11e7-8f17-46f02b95b171.png)

My webpack config looks kind of like this:
[code]

Thanks,

Michael

[2018-01-09 20:41] nickells commented on #206
We were dealing with similar issues for a while. What it came down to was the following:

Uglify looks for the presence of `if (process.env.NODE_ENV === 'production')` blocks in your code and removes those because they always evaluate to `false` (through the `evaluate` rule). If React sees that there are any of these left, then the error pops up. You could do a manual search through your minimized

[2018-01-10 09:05] tw2as commented on #204
I am having the same problem - once uglifyjs-webpack-plugin has been updated to 1.1.6 my app became unusable when it's compiled in production mode. Compilation works fine but just after launching the app I am getting the following error

which points to obfuscated code of one of my other npm packages (one of them is `@progress/kendo-angular-dropdowns@1.5.0`)

Temporarily fix is to either build it

[2018-01-10 09:27] polco commented on #204
i have some runtime errors too since the 1.1.6, but they seem to be related to the `uglify-es` update.

[2018-01-11 09:19] evilebottnawi commented on #204
Please use `lock` file to avoid problem when uglify upgrade, sometimes some versions may contain breaking changes, i close this issue. Solution:
1. Cleanup npm cache (`npm cache clean --force`)
2. `npm install`

If you still have issue - please create issue with minimum reproducible test repo. Thanks!

[2018-01-11 09:19] #204 closed

[2018-01-11 09:21] evilebottnawi commented on #206
@iMerica @nickells please create minimum reproducible test repo.

[2018-01-11 17:14] jgentes commented on #104
UPDATE: The **uglify** target (ie. `uglify: true`) has been deprecated in `@babel/preset-env`. Set the top level option `forceAllTransforms: true` instead:
[code]

[2018-01-14 17:36] robvdl opened #208 "NodeJS 6? 8?"
Hi, the badge on the README says nodejs < 5 but I am already using it successfully with nodejs 6.

Is it possible the badge is wrong? What about nodejs 8? the current LTS.

[2018-01-14 19:13] robvdl commented on #208
I am closing this, I answered this myself sorry.

It says < 5.0.0 || > 5.10

Feel a bit embarrassed, so closing this :)

[2018-01-14 19:13] #208 closed

[2018-01-15 18:17] kzc commented on #206
That's not correct. It's up to a webpack plugin to replace `process.env.NODE_ENV` with `"production"` before it is passed to uglify. At that point uglify would convert `"production" === "production"` to `true` and then retain or drop code accordingly.

[2018-01-15 18:59] austinpapp commented on #129
*warning*: just started messing around react so super novice. was working off of the react tutorial `npx create-react-app my-app`

The commend from [jalkoby regarding vagrant sync fs](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/129#issuecomment-339389639) helped me. this exhibits the same behavior when attempting to use root's home dir. moved to another dir `/srv` and it work

[2018-01-16 14:20] nickells commented on #206
@kzc Thanks for the clarification!

[2018-01-16 16:15] csvan commented on #206
I was seeing the exact same thing until set `devtool: false` for our production builds. This did not simply eliminate sourcemaps - it solved the fact that pretty much nothing was being minified at all (comments were left in, dead code, etc..). I don't fully understand the connection, but would try that.