[2018-01-18 00:10] kzc commented on #206
Some webpack plugin ordering issue apparently:

https://github.com/webpack/webpack/issues/6328

[2018-01-18 00:45] kzc commented on #206
To avoid `webpack.DefinePlugin` altogether, just set the uglify `compress` option `global_defs`.

[code]
[code]
[code]

[2018-01-18 10:36] evilebottnawi commented on #206
@kzc very strange all works fine without `global_defs` in my repos

[2018-01-18 10:57] kzc commented on #206
Those having [issues](https://github.com/webpack/webpack/issues/6328) with `webpack.DefinePlugin` in conjunction with other plugins can try that alternate `global_defs` approach.

[2018-01-18 12:46] richtera commented on #206
It seems to be a size problem. When I initially tried to reproduce this with a smaller project it worked, when I added more code it failed. I put together a test project (it's in the issue referred to earlier https://github.com/webpack/webpack/issues/6328) The project is https://github.com/richtera/webpack-project-for-debugging and will easily show the problem.

[2018-01-18 12:48] richtera commented on #206
Which version of the UglifyJsPlugin accepts the global_defs option?

[2018-01-18 12:56] kzc commented on #206
`uglifyjs-webpack-plugin@1.x`

[2018-01-18 13:11] richtera commented on #206
I added a branch to my test project. I am observing errors also happen with global_defs usage (at least using webpack and uglifyjs-webpack-plugin@1.x) Curious, I see other people have success with this and it would make a lot of sense that it'd work. It's almost like something is minifying the code before it gets to either DefinePlugin or this UglifyPlugin and it already says something like e.env.

[2018-01-18 13:30] epeleg commented on #104
Just adding to summarize what worked for me:
webpack 3.10.0 internally uses UglifyJsPlugin 0.4.6 which it exposes by default as webpack.optimize.UglifyJsPlugin for use inside webpack.cofig.js.
however this version does not support es2015.
what I based on what other people wrote in this thread was:

upgraded the following to devDependencies section of package.json :
"webpack":"3.10.0"

1) added the

[2018-01-18 13:37] kzc commented on #206
The fact that `process` was mangled to `e` suggests it's a local variable.

Uglify will not perform the `global_defs` substitution unless the `process` variable in `process.env.NODE_ENV` is global - hence the option name "**global**_defs"`.

[code]
[code]

[2018-01-18 14:18] richtera commented on #206
Yes, agreed, however the uglified code is:
[code]
and the original source is:
[code]
Something is just not right.

[2018-01-18 14:24] richtera commented on #206
Could it be because webpackJsonp wraps files into a function causing "globals" to be "locals"?

[2018-01-18 14:51] kzc commented on #206
If that [original source](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/206#issuecomment-358659956) file is run through:
[code]
it produces:
[code]
I'm not a webpack expert, but I think there's some configurable option related to global.

Just a thought - is your bundle including node polyfills for `process`? That would probably explain all this breakage.

[2018-01-18 18:48] richtera commented on #206
Not on purpose if it does. All I include is babel-polyfill.

[2018-01-18 18:56] richtera commented on #206
You can see my failing setup in the sample project https://github.com/richtera/webpack-project-for-debugging and will easily show the problem.

[2018-01-18 20:09] kzc commented on #206
I didn't attempt to build the sample project but just looking at the `yarn.lock` you can see that [`webpack` pulls in `node-libs-browser`](https://github.com/richtera/webpack-project-for-debugging/blob/46be422d112e26553a072d0cea169c836219417f/yarn.lock#L11721-L11739) which in turn [pulls in `process`](https://github.com/richtera/webpack-project-for-debugging/blob/46be422d112e26553a072d0cea169c8362

[2018-01-18 20:23] kzc commented on #206
The React docs probably ought to mention that obscure detail:

https://reactjs.org/docs/optimizing-performance.html#webpack

[2018-01-18 22:14] kzc commented on #206
For good measure have the webpack config disable the node polyfills for the browser:

https://webpack.js.org/configuration/node/#other-node-core-libraries

[2018-01-19 01:27] richtera commented on #206
I set node: { process: false } or false and either helped.
The DefinePlugin is the things that's causing the problem in the first place. For some reason it's not substituting all instances of process.env.NODE_ENV. It's just doing the first few and depending on UnglifyJsPlugin being there or not it's doing a different amount of replacements.

[2018-01-19 02:09] kzc commented on #206
If not a node polyfill or a plugin ordering issue, I'm out of ideas as to what is changing `process` from a global to a local before it reaches `uglifyjs-webpack-plugin`.

[2018-01-19 03:12] richtera commented on #206
You are correct though....
In the built file without Uglify it shows process as a local variable being injected.
Using node.process=false doesn't seem to work by itself.
[code]
Looks like the system will not work if any of the node_modules used are compiled using webpack since they will have an internal definition of process and therefore will destroy the build.
Examples are react-sparklines and r

[2018-01-19 04:23] kzc commented on #206
It's truly a ridiculous situation. There must be a naïve webpack text replacement plugin or loader out there that does not pay attention to JS scope or grammar.

[2018-01-19 12:01] dangh opened #209 "Doesn't playing well with ModuleConcatenationPlugin"
Hi,

I'm not sure if this is the right place to report this issue.

I'm facing a runtime exception in my uglified output: `Uncaught SyntaxError: Missing initializer in const declaration`.

It only happens when I enable both UglifyjsWebpackPlugin and ModuleConcatenationPlugin. Disable one and the issue gone.

Below is the code and the shortened output where the exception belongs to.
[code]
[code]

[2018-01-19 14:11] richtera commented on #206
Maybe I didn't explain this well enough. Both of the modules react-sparklines and react-loading contain the process polyfill in their main file.
Example from react-loading
[code]
Any file included after that one in the bundle will get process injected instead of keeping the global.
After commenting out the dependencies and usage of those two modules webpack does the correct DefinePlugin substituti

[2018-01-19 14:25] richtera commented on #206
I added a branch in the demo project called worksWithoutSparklinesLoading which will not contain any references to NODE_ENV in the output files. This is just by removing the import of those two modules.

[2018-01-19 15:14] 462960 opened #210 "Works but console shows warning"
"uglifyjs-webpack-plugin": "^1.1.6",
    "webpack": "^3.10.0"

Console shows in red: ERROR in bundle.js from UglifyJs name expected [ bundle.js : 1.808025]

![error](https://user-images.githubusercontent.com/10447862/35157113-ad82080a-fd3b-11e7-911f-9abd3e02b98f.png)

[2018-01-19 15:55] evilebottnawi commented on #210
@462960 can you show wepback config? Maybe you use build-in `uglify` plugin in webpack (he is old version and don't support ecma2015 features,  you need babel-loader)

[2018-01-19 17:16] crowmagnumb commented on #132
Looks like they are saying that uglify 1.0.0 will be included in webpack 4. Until then as @firebird631 indicated, installing that version manually does the trick.

npm -i -D uglifyjs-webpack-plugin

Then in webpack.config...

[code]

[2018-01-19 18:41] kzc commented on #206
I see. Nice detective work.

The `react-sparklines` and `react-loading` releases were not built with the `webpack@3` option `node: false` and as such contain a local function `process` argument that prevents any subsequent user of these modules from getting `DefinePlugin` to work for `process.env.NODE_ENV`.

https://github.com/borisyankov/react-sparklines/blob/e3add809067416cffeaa7f119f0c9eec1d3fd

[2018-01-19 19:29] 462960 commented on #210
@evilebottnawi  Thanks for support. I was using `uglify-js-plugin` for a long time. Today, without any reason it started throwing error which prevents webpack from doing job. That's why I switched to `uglifyjs-webpack-plugin`. Job done but the error occurs. Node 8.1.2
![webpack](https://user-images.githubusercontent.com/10447862/35167614-db975ce0-fd5e-11e7-912b-e73ea9d8c416.png)

[2018-01-19 19:34] evilebottnawi commented on #210
@462960 hm you reinstall `node_modules`? maybe `npm` cache (`npm cache clear --from &&& npm i`)?

[2018-01-20 01:28] richtera commented on #206
Turns out of all the modules I am using those two are the only ones without node:false or other ways of building the output file. I posted two pull requested to fix those two modules.

- https://github.com/fakiolinho/react-loading/pull/42
- https://github.com/borisyankov/react-sparklines/pull/108

You can install temporarily directly from github.

- npm install or yarn add https://github.com/richt

[2018-01-20 03:40] kzc commented on #206
@richtera I think the other thread would be interested in your finding: https://github.com/webpack/webpack/issues/6328

[2018-01-20 16:41] 462960 commented on #210
@evilebottnawi  Thanks! Do you think I should completely reinstall all packages? I haven't been using `npm cache clear --from` command. So, I have to read about it in the first place.
By the way, when `uglify-js-plugin` abruptly refused to work, console had a blue message, telling somewhat about `UglifyJs`, if it matters...

[2018-01-21 13:09] vdechef opened #211 "Using a deprecated version of Uglify-es"
Using version 1.1.6 of uglifyjs-webpack-plugin, I get an error when running prod bundle : ReferenceError on a thirdparty lib (sax-js).
After some investigation, the culprit is uglify-es 3.3.4 (see this issue https://github.com/mishoo/UglifyJS2/issues/2783). The fix has just been released by uglify-es team.

Forcing uglifyjs-webpack-plugin to use uglify-es 3.3.8 solved my issue locally, so I think

[2018-01-21 13:31] michael-ciniawsky commented on #211
`uglifyjs-webpack-plugin` already installs the latest `uglify-es` version available *at the time* one installs the plugin

**package.json**
[code]

It's up to the consumer to update their lockfile(s) via `npm update && yarn upgrade`

Feel free to send a PR to set the minimum to `^3.3.8` if you like

[2018-01-21 13:31] #211 closed

[2018-01-21 13:37] michael-ciniawsky commented on #210
Please try `(sudo) npm cache clear --force && rm -rf node_modules package-lock.json` and report back if the issue still persists

[2018-01-22 05:11] kzc commented on #209
https://github.com/mishoo/UglifyJS2/issues/2832

[2018-01-22 07:51] 462960 commented on #210
Thanks @michael-ciniawsky   As far as I understand, I should do eather single
shot `npm cache clear --force && rm -rf node_modules package-lock.json` or
one `npm cache clear --force` then the next one `rm -rf node_modules package-lock.json`.
Both ways turned to be non-appliable.
![cashe](https://user-images.githubusercontent.com/10447862/35210172-c2a39968-ff59-11e7-8763-b17d187e5b45.png)

[2018-01-22 12:36] PlayMa256 commented on #210
You misspelled cache... it should work.

[2018-01-22 18:59] 462960 commented on #210
OK, many thanks @PlayMa256 I've already done it. So, the issue solved..

[2018-01-23 09:35] evilebottnawi commented on #209
Fixed in https://github.com/mishoo/UglifyJS2. Thanks everyone!

[2018-01-23 09:35] #209 closed

[2018-01-23 09:36] evilebottnawi commented on #210
Solved. See comments above. Thanks everyone!

[2018-01-23 09:36] #210 closed

[2018-01-23 15:36] FranckFreiburger commented on #21
I have created a loader for [javascript-obfuscator](https://github.com/javascript-obfuscator/javascript-obfuscator), and I would like to avoid uglifyjs-webpack-plugin to process resources that pass to that loader (because obfuscated code must not be uglified).

I would like to use something like:
[code]

[2018-01-24 11:59] DDCrow commented on #114
According to @liuguanhua, please upgrade or install uglifyjs-webpack-plugin. It's work for me at least

[2018-01-26 15:14] totaki opened #212 "Reserved not working."
I try use in last react application using last create-react-app bitcoinjs-lib. And got error in production, on https://github.com/bitcoinjs/bitcoinjs-lib write
[code]
i make eject and set in webpack production config, but it's not help
[code]

[2018-01-26 15:28] evilebottnawi commented on #212
@totaki what version of `uglifyjs-webpack-plugin` you are use?

[2018-01-26 15:30] totaki commented on #212
[code]

[2018-01-26 16:13] evilebottnawi commented on #212
@totaki `uglifyjs-webpack-plugin@^0.4.6` use `uglify-js@2` and seems don't have this option look https://github.com/mishoo/UglifyJS2/tree/v2.x#mangle

[2018-01-26 16:47] totaki commented on #212
I need use ```except```?

[2018-01-26 17:08] evilebottnawi commented on #212
@totaki yes

[2018-01-26 17:23] totaki commented on #212
It s not help, only disabled uglify, but +60 Kb :(

[2018-01-26 17:37] evilebottnawi commented on #212
@totaki 60kb what?

[2018-01-26 17:41] totaki commented on #212
builded js was 550 Kb after disabled 610Kb

[2018-01-26 17:54] evilebottnawi commented on #212
@totaki can you try latest version?

[2018-01-26 17:55] evilebottnawi commented on #212
@kzc friendly ping, `reserved` don't work in `uglify0js@2` or something invalid?
@totaki can you create minimum reproducible test repo?

[2018-01-26 18:49] totaki commented on #212
https://github.com/vasinkd/cryptowallet/tree/develop

[2018-01-26 18:49] totaki commented on #212
This is work repo

[2018-01-26 18:50] evilebottnawi commented on #212
@totaki thanks!

[2018-01-26 20:12] kzc commented on #212
It's all documented.

https://github.com/mishoo/UglifyJS2/blob/harmony/README.md

See also the `keep_*` options.

[2018-01-26 20:36] jesalg commented on #92
Similar to @olafahn, I have `"uglifyjs-webpack-plugin": "^1.1.6",` installed with this in my webpack config:

[code]
Despite that I'm still seeing `SyntaxError: Cannot declare a let variable twice` in Safari 10.x. Could it be that `safari10` flag is not being passed onto UglifyJS2? I don't see that being listed under the [supported mangle properties](https://github.com/mishoo/UglifyJS2/tree/harmon

[2018-01-26 20:47] evilebottnawi commented on #212
@kzc thanks!
@totaki please use option above. Feel free to reopen issue if problem still exists

[2018-01-26 20:47] #212 closed

[2018-01-26 20:58] kzc commented on #92
Because it's not in the mangle properties section. Search for "safari10" in the docs.

[2018-01-26 21:07] jesalg commented on #92
@kzc Thanks yeah I see it now.

Anyway, I must not have cleared my cache. It seems to be working now on Safari 10!

[2018-01-26 21:28] paztis opened #213 "Tree shaking without minification / mangle"
Is there a way to use the plugin to only do tree shaking /dead code removal, without minification ?

I'd like to have a prod version minified and another non minified (but with the tree shaking for the weight)  in my deliveries to lemy deliveries.

[2018-01-26 21:46] michael-ciniawsky commented on #213
https://github.com/mishoo/UglifyJS2/tree/harmony#minify-options and the all the `options` of `options` etc. You will likely need to grind through them and see if you can customize your setup to only included what you want :) There is no switch or the like implemented for this plugin atm sry

[2018-01-26 21:46] #213 closed

[2018-01-27 13:02] webpack-bot opened #216 "Using webpack 4 on a large project (or, how to avoid "JavaScript heap out of memory" with production mode)"
**Do you want to request a *feature* or report a *bug*?**

Maybe this a feature request.  I'm really looking for suggestions on using webpack (4) with many entry points (~165), a large set of dependencies, and a lot of shared code between entry points.

I guess it could also be considered a bug since `webpack --mode production` fails and `webpack --mode development --watch` succeeds.

In this case

[2018-01-29 18:36] #216 closed

[2018-01-29 19:16] timneutkens opened #217 "@latest has no files"
Installing the latest version breaks because there is no `dist` directory.

[code]

[2018-01-29 19:20] timneutkens commented on #217
Looks like it was published by @michael-ciniawsky 30 minutes ago.

[2018-01-29 19:37] michael-ciniawsky commented on #217
Yeah there is something wrong, another release is also affected. Investigating why...

[2018-01-29 19:55] Bradleycorn commented on #217
Yep. My Angular CLI project just started failing builds due to this too.

[2018-01-29 19:57] timjklein36 commented on #217
Same here. For the time being, downgrading to 1.1.6 for the local project worked for me.
`npm i --save-dev uglifyjs-webpack-plugin@1.1.6`

[2018-01-29 20:46] matthewstrom opened #218 ""Cannot find module 'uglifyjs-webpack-plugin'" at version 1.1.7"
The upgrade from `1.1.16` to `1.1.17` has caused the following error when I tried starting the Angular CLI. If I downgrade to 1.1.16 the error goes away.

Given that this is a "Cannot find module" error, perhaps the way the module is exported changed between versions?

[code]

Node Version: 8.7.0
OS: MacOS High Sierra

[2018-01-29 20:47] aav7fl commented on #218
I just started getting the same message this afternoon..

[2018-01-29 20:55] michael-ciniawsky commented on #217
[`v1.1.8`](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/releases/tag/v1.1.8) 🎉
Sry guys it was my mistake during release 😅

[2018-01-29 20:55] #217 closed

[2018-01-29 20:55] michael-ciniawsky commented on #218
[`v1.1.8`](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/releases/tag/v1.1.8) 🎉
Sry guys it was my mistake during release 😅

[2018-01-29 20:55] #218 closed

[2018-01-29 21:37] timneutkens commented on #217
Thank you @michael-ciniawsky 🙏

[2018-01-30 07:13] demiro commented on #217
you guys, you broke the whole internet...... well, for us, no harm done.... just few people mobilised over night coz the things were failing building :)

[2018-01-30 07:23] dawnmist opened #219 "Build crashes when using 'parallel' and 'sourceMap' options at the same time."
uglifyjs-webpack-plugin version: 1.1.6
webpack version: 3.10.0
node-js: 8.9.4

I was trying to use the updated version of uglifyjs-webpack-plugin to be able to add caching and parallel builds to an existing project. I have found that I can either have the build generate sourceMaps OR I can have the parallel option turned on, but if I turn on both options the build crashes with the following error

[2018-01-30 09:44] evilebottnawi commented on #219
@dawnmist What is your os? Also can you create minimum reproducible test repo?

[2018-01-30 12:39] dawnmist commented on #219
Os is linux (Ubuntu 16.04 LTS).

I've just spent some time trying to duplicate the issue in a 'new' react project (using react-scripts-ts), and it's working in that repo. That pretty strongly indicates that the issue is due to something else in our config that is interfering.

I'll keep trying to track it down from my end, and will update if I can find the cause.

[2018-01-30 12:42] evilebottnawi commented on #219
@dawnmist try to update (`node_modules`, don't forget about to update `package-lock.json`) file first, maybe something buggy in deps

[2018-01-31 02:07] dawnmist commented on #219
Deleting the node_modules directory and reinstalling the packages has fixed the issue - some packages came in with updated versions compared to what had been installed previously, so I suspect it was a conflict between something else and uglifyjs-webpack-plugin that was addressed by the update to the other package.

[2018-01-31 02:07] #219 closed

[2018-01-31 07:24] saysmy opened #220 "uglifyjs-webpack-plugin cannot uglify any file"
this is my code:
[code]
 I used es7, es6, if i use webpack.optimize.UglifyJsPlugin , it can work normally.

[code]

[2018-01-31 09:41] evilebottnawi commented on #220
@saysmy can you create minimum reproducible test repo?

[2018-01-31 22:44] kzc commented on #220
You definitely don't want to mangle properties unless you know what you're doing. Unless the source code adheres to very strict property usage rules it almost certainly will break.

Recommend that you just use the default options:
[code]

[2018-02-01 08:30] saysmy commented on #220
@ericclemmons [https://github.com/saysmy/UglifyJsPluginTest](url) this is my demo address. It cannot compress my js file.

[2018-02-01 08:38] saysmy commented on #220
@kzc I tried this method, but it didn't work.

webpack.config.js:
[code]

package.json:

[code]

[2018-02-01 08:39] evilebottnawi commented on #220
@saysmy already investigate

[2018-02-01 08:55] evilebottnawi commented on #220
Hook `optimize-chunk-assets` not fire, investigate

[2018-02-01 09:03] evilebottnawi commented on #220
@saysmy problem in `filename: 'js/[name].js?v=[chunkhash:8]'` don't use query params in this option. Use https://github.com/jantimon/html-webpack-plugin for html with `hash` option or write manifest file to disk and load files from backend.

[2018-02-01 09:04] Pashaster12 opened #221 "How to disable in development?"
I want to disable uglifyjs-webpack-plugin in develompent because webpack's watching with minification is too slow. But I need it in production.

How can I do it?

Ideally it would be something like this:

`disable: process.env.NODE_ENV === "production"`

[2018-02-01 09:09] evilebottnawi commented on #221
@Pashaster12 All `disable` option deprecated and will be removed. Webpack in 4 version have 0CJS and enable uglify in production mode by default. In webpack 3, 2, 1 please use something like this:
[code]

[2018-02-01 09:09] #221 closed

[2018-02-01 09:16] saysmy commented on #220
@evilebottnawi  Thank you very much! so perfect, it works!

[2018-02-02 10:28] jnachtigall opened #222 "Legal, License, Copyright comments should not be removed by default"
**Steps to reproduce:**

Version in `package.json`:
[code]

My `webpack.config.js`:
[code]

Now in the `./src/components/app.js` there are several 'vendor' libraries imported like: `import $ from 'jquery';`

**Actual results:**
When running `npm run build` which creates a uglified minimal bundle, then *all* comments are stripped.

For instance, `jquery` has this header which is not present any mor

[2018-02-02 10:40] jnachtigall commented on #222
Interestingly, the correct legal comments are successfully extracted when adding `extractComments`:
[code]
Strange, that the comments are not preserved in the bundle itself.

[2018-02-02 10:50] evilebottnawi commented on #222
@jnachtigall Seems bug. Thanks for issue. PR welcome!

[2018-02-04 15:36] rezabojnordi opened #223 "build error???"

[2018-02-04 20:17] #223 closed

[2018-02-05 14:54] jpetitcolas opened #224 "Cache: why not enabling it by default?"
I'm wondering why `cache` is set to `false` by default. Trying it on our own project gave us a performance boost of approximatively 34%.

And, corollary question: is there any drawbacks for enabling cache? If so, perhaps should we add some lines about it in the README?

Thanks for your great plugin! :)

[2018-02-05 15:13] evilebottnawi commented on #224
@jpetitcolas by default `cache` is disable for all tools/plugins/system and etc, it is best practice. PR welcome for docs this, also webpack@4 use cache and parallels by default.

[2018-02-07 04:30] matthew-gordon commented on #104
I received same error when using ```webpack -p``` the only thing that solved it for me was
adding uglify: true.. Is there any reason this isn't acceptable?

[code]

[2018-02-07 18:11] matthew-gordon commented on #104
I was still running into issues, so I thought I'd also post for anyone that may still run into issues.

I had to stop running webpack with the -p flag, and set it to production using webpack.DefinePlugin && define the UglifyJsPlugin options, then running ```webpack --progress --colors``` etc.

Using Uglify isn't necessary to stop the the error in this instance, setting production through DefinePlu

[2018-02-07 18:30] webpack-bot opened #226 "Runtime Missing module error from UglifyJS plugin."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I have a Typescript project that I'm trying to bundle with Webpack, but I keep getting a runtime missing module error from what appears to be an issue including UglifyJS.

Also, the log message doesn't include the missing module file name:

[code]

**If the current behavior is a bug, please provide the

[2018-02-07 18:30] evilebottnawi commented on #226
Need investigate :+1:

[2018-02-08 11:06] marcofugaro commented on #224
Yeah it says [here](https://github.com/webpack/webpack/releases/tag/v4.0.0-beta.0) that

I guess they still have to update the code.

[2018-02-08 11:08] evilebottnawi commented on #224
@marcofugaro it is do webpack, not plugin

[2018-02-08 11:18] michael-ciniawsky commented on #224
`webpack >= v4.0.0` by default enables caching && parallelisation, while the plugin in whatever setup it might be used doesn't to avoid eventual integration problems and that's intended as @evilebottnawi already stated. Please just set the appropriate options yourself if needed

[2018-02-08 11:18] #224 closed

[2018-02-08 11:25] marcofugaro commented on #224
so, just to be clear, when I do this in webpack4:

[code]
is it completely unnecessary?

[2018-02-09 00:20] Shavindra opened #228 "Webpack build failure when using uglifyjs plugin"
When running `webpack` uglifyjs throws following error

`ERROR in app.bundle.js from UglifyJs
TypeError: sym.definition is not a function
    at may_modify (eval at <anonymous> (C:\Dev\TruRating\cloud-core-react-analytics\node_modules\uglifyjs-webpack-plugin\node_modules\uglify-es\tools\node.js:1:0), <anonymous>:8931:31)
    at Object.abort [as before] (eval at <anonymous> (C:\Dev\TruRating\cloud-

[2018-02-09 06:42] djyde commented on #228
+1

It seems because https://github.com/mishoo/UglifyJS2/issues/2896

[2018-02-09 09:17] skiritsis commented on #228
Facing the same issue as well after updating.

[2018-02-09 10:19] evilebottnawi commented on #228
Confirm, investigate.
**Recomendation: ** please use lock file to avoid this problem!

[2018-02-09 10:45] shusiwei commented on #228
+1

[2018-02-09 10:53] shusiwei commented on #226
+1

[2018-02-09 11:04] evilebottnawi commented on #226
@shusiwei can you create minimum reproducible test repo?

[2018-02-09 17:26] satazor commented on #228
I've created an issue on the uglify repo, see https://github.com/mishoo/UglifyJS2/issues/2901

[2018-02-09 17:28] evilebottnawi commented on #228
@satazor thanks, right now i also created a problem, you were faster :smile:

[2018-02-13 09:16] Legends opened #231 "Webpack v3.11 + uglifyjs-webpack-plugin + Cannot find module 'source-map'"
- C:\WINDOWS\system32>node -v v9.5.0
- C:\WINDOWS\system32>npm -v 5.6.0
- C:\WINDOWS\system32>tsc -v Version 2.7.1
- Win 10 x64

I am not sure, if I can update the version, because latest webpack uses uglifyjs-webpack-plugin@**0.4.6**

`tsc`

![image](https://user-images.githubusercontent.com/966368/36145643-4671b6f8-10b2-11e8-800a-e741922543a7.png)

--> node_modules/@types/ugligy-js/index.d.ts
![

[2018-02-13 09:54] evilebottnawi commented on #231
@Legends you should add `uglifyjs-webpack-plugin` in package.json and add plugin manually in webpack config, only in webpack@4 you will have `uglifyjs-webpack-plugin` latest version. Also try to remove npm cache `npm cache clear --force` and reinstall deps.

[2018-02-13 10:26] Legends commented on #231
**Steps I have done:**

1. Added the plugin with no args to the webpack.config.js (see config below)
2. Deleted node_modules folder.
3. npm cache clear --force
4. npm install
5. tsc  --> same error

[code]

[2018-02-13 10:33] evilebottnawi commented on #231
@Legends can you show npm command that you use to build webpack (or script)?

[2018-02-13 10:41] Legends commented on #231
What do you mean with "npm command that you use to build webpack"?
Executing `webpack` on the command line works fine.
But `tsc` fails.
Please clarify what you mean.

[2018-02-13 10:51] evilebottnawi commented on #231
@Legends i don't familiar with type script, but seems you use invalid `@types` for uglify-js. Looks here https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/uglify-js/index.d.ts#L1, we don't use `uglify-js`, we use `uglify-es` (harmony branch https://github.com/mishoo/UglifyJS2/tree/harmony). Maybe problem in this?

[2018-02-13 10:58] Legends commented on #231
You know what? I will delete everything and create all packages from scratch again, because it worked before....

I think the new way is to install packages from

[2018-02-13 10:59] evilebottnawi commented on #231
@Legends Feel free to feedback

[2018-02-13 11:09] Legends commented on #231
Is there a way to debug such things, setting a breakpoint?

[2018-02-13 11:12] evilebottnawi commented on #231
@Legends Better as this question in `@types`, i don't debug type script

[2018-02-13 11:41] Legends commented on #231
I have tracked it down to this npm package:

`npm install @types/html-webpack-plugin --save-dev`

after installing this package, I get the above error, when running `tsc`

[2018-02-13 11:43] evilebottnawi commented on #231
@Legends maybe something incompatibility? Can you create issue in `@types`?

[2018-02-13 11:52] #231 closed

[2018-02-14 14:07] dangrima90 opened #232 "Application build errors due to UglifyJS"
I have an Angular application which for some reason when I building the code using AOT I'm getting errors from the UglifyJS plugin.

The following is the error I'm getting:

After doing a bit of research it seems that this is an issue with UglifyJS not supporting ES6 ([Reference](https://github.com/angular/angular-cli/issues/5730#issuecomment-290073160)). The application still works as all that's

[2018-02-14 14:14] evilebottnawi commented on #232
@dangrima90 seems bug in `uglify-es`. Can you found problem code or create minimum reproducible test repo?

[2018-02-14 14:32] dangrima90 commented on #232
Thanks for your reply. I'll try setting up a sample project to replicate the issue as the project I'm working on is a private project so I can't really share the code, hope that's okay.

[2018-02-14 15:40] dangrima90 commented on #232
So I created a new project (https://github.com/dangrima90/uglifyjs-issue.git) with the same package.json and webpack config, but the project was built successfully :/

Is there a way to output more information with regards to the error? This is the full error that I'm getting.

![image](https://user-images.githubusercontent.com/36479149/36212921-85fe81c2-11a5-11e8-8d25-148d18144f4f.png)

I'm askin

[2018-02-14 15:44] evilebottnawi commented on #232
@dangrima90 first try to invalidate cache and resintall deps (`npm cache clear --force && npm install`). If problem still exists enable source map for production build and put error here (`uglify-es` use source map to point on problem line)

[2018-02-14 16:32] dangrima90 commented on #232
@evilebottnawi still no luck :/ I've invalidated the cache and reinstalled everything. To enable the source map would the following config suffice please?

[code]

[2018-02-14 16:35] evilebottnawi commented on #232
@dangrima90 `devtool: "source-map"` (https://webpack.js.org/configuration/devtool/) and enable source-map for `babel-loader` (or what you loader use for transpiler)

[2018-02-15 00:16] mikeLspohn commented on #165
The documentation in the README.md links the options to the uglify options, which contain these `sourceMap` object config values. Should that be removed, or does this work in this plugin now?

[2018-02-15 08:59] dangrima90 commented on #232
@evilebottnawi good morning, sorry for all my questions but I'm at a loss. I've already had "source-map" enabled in the `devtool` and the loader I'm using is `awesome-typescript-loader` (https://github.com/s-panferov/awesome-typescript-loader) which unless I'm mistaken uses the setting in the `tsconfig.json` to check whether to use source maps or not. I'm unable to see what exactly the problem.

*

[2018-02-15 09:45] evilebottnawi commented on #232
@dangrima90 can you remove step by step modules and core to find problem code, it is very diffucult without test repo

[2018-02-15 09:48] dangrima90 commented on #232
Yes of course I understand.. I'll have a look later and try to pinpoint where the issue is. Like I said above most probably it is in an issue from my code. I'll let you know what the outcome will be. Thanks a lot for your support.

[2018-02-15 09:52] evilebottnawi commented on #232
@dangrima90 feel free to ping me

[2018-02-15 09:53] dehghani-mehdi commented on #104
With following:

    "uglifyjs-webpack-plugin": "^1.1.6",
    "webpack": "^3.11.0",

I got this error:

Unexpected token: punc ({)

I tired @matthew-gordon and @epeleg 's solutions, but doesn't work.

With @matthew-gordon's solution, the error doesn't show up, but the size of `bundle.js` is +350KB

With @epeleg's solution, `bundle.js` size is ~180KB, but I got that error.

Did I miss something?

[2018-02-16 11:23] dangrima90 commented on #232
@evilebottnawi I've finally found the part of the application that's causing the issue - although I don't know what the problem is.

I have a utility class that is used to signify whether the browser tab is active or not:

[code]

This is then being used in one of my components to mute the sound in the application if the tab is not active:

[code]

[2018-02-16 11:38] evilebottnawi commented on #232
@dangrima90 Thanks, in near future i will investigate :+1:

[2018-02-16 12:22] dangrima90 commented on #232
@evilebottnawi  Thank you!

[2018-02-16 15:32] andrewMuntyan commented on #104
when i tried @epeleg solution i've got
`FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory`

[2018-02-16 15:42] evilebottnawi commented on #104
@andrewMuntyan update to latest version (`npm cache clear --force && npm install`)

[2018-02-16 16:09] andrewMuntyan commented on #104
@evilebottnawi wow! Thank you for fast answer. But no luck.

[2018-02-16 17:15] evilebottnawi commented on #104
@andrewMuntyan need reproducible test repo? Seems something eats many memory. Can you disable uglify plugin and check no error throw?

[2018-02-16 17:36] dietergeerts commented on #213
I tried several options, and I couldn't get it to work to just remove dead code. @michael-ciniawsky , an example of a configuration that ONLY removes dead code would be very helpful.

[2018-02-16 22:24] #146 closed

[2018-02-16 22:24] #178 closed

[2018-02-16 22:25] #129 closed

[2018-02-16 22:25] #203 closed

[2018-02-16 22:31] #206 closed

[2018-02-17 02:53] Apidcloud opened #234 "Webpack 4.x Mangling issue"
Good evening!

I'm trying to use `webpack 4.x` with `uglifyjs` plugin, but I need to _disable mangling_, which seems to not be working as before. Using **v1.1.8** with `webpack 3.11` **didn't change class names** when `mangle` was set to `false`; but it is changing them with `webpack 4.x`.

The version of the underlying `uglify-es` in `node_modules` is **3.3.9** in both cases.

What could be the i

[2018-02-17 04:44] Apidcloud commented on #234
Updating to 1.2.0 doesn't seem to work either.

Still get stuff like `class gameObject_GameObject` instead of `class GameObject`.
The only changes are literally webpack 3.x (3.6 and 3.11) to webpack 4.x and changing the uglify configs from `plugins` to with webpack's config as shown above.

The options are the same, and yet the output differs (at least in class names, for some reason):
[code]

It'

[2018-02-17 05:11] dehghani-mehdi commented on #104
Is my post invisible or something?!

[2018-02-17 10:18] andrewMuntyan commented on #104
@evilebottnawi without uglify plugin works just fine. with `new webpack.optimize.UglifyJsPlugin({`
i see `ERROR in vendors.335168a923db7f80eec0.js from UglifyJs
Unexpected token: operator (>) [../path/to/dependency/file/][vendors.335168a923db7f80eec0.js:90222,64]`

[2018-02-18 09:01] sokra commented on #234
Could you try with `optimization.minimize: false` and add the plugin to `plugins` directly? I want to figure out if this is a webpack or uglifyjs-webpack-plugin issue.

[2018-02-18 09:03] sokra commented on #234
Could this file be the problem: https://github.com/scarlettgamestudio/scarlett-framework/blob/pr/webpackV4/config/addons/webpack.uglifyes6.js

[2018-02-18 14:33] Apidcloud commented on #234
Just tried, but the result is the same. I'll try to create a smaller test case.

That file is only used with the webpack 3.x branch via the env variable in the script.

Thanks!

[2018-02-18 15:06] Apidcloud commented on #234
Was able to reproduce the issue within a __way smaller__ repository: https://github.com/Apidcloud/scarlett-blast

I basically mirrored what's happening on the other one (see `demo/src` - it only contains 2 classes now, namely Logger and Game).
After running `yarn build`, the class `Logger` is fine, but class `Game` appears as `class game_Game`.

I'll keep investigating 😄

[2018-02-19 02:02] flowtsohg opened #235 "Rest parameters not recognized"
Upon seeing rest parameters, UglifyJs errors with "Name expected".

`function (...args) { }` is enough to test it.

Oddly enough as far as I can see UglifyJs actually did what it needed to do, I got a valid minified file.

I checked on node 8.1.4 and 9.5, webpack 3.11, and uglifyjs-webpack-plugin 1.2.

[2018-02-19 12:49] flowtsohg commented on #235
Upon further testing, this only happens when exporting a function with rest parameters via module.exports or the export keyword.

https://github.com/flowtsohg/uglifyjs-webpack-plugin-rest-parameters

[2018-02-19 13:17] evilebottnawi commented on #235
@flowtsohg `webpack -p` add build-in `uglify` plugin with old version

[2018-02-19 13:45] philjones88 opened #236 "Windows git clean path too long"
We're using uglifyjs-webpack-plugin probably via the Angular CLI.

Since updating the Angular CLI to 1.7. we've been having errors with Jenkin's git clean on Windows:

[code]

any ideas on how to solve this / what has changed to cause this issue with windows?

Our path to jenkins is `C:/jenkins/workspace/Project/` so not too long already

[2018-02-19 13:50] evilebottnawi commented on #236
@philjones88 thanks for issue, i think better create issue here https://github.com/zkat/cacache, we use this package for caching, seems something incompatibility with widnows

[2018-02-19 14:08] philjones88 commented on #236
Thanks made an issue there with the same information and linked back to here

[2018-02-19 17:29] michael-ciniawsky commented on #235
See @evilebottnawi comment, feel free to reopen if still regressions

**webpack.config.js**
[code]

[2018-02-19 17:29] #235 closed

[2018-02-19 17:37] Apidcloud commented on #234
You're welcome 😄

I've branched out the issue so you can keep testing in the same repository: https://github.com/Apidcloud/scarlett-blast/tree/issueWebpack

[2018-02-19 17:40] evilebottnawi commented on #234
/cc @kzc

[2018-02-19 20:27] flowtsohg commented on #235
Thanks that works.

[2018-02-19 23:24] Offirmo opened #237 "Is ES6+ supported or not?"
I'm banging my head on this, as do others all over the internet.

The README doesn't state it clearly, but document some options like `uglifyOptions: { ecma: 6, 7, 8...` which seems to hint that ES6+ is supported.

However, uglifyjs-webpack-plugin complains over a simple arrow function (unexpected token)

So, YES or NO, is ES6+ supported?

Could this be documented clearly in the README?

Thanks a

[2018-02-19 23:40] michael-ciniawsky commented on #237
Yes and No. `uglifyjs-webpack-plugin >= v1.0.0` supports ES2015+ (ES6+) but the default version of `uglifyjs-webpack-plugin` shipping with `webpack =< v3.0.0 ` is  still on `v0.4.6` which only supports ES5. See this comment (https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/235#issuecomment-366758770) for `webpack =< v3.0.0` ES2015+ (ES6+) usage instructions

[2018-02-19 23:40] #237 closed

[2018-02-20 02:36] kzc commented on #234
It's most likely a webpack 4 module hoisting and/or export renaming issue from the description. I'm not going to build either project, but you can verify it by disabling uglify and searching the resultant webpack output for `gameObject_GameObject`.

See also:

https://github.com/webpack/webpack/issues/5463#issuecomment-321186248
https://github.com/webpack/webpack/issues/5463#issuecomment-321247575

[2018-02-20 02:54] Apidcloud commented on #234
In one of my latest replies, I mentioned that I don't think it's an uglify js issue, as it works well with webpack 3.x, but it doesn't with webpack 4.x 'production' mode. But I only found out that 2 days ago and thus creating the issue here.

Also, that's precisely why I linked https://github.com/Apidcloud/scarlett-blast/tree/issueWebpack

There are no third party tools or libraries involved in th

[2018-02-20 03:51] kzc commented on #234
Set `optimization.minimize: false` and **remove** the uglify plugin from the webpack config file altogether. If `gameObject_GameObject` or `game_Game` is in the webpack output, then it's a webpack issue.

[2018-02-24 00:35] theskillwithin opened #240 "Webpack4 TypeError: Cannot read property 'tap' of undefined"
I think tap is new in webpak 4 "Replaced plugin calls with tap calls (new plugin system)"

[code]

[2018-02-24 00:37] gr2m opened #241 "TypeError: Cannot read property 'tap' of undefined (Regression in uglifyjs-webpack-plugin@1.2.1)"
Hey there 👋

I see this error showing up since your last release:
https://travis-ci.org/octokit/rest.js/jobs/345401492#L3730

I wish I could help better, I'm still new to webpack and I don’t even know how `uglifyjs-webpack-plugin` get installed, it does not show up when I run `npm ls uglifyjs-webpack-plugin`.

But when I add `uglifyjs-webpack-plugin` as dependency and pin the version to 1.2.0, the

[2018-02-24 01:10] michael-ciniawsky commented on #241
Fix coming in a few minutes thx for the report. `buildMobule`... :D

[2018-02-24 01:11] michael-ciniawsky commented on #240
Fix coming in a few minutes thx for the report. `buildMobule`... :D

[2018-02-24 01:23] #240 closed

[2018-02-24 01:23] #241 closed

[2018-02-24 01:29] michael-ciniawsky commented on #241
Released in [`v1.2.2`](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/releases/tag/v1.2.2) 🎉

[2018-02-24 01:30] michael-ciniawsky commented on #240
Released in [`v1.2.2`](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/releases/tag/v1.2.2) 🎉

[2018-02-24 01:42] gr2m commented on #241
confirmed, thanks a ton 💐

[2018-02-26 23:23] bspies-work opened #245 "React DOM error message due to no dead code elimination"
I building a React 16 application using webpack@3.10.0 and the uglifyjs-webpack-plugin@1.2.2. My webpack configuration for production sets the process.env.NODE_ENV and UglifyJs webpack plugin like so:
[code]

I keep getting a console error message like the following:
`Uncaught Error: React is running in production mode, but dead code elimination has not been applied. Read how to correctly configur

[2018-02-27 09:36] evilebottnawi commented on #245
@bspies-work can you create minimum reproducible test repo?

[2018-02-27 16:05] kzc commented on #245
dup of #206

[2018-02-27 16:54] evilebottnawi commented on #245
@kzc thanks :+1:

[2018-02-27 16:54] #245 closed

[2018-02-28 05:55] kontrollanten commented on #234
I'm also experiencing problem with passing `uglifyOptions` in Webpack 4. I tried the following:

[code]

But I get
[code]
from Webpack.

I though that the options should be sent to `optimization.minimize`, but it only takes a boolean. Does anyone have a clue about where to configure UglifyJSPlugin in Webpack 4?

[2018-02-28 05:58] michael-ciniawsky commented on #234
@kontrollanten Are you requiring it from  `const { UglifyJSPlugin }  = require('webpack').optimize` ?

[2018-02-28 06:04] kontrollanten commented on #234
No, I tried that now though. But then I get

[code]

And when try without `new`, I'll get

[code]

[2018-02-28 06:06] michael-ciniawsky commented on #234
Please show the relevant part of your `webpack.config.js` :)

[2018-02-28 06:07] michael-ciniawsky commented on #234
[code]

[2018-02-28 06:17] kontrollanten commented on #234
It seems that the following is working. The exception was thrown through [offline-plugin](https://github.com/NekR/offline-plugin).

[code]

Now I have a lot of other errors thrown from other plugins. The investigation continues. Thanks for your quick response and a great plugin!

[2018-02-28 06:26] #234 closed

[2018-02-28 17:41] FrailWords opened #246 "ssri upgrade - security advisory"
There's a security advisory to upgrade ssri to >= 5.2.2 (right now it is at 5.0.0).

https://nodesecurity.io/advisories/565

![ssri_vulnerability](https://user-images.githubusercontent.com/1758326/36803117-fd7590c6-1cb6-11e8-96f9-a6e03a99f18a.jpg)

[2018-02-28 18:04] evilebottnawi commented on #246
@FrailWords please recreate this issue in `cacache` package. it is dependecy

[2018-02-28 18:30] FrailWords commented on #246
@evilebottnawi Looks like there's already an issue there.  Apologies for not looking it up first.

https://github.com/zkat/cacache/issues/124

[2018-02-28 18:30] #246 closed

[2018-02-28 19:06] zkat commented on #246
For those dropping in, I wanna note: `cacache` and anything that uses it is _not_ vulnerable to the issue in this advisory, because it does not use strict mode (which is where the regex happens). Likewise, it's unlikely that anyone using `ssri` for dealing with npm-compatible SRIs will run into this, because npm itself needs non-strict parsing.

[2018-02-28 22:47] PeterCooks2 commented on #236
Try using LongPath Tool program.

[2018-03-01 11:07] Legends commented on #231
Regarding my question how to debug it, you can using [node-nightly](https://webpack.js.org/contribute/debugging/#devtools)

[2018-03-01 14:49] levani commented on #220
@evilebottnawi What about lazy loaded chunks? When using the following config:

[code]

and load some chunks like this:

[code]

the inserted file is `.../something.js?ver=2f5ede5b12e72253befb` but it is not minified. `uglifyjs-webpack-plugin` does not work. We can't make this work using `html-webpack-plugin` or manifest file, can we?

[2018-03-01 14:53] evilebottnawi commented on #220
@levani can you create minimum reproducible test repo?

[2018-03-01 15:26] levani commented on #220
@evilebottnawi
I believe this must be it https://github.com/levani/webpack-uglify-test

run `npm run build` and check `/bundles/i-am-lazy.js`. Then uncomment line 13 in `webpack.config.js`, rebuild and check the file again. I first case it must be unminified and in second case it must be minified.

[2018-03-01 23:23] bspies-work commented on #245
FYI, setting `inline: false` did fix the issue...i.e. uglify-js 2.8.29 seems to have a bug with inlining functions that use a `const` as an input parameter.

[2018-03-02 13:45] PSTime commented on #226
any news there ?
Could anyone provide some workaround?

[2018-03-02 13:51] evilebottnawi commented on #226
@PSTime please read comment above

[2018-03-02 14:34] PSTime commented on #226
@evilebottnawi  https://github.com/PSTime/uglifyjs-webpack-plugin-issue

[2018-03-03 09:17] StalkAlex commented on #118
In last version everything works the same means not working with parallel option, so this issue should be reopened at least.  I'm using it on BashOnWindows Windows 10, but everything works if I run it as normal windows process.

[2018-03-03 09:24] StalkAlex commented on #118
This is [check](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/173/commits/80d3706ea8e4079eb8dffaeda0b3ec759f77f947#diff-e7a96c2789a906d04cb672681ad35471R29) should be improved I think. As it will faild in Windows's Ubuntu, but it's still Windows.

[2018-03-04 08:12] nicky-lau opened #247 "Webpack 4.x Issues tree shaking (remove dead_code) doesn't work"
Good afternoon!
I'm trying to use `webpack 4.01` with `uglifyjs-webpack-plugin`, I need to remove unused code
this is [code source](https://github.com/liu-zhuang/webpack-guid/tree/6-Tree-Shaking)
util code:
[code]

entry file:
[code]

webpack.config.js
[code]
no matter i use `uglify`puglin in `plugins` or `optimization`, there is always `t.muliti=function(){console.log("this is method muliti")}}`

[2018-03-04 15:46] andreicristianpetcu opened #248 "Please upgrade source-map to 0.7.2 to get speed improvements"
The latest source-map which is v0.7.2 got support for WebAssembly and it is 10 times faster than the old one. More info here:

https://github.com/mozilla/source-map/blob/master/CHANGELOG.md#072
http://fitzgeraldnick.com/2018/02/26/speed-without-wizardry.html
https://hacks.mozilla.org/2018/01/oxidizing-source-maps-with-rust-and-webassembly/
https://github.com/devtools-html/debugger.html/issues/5598

[2018-03-05 09:23] evilebottnawi commented on #248
@andreicristianpetcu it is breaking change and break plugin on node@6 (eaking change: Drop support for Node < 8. If you want to support older versions of node, please use v0.6 or below.). We can't do this right now

[2018-03-05 16:40] dangrima90 commented on #232
Hi @evilebottnawi, any news on this please?

[2018-03-05 16:55] evilebottnawi commented on #232
@dangrima90 don't have time right, but seems some globals are rewrites and you get invalid uglified file, can you try to disable `mangle` (`mangle: false` in `uglifyOptions`) and check?

[2018-03-05 17:15] julmot commented on #222
Is there any way to "downgrade" or similar in the meantime? I'd like to upgrade to Webpack v4, but I can't without license comments.

[2018-03-05 17:24] evilebottnawi commented on #222
@julmot tomorrow i fix this or you can do PR :+1:

[2018-03-05 18:34] evilebottnawi commented on #247
@nicky-lau Thanks for issue, tomorrow i will investigate this

[2018-03-05 18:43] evilebottnawi commented on #236
Close here in favor https://github.com/zkat/cacache/issues/122. Thanks for issue :+1:

[2018-03-05 18:43] #236 closed

[2018-03-05 20:30] bellerus commented on #220
@levani Have you found any workarounds for uglifying lazily loaded chunks?

[2018-03-06 02:34] nicky-lau commented on #247
@evilebottnawi thank u~

[2018-03-06 14:20] evilebottnawi commented on #222
Done in https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/250

[2018-03-06 14:24] dangrima90 commented on #232
@evilebottnawi  Thanks for your reply. I did try it, unfortunately the build still failed.

[2018-03-06 14:48] evilebottnawi commented on #220
@levani expected behavior, `output.chunkFilename` should be filename, not URL, i don't know why `webpack` don't throw error, i will raise this issue (or maybe it is normal).

Why it is happens:
1. We minify only `.js` files `https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/index.js#L23`.
2. Using `chunkFilename: '[name].bundle.js?ver=[chunkhash]'` output:
[code]
3. Bundle

[2018-03-06 14:59] evilebottnawi commented on #220
From slack:
[code]
I will fix it

[2018-03-06 15:29] evilebottnawi commented on #220
Done in https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/251

[2018-03-06 15:39] evilebottnawi commented on #226
@PSTime You have critical dependency:
[code]
Don't related to uglify plugin

[2018-03-06 15:39] evilebottnawi commented on #226
@shusiwei friendly ping

[2018-03-06 15:42] evilebottnawi commented on #228
Problem solved in `uglify-es`. Make sure you have `3.3.9` version (`npm cache clear --force && npm install`). Also i recommending use `lock` files to avoid this problem in future. Thanks everyone!

[2018-03-06 15:42] #228 closed

[2018-03-06 16:33] evilebottnawi commented on #247
@nicky-lau it is impossible right now. Webpack send this content to uglify-es:
[code]

And uglify don't detect this as dead code (and should not, uglify don't know what is `webpack`). `webpack` tree shaking don't remove dead_code.

[2018-03-06 16:56] evilebottnawi commented on #247
@nicky-lau hm, how about:
[code]

[2018-03-06 20:10] sokra commented on #247
`.babelrc` `"module": false,` -> `"modules": false,`

[2018-03-07 03:42] StuRuby commented on #125
Hello ,I have the same issue with tree shaking .
I have two js file .
`print.js`
`export function printMe() {
    alert('I get called from print.js!');
}

export function printYou() {
    alert(`you !`);
}`

`index.js`

`
import { printMe }  from './print';

function component() {
    var element = document.createElement('div');
    var btn = document.createElement('button');
    element.innerHTML

[2018-03-07 06:26] nicky-lau commented on #247
@evilebottnawi  thank u~~  it's my fault
- -!!!

[2018-03-07 06:26] nicky-lau commented on #247
@sokra it works!~ thank u~~~ :+1:

[2018-03-07 06:26] #247 closed

[2018-03-07 08:38] evilebottnawi commented on #125
Please read this issue https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/247

[2018-03-07 17:29] #181 closed

[2018-03-07 18:19] #220 closed

[2018-03-07 22:13] sahaam opened #252 "Can't we simply use "uglify-js": "3.3.x" instead of "uglify-es": "^3.3.4" in the dependency"
Can't we simply use "uglify-js": "3.3.x" instead of "uglify-es": "^3.3.4" in the dependency as both the packages are same and its creating some confusion. In some repository "uglify-js": "3.3.x" is used.

[2018-03-07 22:37] michael-ciniawsky commented on #252
`uglify-js` (ES5) (`master` branch) vs `uglify-es` (ES2015+) (`harmony` branch), the first would require always transpile your code to ES5 before minification

[2018-03-09 14:44] krrssna-g-s opened #254 "Unhandled rejection TypeError: child.send is not a function"
Hi,

I'm seeing below issue in my ubuntu box through Jenkins.  Any help appreciated.

 node[3708]: pthread_create: Resource temporarily unavailable
 Unhandled rejection TypeError: child.send is not a function
     at fork (/app/onejenkins/workspace/app.Build/build/node_modules/worker-farm/lib/fork.js:22:9)
     at Farm.startChild (/app/onejenkins/workspace/app.Build/build/node_modules/worker-farm/

[2018-03-09 14:50] evilebottnawi commented on #254
@krrssna-g-s strange error, can you create minimum reproducible test repo?

[2018-03-10 22:46] michael-ciniawsky commented on #220
Released in [`v1.2.3`](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/releases/tag/v1.2.3) 🎉

[2018-03-10 22:46] michael-ciniawsky commented on #181
Released in [`v1.2.3`](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/releases/tag/v1.2.3) 🎉

[2018-03-10 22:47] michael-ciniawsky commented on #246
Released in [`v1.2.3`](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/releases/tag/v1.2.3) 🎉

[2018-03-12 14:12] clubajax opened #256 ""output" option ignore (incorrect docs?)"
Using:
`"uglifyjs-webpack-plugin": "v1.2.3"`

In order for the output options to be read by the uglify engine, I had to change my config to the following (note the commented out lines):

[code]

Tracing the source code, it appears `uglifyOptions` is redundant, and I see `uglifyOptions.uglifyOptions`.

Is my config correct?

[2018-03-12 14:15] clubajax commented on #256
It's obvious what my mistake was. My own redundancy. Disregard.

[2018-03-12 14:15] #256 closed

[2018-03-13 03:13] s524797336 opened #257 "[maybe a bug] result changed after uglifyjs"
I create a repo at https://github.com/s524797336/test-clipboard-uglifyjs-webpack-plugin

Result changed after use twice uglifyjs-webpack-plugin with webpack4, i'm not familiar with uglifyjs but i think it should not change the runtime result for the code

[2018-03-13 16:09] evilebottnawi commented on #257
@s524797336 what exactly changes?

[2018-03-13 16:13] evilebottnawi commented on #252
@sahaam this plugin use `uglify-es` in latest version. If other packages use `uglify-js` please create issue about this in their repo. `uglify-es` support all `uglify-js` features and new ECMA features. Downgrade is not needed. Thanks!

[2018-03-13 16:13] #252 closed

[2018-03-13 23:12] s524797336 commented on #257
@evilebottnawi
Did you run my repo?
You can see the if statment is gone and the code in it will always run

[2018-03-14 03:58] mqliutie opened #260 "uglifyOptions->compress->properties false not work"
webpack version 3.6.0
uglifyjs-webpack-plugin version 1.2.3

[code]
When `webpack -p`  I want `t["default "]` but get `t.default`
When `webapck` It will be `variable["default"]` `variable not compress to t`

[2018-03-14 08:26] evilebottnawi commented on #257
@s524797336 can you create minimum reproducible test repo. It is hard to debug

[2018-03-14 08:34] evilebottnawi commented on #260
@mqliutie using `-p` flag add `uglify-webpack-plugin@0.4.6` which using `uglify-js` and have other options

[2018-03-14 10:33] s524797336 commented on #257
My minimum reproducible test repo is in my question till day one....
@evilebottnawi

[2018-03-14 10:35] evilebottnawi commented on #257
@s524797336 I run multiple times and get equals result, can you more clarify what is wrong?

[2018-03-14 10:46] s524797336 commented on #257
@evilebottnawi
Did you follow the reademe.md?
The lib folder and the dist folder is the same result?

[2018-03-16 11:39] #222 closed

[2018-03-16 11:55] michael-ciniawsky commented on #222
Released in [`v1.2.4`](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/releases/tag/v1.2.4) 🎉

[2018-03-16 11:59] evilebottnawi commented on #260
Please look comment above. Feel free to feedback :+1: 1:

[2018-03-16 11:59] #260 closed

[2018-03-16 11:59] evilebottnawi commented on #254
@krrssna-g-s friendly ping

[2018-03-16 12:01] evilebottnawi commented on #226
@shusiwei @PSTime @vokkal friendly ping. Problem still exists?

[2018-03-16 12:02] evilebottnawi commented on #134
Closing due to inactivity. Please test with latest version and feel free to recreate issue if still regressions. Thanks!

[2018-03-16 12:02] #134 closed

[2018-03-16 12:45] michael-ciniawsky commented on #222
https://status.npmjs.org/incidents/gbk5bjx1169j
https://github.com/npm/npm/issues/20077

😞

[2018-03-16 16:33] Legends opened #261 "Couldn't parse bundle asset "vendors~typeahead.chunk.min.js". Analyzer will use module sizes from stats file."
Plugin version 1.2.4
webpack 4

This only happens in production when setting ` sourceMap: false`, when set to true, it runs fine!

[code]

**Here the complete Log-file:**
[2018-03-16T16_31_25_817Z-debug.log](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/files/1820016/2018-03-16T16_31_25_817Z-debug.log)

[2018-03-16 16:35] evilebottnawi commented on #261
@Legends can you provide more detailed log, because log above contain only npm stacktrace

[2018-03-16 16:36] julmot commented on #222
Thanks @michael-ciniawsky So when does this come into Webpack itself? I'm not directly depending on this plugin:

![topic](https://user-images.githubusercontent.com/8310677/37532839-7e672754-2940-11e8-91a7-108dfcd3ce69.png)

[2018-03-16 16:50] evilebottnawi commented on #222
@julmot already in `webpack` https://github.com/webpack/webpack/blob/master/package.json#L24 just update cache (`npm/yarn cache clear`) and/or lock file

[2018-03-16 17:20] Legends commented on #261
`npm run prod`

here it is: --> [uglify-sourcemap-false-production.log](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/files/1820194/uglify-sourcemap-false-production.log)

[2018-03-16 17:44] evilebottnawi commented on #261
@Legends problem in `source-map` package. It is hard debug without source :disappointed: Need reproducible test repo

[2018-03-16 17:57] Legends commented on #261
Moved the issue to source-maps repo.

[2018-03-17 01:37] Legends commented on #261
Here is the [repo](https://github.com/Legends/sourceMapsIssueDemo) which replicates the error.

I have opened a new issue [here](https://github.com/mozilla/source-map/issues/328)

[2018-03-19 09:00] evilebottnawi commented on #261
@Legends I will investigate this in near future :+1:

[2018-03-19 09:48] sirreal opened #262 "Question: Switch to maintained uglification module?"
It appears that `uglify-es` will not be maintained. See https://github.com/mishoo/UglifyJS2/issues/2908#issuecomment-367686007 and https://github.com/mishoo/UglifyJS2/issues/3010#issuecomment-374147334.

There are [known issues](https://github.com/mishoo/UglifyJS2/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Abug+label%3Aharmony) which affect the behavior of code transformed by `uglify-es`.

[2018-03-19 10:00] evilebottnawi commented on #262
@sirreal thanks for issue, let's wait response from other contributors, i confused why `uglify-es` will not be maintained. How we can handle es5+ syntax

[2018-03-19 15:11] webpack-bot opened #264 "Turn off inlining in optimization until UglifyJS issue is fixed."
This minimization bug has been open for almost two months: https://github.com/mishoo/UglifyJS2/issues/2842.  It has been referenced here elsewhere.  The bug occurs when UglifyJS attempts to inline a call to a function with a variable of the same name as a variable in the calling function.  Symptoms usually include "is not defined" or "assignment to constant variable".

In my experience, it's both

[2018-03-19 15:12] evilebottnawi commented on #264
/cc @michael-ciniawsky what do you think about this?

[2018-03-19 17:35] Slapbox commented on #228
I'm using `uglify-es 3.3.10` and having this issue. Is `3.3.10` broken?

[2018-03-19 21:35] Legends commented on #261
I think the issue arises because I have set
[code]
but in the UglifyJS-Plugin I set it to false:
[code]
Perhaps an error message would be nice, that explains the issue or the plugin overrides `devtool` setting by default.
The problem is created in UglifyJS-webpack-plugin:

[code]

[2018-03-19 22:19] gil0mendes commented on #264
Today I ran over this issue, this would be nice to be fixed. Until then, disabling the `minification` is a good temporary workaround.

[2018-03-19 23:17] jamesopti commented on #264
+100 Couldn't agree more.

[2018-03-19 23:35] jamesopti opened #265 "Inline function optimization fails to define some arguments"
This issue appears to be similar/related to #264 but without any variable name clashing, which I think would make it more likely to come across and thus I'm reporting it as a separate issue.
(also filed [issue #3012](https://github.com/mishoo/UglifyJS2/issues/3012) with Uglify-es)

When only a single occurrence of a method happens, Uglify-es is attempting to inline the only usage of the function,

[2018-03-19 23:51] Legends commented on #261
@pbrain19 has the same error msg, but he uses a different configuration [here](https://github.com/webpack/webpack/issues/1385)

[2018-03-20 08:59] evilebottnawi commented on #265
@jamesopti Duplicate https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/265?

[2018-03-20 09:44] michael-ciniawsky commented on #264
@evilebottnawi We can disable by default, there will likely no other option in the near future 😞. This plugin will definitely become obsolete anyways if `uglify` won't actually be maintained for ES2015+ code

[2018-03-20 09:50] evilebottnawi commented on #264
@michael-ciniawsky yep, let's do this, and we can improve babel-minify plugin for future :+1:

[2018-03-20 09:51] evilebottnawi commented on #264
@michael-ciniawsky i can migrate `cache` and `parallel` option very fast :smile:

[2018-03-20 11:18] dangrima90 commented on #232
Hi @evilebottnawi just to let you know that I've been upgrading my application from Angular 4.4.4 to 5.2.8. During this process I've also updated my webpack config and this issue is not present anymore. I'm not sure what fixed the issue to be honest - but if you require any information from my end let me know.

[2018-03-20 11:59] evilebottnawi commented on #232
@dangrima90 :+1: Let's close issue, If somebody have same error, feel free to report here.

[2018-03-20 11:59] #232 closed

[2018-03-20 12:07] sirreal commented on #265
I think you mean #264 (this is 265)

[2018-03-20 12:11] sirreal commented on #262
Not sure if this question is for me or other maintainers. I'll just reference #264 proposing a `babel-minify` as an alternative (https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/264#issuecomment-374536624).

[2018-03-20 12:16] evilebottnawi commented on #265
@sirreal yep, duplicate?

[2018-03-20 12:28] sirreal commented on #265
Maybe not 😕

Here's a chain of references starting with the description of this issue:

* https://github.com/mishoo/UglifyJS2/issues/3012
* https://github.com/mishoo/UglifyJS2/issues/3010#issuecomment-373957512
* https://github.com/mishoo/UglifyJS2/issues/2908

The workaround here seems to be disabling `collapse_vars` (or maybe `conditionals` -- https://github.com/mishoo/UglifyJS2/issues/3010)

--

[2018-03-20 12:30] evilebottnawi commented on #265
A lot of problem with `uglify-es` :disappointed: Ways:
1. Found contributor(s) for `uglif-es` and fix some problem asap
2. Release major version where switch to `uglify-js` with note about it is require `babel-loader` for es5+ syntax
3. Migrate `cache` and `parallel` and some other option to `babel-minify` plugin asap and recommandate use their instead `uglify` plugin.

[2018-03-20 13:56] estaub commented on #262
@evilebottnawi - see comments on mishoo/UglifyJS2/issues/3010, mishoo/UglifyJS2/issues/2842

...which suggests another option, a wee bit out of scope: use a forked, maintained uglify-es (a.k.a. "harmony" in the comments).

[2018-03-20 14:08] evilebottnawi commented on #262
@estaub do you have time to maintenance new package?

[2018-03-20 14:30] kzc commented on #265
`uglifyjs-webpack-plugin` should consider supporting passing in a custom uglify `minify` function similar to how `rollup-plugin-uglify` does it:

https://github.com/TrySound/rollup-plugin-uglify#options

That way users could choose any `uglify-es` or `uglify-js@3.x` API compatible version they like - even a custom version.

[2018-03-20 14:32] evilebottnawi commented on #265
@kzc :+1:
@michael-ciniawsky what about union with `babel-minify` using `custom` function (by default use `uglify`)? It is allow have one plugin for uglifyjs, maybe rename plugin to more common name

[2018-03-20 14:38] kzc commented on #265
Just from a usability perspective I wouldn't recommend mixing `babel-minify` and `uglify` into a single plugin. Their options are completely different. Use one or the other.

`uglify-es`'s API is a superset of `uglify-js@3`'s API, so you can get away with that.

[2018-03-20 14:39] estaub commented on #262
@evilebottnawi I've not the skill, and if it wasn't obvious, I was being ironic in calling it "a wee bit out of scope"!  But this is a big enough problem that someone might pick it up and/or fund it.

Also, if anyone personally knows Alex, the developer who's dropping support for uglify-es, they might want to reach out and try to understand better where he's at.  uglify-es has been a huge contribu

[2018-03-20 15:19] kamilogorek opened #266 "Firefox error's stack trace is unable to read Source Maps when output code is minified"
Hey,

I stumbled upon the very strange issue when debugging one of our SDK issues (ref and some more details: https://github.com/getsentry/raven-js/issues/1256).

When this simple code is passed through the Webpack with UglifyJsPlugin, Firefox is unable to correctly read the source map for the bundled code.

![screen shot 2018-03-20 at 16 09 27](https://user-images.githubusercontent.com/1523305/37

[2018-03-20 15:21] evilebottnawi commented on #266
@kamilogorek you use old webpack(2 version) and old version of `uglify` plugin. They very buggy. Only way - update to minimum 3 version and use latest version of `uglify` plugin. Sorry.

[2018-03-20 15:59] evilebottnawi commented on #266
@kamilogorek can you create minimum reproducible test repo?

[2018-03-20 19:20] kamilogorek commented on #266
@evilebottnawi I posted it at the very top, there's nothing else you need to repro it other than this config and index,js/html files. I can create it tomorrow if you need, as I'm not on my laptop right now.

[2018-03-21 03:03] kzc commented on #266
It's behaving as expected - `foo` is optimized away:
[code]
See: [Source Maps and Debugging](https://github.com/mishoo/UglifyJS2/tree/569757d14dbbe04f66af65d7bf0600b3a75efd96#source-maps-and-debugging)

[2018-03-21 08:36] evilebottnawi commented on #266
@kzc thanks! @kamilogorek please read comment above :+1:

[2018-03-21 08:36] #266 closed

[2018-03-21 08:43] kamilogorek commented on #266
I'm aware of this, tested it myself. It still breaks Firefox source map resolution somehow. I guess I'll just fill an issue there, as it may be FF issue instead.

[2018-03-21 09:03] evilebottnawi commented on #266
@kamilogorek feel free to feedback and add link on firefox issue for tracking

[2018-03-21 13:30] Legends commented on #261
@evilebottnawi What needs to be done here? Can I help somehow?

[2018-03-21 13:32] evilebottnawi commented on #261
@Legends no, WIP :+1:

[2018-03-22 12:03] kamilogorek commented on #266
@evilebottnawi FYI https://bugzilla.mozilla.org/show_bug.cgi?id=1447949

[2018-03-22 12:04] evilebottnawi commented on #266
@kamilogorek Thanks!

[2018-03-22 16:27] kzc commented on #266
@kamilogorek Regarding https://bugzilla.mozilla.org/show_bug.cgi?id=1447949 consider attaching the minified bundle file and corresponding source map file to that bugzilla ticket to increase the odds of getting it examined.

Here's a possible workaround... Can you patch your local copy of `uglify-es` in `node_modules` used by `uglifyjs-webpack-plugin@1.2.4`, re-run your `webpack@4` config, and repo

[2018-03-22 19:13] Reinmar commented on #264
We've run into this issue when trying to add support for building CKEditor 5 with webpack 4 (https://github.com/ckeditor/ckeditor5-dev/issues/371).

What I found is that uglify-es is not supported anymore (https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/262).

So, in the light of this, I'd say that disabling inlining misses the point. We may soon run into another issue with uglif

[2018-03-22 19:41] Reinmar commented on #262
I found this issue when we encountered the problems described in https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/264.

If I understand it correctly, webpack 4 introduced a production mode which defaults to uglifyjs-webpack-plugin which, in turn, relies on uglify-es. This is all a bit odd, taken that uglify-es is not maintained anymore.

I know that making long-term decisions in t

[2018-03-22 20:34] kamilogorek commented on #266
@kzc nice finding. It partially works.

I had to patch `uglify-js` not `uglify-es` that's one thing, and the second one is that Firefox now correctly points to `index.js`, but to the first line, which is `var obj = {}`, not second one `obj.wat()` as it should (it works fine in other browsers after the patch)

It's still a large progress though! :)

<img width="722" alt="screen shot 2018-03-22 at 2

[2018-03-22 20:55] kzc commented on #266
That indicates you're using `webpack@3` with `uglifyjs-webpack-plugin@0.4.6`.

Try running `webpack@4` using `uglifyjs-webpack-plugin@1.2.4 `/`uglify-es`.

The rest is up to Mozilla to deal with then.

[2018-03-23 08:39] kamilogorek commented on #266
I forgot to check which version of `webpack` I used, but I definitely used built-in `uglify-js`, not a separate `uglifyjs-webpack-plugin`.
It's not possible to patch `uglifyjs-webpack-plugin@0.4.6` like this, as it doesn't have `AST_Class` and it'll throw an exception :)

Patching `uglify-es` works just fine as well @kzc
Issue: https://github.com/mishoo/UglifyJS2/issues/3023

[2018-03-23 10:28] Reinmar commented on #264
I commented on that in https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/262. I know that the decision is hard, though...

[2018-03-23 14:40] gpspake opened #267 "Tree shaking not working - webpack 4 and uglifyjs-webpack-plugin"
I have tried adding UglifyJSPlugin to a webpack 4 project, in accordance with the [webpack tree shaking docs](https://webpack.js.org/guides/tree-shaking/), and I'm still seeing dead code and even comments in my bundle which leads me to think that my uglify plugin config isn't being used. I posted this on [Stack Overflow](https://stackoverflow.com/questions/49396735/tree-shaking-not-working-webpack

[2018-03-23 15:11] evilebottnawi commented on #267
Thanks for issue, dup https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/206

[2018-03-23 15:12] evilebottnawi commented on #267
@gpspake feel free to ping me, if it is not help

[2018-03-23 15:37] gpspake commented on #267
@evilebottnawi I read that thread before submitting and I just re-read it hoping to find a solution but I still don't understand why webpack seems to silently ignore UglifyJsPlugin. My project has a minimal configuration and I am not using React so the code is relatively straight forward for this example. I have tried a lot of the suggestions in that thread but, at the end of the day, treeshaking

[2018-03-23 15:55] evilebottnawi commented on #267
@gpspake tomorrow i will investigate

[2018-03-23 19:10] gpspake commented on #267
Hey @evilebottnawi, I see you added needs more info tag. Is there any additional info I can provide?

[2018-03-24 02:33] estaub commented on #264
Turning off inlining by default doesn't preclude a better, longer-term solution.
By way of motivation... for other victims like me:

_How long did it take you to figure out what's wrong?_

I have no opinion on whether to move off uglify-es; it _may_ make sense to stay there _if_ there's some way to bring it back into a supported status.  Regardless, identifying a different ongoing solution will ta

[2018-03-24 11:03] evilebottnawi commented on #267
@gpspake i ping you if something need, in future i think we will use other label aka `status: need investigation`

[2018-03-25 13:06] gpspake commented on #267
I just want to add one piece of info that I confirmed this morning which is that adding UglifyJsPlugin to my webpack config doesn't have any effect at all. If I comment `new UglifyJsPlugin` out in my webpack config, I get the exact same output with `webpack -p`
I don't understand what I'm doing wrong, here. Is it a simple syntax issue? Is it a matter of options that I'm not passing? I'm going to a

[2018-03-25 17:38] shaosh commented on #226
@evilebottnawi
I see this problem too. Here is a minimal demo to duplicate this issue https://github.com/shaosh/macd-demo.

It seems you've already got some solutions?

[2018-03-26 18:54] evilebottnawi commented on #261
@Legends bug, work on PR. Thanks!

[2018-03-26 19:39] evilebottnawi commented on #261
Fixed in https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/268

[2018-03-26 20:15] evilebottnawi commented on #254
@krrssna-g-s seems problem in you box, node can't create new thread - `node[3708]: pthread_create: Resource temporarily unavailable`. Maybe you have some limits in your box. If problem still exists please create issue https://github.com/nodejs/node. Thanks!

[2018-03-26 20:15] #254 closed

[2018-03-27 04:39] shivkoirala commented on #267
Its happening with me also. Have a simple webpack.config.js  and uglify does not get executed irrespective what the environment variable is.

[2018-03-27 09:01] evilebottnawi commented on #267
@shivkoirala can you create minimum reproducible test repo?

[2018-03-28 04:55] shivkoirala commented on #267
@evilebottnawi below are details let me know if you need anything more

Typescript version :- 2.7.2
Webpack :- 4.2.0
I tired everything webpack -p , webpack --mode production, changed environment variable of node, changed to ES5 / ES6 . **Bundling is happening but not uglify.**. If i run uglify individually it works.

[code]
tsconfig.json

{
  "compilerOptions": {
    "target": "es5",
    "module"

[2018-03-28 09:13] evilebottnawi commented on #267
@shivkoirala can you create this as minimum reproducible test repo?

[2018-03-28 16:46] shaosh commented on #226
I got a work-around of this issue after came across this issue https://github.com/webpack/webpack/issues/603

You can also use webpack-node-externals:

[code]

[2018-03-31 06:44] seawenzhu commented on #18
you can try uglifyjs-webpack-plugin
 new webpack.DefinePlugin({
      'process.env': {
        NODE_ENV: '"production"'
      }
    }),
    // new webpack.optimize.UglifyJsPlugin({
    //   compress: {
    //     warnings: false
    //   }
    // }),
    new UglifyJsPlugin({
      uglifyOptions: {
        ecma: 8
      }
    }),
    new webpack.LoaderOptionsPlugin({
      minimize: true
    }),

[2018-04-02 07:57] anatoly314 opened #269 "Webpack's removes classnames when minifying/uglifying ES6 code with inheritance"
This is a copy of my answer on StackOverflow, I suspect that it's a bug so I decided to open an issue here too.
Project to demonstrate the issue: https://github.com/anatoly314/webpack-uglify-inheritence

-------------
Webpack's removes *classnames* when minifying/uglifying ES6 code with inheritance:

There's [MVCE][1] code which we try to minify/uglify:

**Class Child**:

    const ParentClass = r

[2018-04-02 09:44] Legends opened #270 "What is the expected output, when: beautify: true - comments: true - keep_fnames: true - mangle: false"
- Ugligy:   "version": "1.2.4",
- node -v: 8.10
- yarn -v:  1.5.1

`-mode production`

**What is the purpose of:**
[code]
I set keep fnames to true, comments to true, but this has no effect on the output...

**webpack.config.js**
[code]

**Source:**
[code]

**Output:**

`!function(e){var r={};function t(n){if(r[n])return r[n].exports;var o=r[n]={i:n,l:!1,exports:{}};return e[n].call(o.exports,o,o.

[2018-04-02 09:59] evilebottnawi commented on #270
@Legends
1. Looks you have something invalid in config.
2. You use babel with webpack, they modify source your source code to very ugly output.

[2018-04-02 10:00] evilebottnawi commented on #269
@anatoly314 Thanks for issue, Yes looks like a bug. Need investigate who output this in not right way.

[2018-04-02 10:27] Legends commented on #270
I use `ts-loader` and this is my config:

[code]

[2018-04-02 10:34] evilebottnawi commented on #270
@Legends what you goal, pretty output code, also which `webpack` version you use and how you run `webpack`?

[2018-04-02 10:37] Legends commented on #270
`"webpack": "^4.4.1"`

I want to pretty output it, because I want to verify if "dead code" is really treeshaked, that's why I use pretty here, for testing...

I ran it like this:
[code]

[2018-04-02 10:40] evilebottnawi commented on #270
@Legends `webpack@4` now use uglify from box, you should remove `uglufy` plugin from `plugin` property and use
[code]

[2018-04-02 10:54] Legends commented on #270
Thank you !

[2018-04-02 10:54] #270 closed

[2018-04-02 11:46] tndev commented on #269
I do not think that this is an error in webpack or uglify.

The synax itself is so far correct, because on the one hand you can have anonymous classes and these can also be used by other classes. And because the class name is not refernce anywhere in the file it can be optimized away.

So I do not see any problem in that part of the code:

[code]

The error iself happens in this part of the code,

[2018-04-02 11:54] evilebottnawi commented on #269
@tndev we don't change any code, just run uglify on code which go from `webpack`

[2018-04-02 12:03] tndev commented on #269
@evilebottnawi Yes and the resulting code generated is perfectly fine, there is no syntax error or invalid minification. The error happens in the code of ` node_modules/webpack-uglify-inheritence`  which is not part of webpack. And it only happens because of using `this.constructor.name === 'Parent'`  instead of `this.constructor === Parent`. So imho there is no bug in uglify or webpack.

[2018-04-02 12:15] anatoly314 commented on #269
@tndev, your solution doesn't work. When you run minified code under NodeJS v6.9.1,  `console.log(this.constructor)` returns:
[code]

But when we run it from NodeJS v8.9.1 it returns:
[code]
In both case I can't know from which class an object was instantiated.

[2018-04-02 12:18] evilebottnawi commented on #269
@anatoly314 looks as won't fix in `uglify`/`webpack`/`uglify-plugin`, maybe you should use polyfills or other complex check for `this.constructor`

[2018-04-02 12:34] tndev commented on #269
@evilebottnawi The displayed names are wrong that is true, but comparison is still correct (at leat here with 6, 8 and 9).

The output of:
[code]

Is for `new Child`:
[code]

And for `new Parent` it is:
[code]
Or do you get `this.constructor === Parent`  for both cases?

[2018-04-02 12:38] anatoly314 commented on #269
@tndev, it's mind-blowing but it works. But why, or it's just one of evil parts of JavaScript?

[2018-04-02 12:44] tndev commented on #269
@anatoly314  writing `this.constructor.name === 'Parent'`  is evil, because you don't test if the  `constructor`  of ` this` the same as the of of `Parent`, you only test if the names are equal. The `this.constructor === Parent` does not test for the name but for the actual function, and thats the only correct way to do a reliable test.

[2018-04-02 12:47] anatoly314 commented on #269
Thank you very much, you helped us a lot and today I've learned a bit more about JavaScript.

[2018-04-02 12:47] #269 closed

[2018-04-03 00:30] Slapbox commented on #228
Using 3.3.9 after clearing my `node_modules` and yarn's cache with `uglifyjs-webpack-plugin` fails with this same error.

[2018-04-03 01:16] Slapbox commented on #252
Is there a reason not to hardcode this to `3.3.4` for the time being? In the meantime I've had to fork the package with this change to get a buildable project. Without hardcoding, this plugin uses `3.3.10` which causes the sym.definition bug.

https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/228

[2018-04-03 15:47] granttchart commented on #267
I'm experiencing what I think is the same issue on [this project](https://github.com/wwciweb/wttw-homepage). Since switching to Webpack 4, production builds are ~400Kb larger than Webpack 3 builds with the same codebase.

[2018-04-03 15:59] gpspake commented on #267
Could we please get a minimal reproducable example of uglifyjs-webpack-plugin working with webpack 4? Has anyone actually used it successfully?
As far as I can tell, multiple examples have been provided that demonstrate the plugin has no effect but no one has shared a working example with tree shaking.
It seems like the plugin is currently incompatible with webpack 4. I'd love to be proven wrong.

[2018-04-03 20:47] melloc01 opened #272 "Production build hangs at 92%"
Hello,

I think this is probably a bug with this plugin since the dev build works fine and when I run `webpack --progress` it gets stuck in:

`92% chunk asset optimization UglifyJSPlugin`

Below, the relevant parts of my webpack.config:

[code]

Is this enough info? I tried to run with `--debug --progress --display-error-details --verbose` but nothing else came out

[2018-04-03 21:03] melloc01 commented on #272
Well, I post the config in case there is an error on it - if you don't spot an error I can create a repo with it,

Thanks in advance :blush:

[2018-04-03 21:27] melloc01 commented on #272
Instead of using the build-in module from webpack, when actually use the plugin on my `webpack-config.js`  adding it to the plugins array it works as expected. Webpack probably uses a different version probably, should I open the issue on webpack's repo?

[2018-04-03 22:12] melloc01 commented on #272
Still experimenting...

Using `-p`  seems to be the reason that I get stuck. (maybe it's the only way to activate the plugin?)

Using https://github.com/pingyuanChen/webpack-uglify-js-plugin works on `-p` mode, it was the workaround to get going for now

[2018-04-04 09:30] evilebottnawi commented on #272
@melloc01 can you create minimum reproducible test repo?

[2018-04-04 11:31] Legends commented on #267
@evilebottnawi , @gpspake

Not sure, perhaps the new way of adding the plugin is using `minimizer` under `optimization`.
If this is the case, the docs have to be updated...

[code]

[2018-04-04 11:34] Legends opened #273 "Question - Use different UglifyJs configurations for different files?"
For example I want the function names to be mangled **only for some files** and **for others not**, and so on.
Is this possible?

[2018-04-04 11:36] evilebottnawi commented on #273
@Legends You can setup two instance `uglifyjs-webpack-plugin` with difference options and use `test/include/exclude`. It is rare use case and better to avoid this implementation to support easy maintenance.

[2018-04-04 11:37] Legends commented on #273
Didn't know I could use multiple instances.. Thanks!

[2018-04-04 11:37] #273 closed

[2018-04-04 18:52] gpspake commented on #267
Thanks @Legends. I updated my [webpack config](https://github.com/gpspake/es6-todomvc/blob/master/webpack.config.babel.js#L42). Still no tree-shaking 😢 but at least webpack seems to be honoring my uglify config with that syntax. I'm losing my mind over this. My project is so simple and it seems like treeshaking should be working here based on a lot of the examples I've seen but nothing is working

[2018-04-04 21:14] Legends commented on #267
I would say... probably a bug...

[2018-04-06 10:05] ojab commented on #262
babel-minify is also barely maintained, see https://github.com/webpack-contrib/babel-minify-webpack-plugin/issues/68.

[2018-04-06 18:12] webpack-bot opened #274 "Webpack 4.5.0 package react 16.3.1 popProvider error"
**Do you want to request a *feature* or report a *bug*?**
report a bug

**What is the current behavior?**
hi,I used webpack 4.5.0 to package react 16.3.1 and react-dom 16.3.1. There was no problem with compiling, but there was a react-dom.development.js problem with the browser:
[code]
Opened the react-dom.development.js file and there was a problem with this sentence:
[code]
in ReactFiberSchedule

[2018-04-06 18:13] evilebottnawi commented on #274
@dreamthen Hi. Can you create minimum reproducible test repo?

[2018-04-06 18:15] montogeek commented on #274
@evilebottnawi it is in the original issue: https://github.com/webpack/webpack/issues/6969#issuecomment-379299525
also on React repo: https://github.com/facebook/react/issues/12555

[2018-04-06 18:16] evilebottnawi commented on #272
@melloc01 Friendly ping :+1:

[2018-04-06 21:27] melloc01 commented on #272
Thanks @evilebottnawi
Did not forget - just overloaded with other upgrade issues. HMR now :|

Will save some time on the weekend to set up the repo

News: someone on Gitter is having the same issue

[2018-04-07 02:33] zlk89 commented on #272
Same here, and I get out of memory error after a while:
[code]

This error happens to me every time I tried to use `UglifyJSPlugin`.

[2018-04-07 12:50] Legends commented on #267
I found the issue.

@sokra When `devtool` is set to `eval` it does not treeshake. Bug?

[2018-04-07 12:51] evilebottnawi commented on #272
@zlk89 do you use latest version?

[2018-04-07 12:52] evilebottnawi commented on #272
@zlk89 Also please create new issue, your problem is other

[2018-04-09 08:41] erickwilder commented on #272
I just upgraded to webpack 4 (`4.5.0`) and I'm experiencing the same. It takes ages to finish the build process as it gets stuck on 92%.

[2018-04-09 10:39] bichomen commented on #117
I have the same problem:

`npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! uglifyjs-webpack-plugin@0.4.6 postinstall: `node lib/post_install.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the uglifyjs-webpack-plugin@0.4.6 postinstall script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can be foun

[2018-04-09 12:45] evilebottnawi commented on #272
@erickwilder Can you crete minimum reproducible test repo?

[2018-04-09 21:54] evilebottnawi commented on #257
@s524797336 I can't reproduci bug, problem still exists?

[2018-04-10 03:40] gpspake commented on #267
Thanks @Legends; That helps!

If I remove `devtool` from my config, I'm no longer seeing the "dead" code in my bundle. However, I guess the reason I was seeing it in the first place is because I was inadvertently setting sourcemap to eval for production and the "dead" code was actually just my sourcemap.

According to the [devtool docs](https://webpack.js.org/configuration/devtool/), `devtool` sho

[2018-04-10 06:14] erickwilder commented on #272
My issue was apparently caused by the `compress: true` option of uglify - which is the default. Setting a custom uglify plugin instance overriding this configuration under the `plugins` list had no effect to change the compilation behavior.

I did solve it by moving uglify from the `plugins` to the `optimization.minimizer` list.

[code]

Unfortunately this was the work of some digging through the

[2018-04-10 08:06] Legends commented on #267
If you are still using UglifyJsPlugin:

But this doesn't help either.

I would suggest to open a new issue, if it's not a bug, at least the docs could be updated regarding this..

[2018-04-10 10:00] evilebottnawi commented on #272
@erickwilder in `webpack@4` you don't use plugins for minification, use `minimizer` property. If you use plugin field you have 2 instance of plugin. But will be great minimum reproducible test repo. In theory it is don't hangs.

[2018-04-10 11:24] melloc01 commented on #272
@evilebottnawi actually, if you specify the `minimize` property you just overwrite the default (built-in) UglifyJS as seen here:
https://survivejs.com/webpack/optimizing/minifying/

I actually set up a  dummy repo that mimics the file structure (w/ dummy modules) of the original project but unfortunately it didn't hang, so it's not reproducible using dummy modules

I'm up for a call if you wanna d

[2018-04-10 11:48] evilebottnawi commented on #272
@melloc01 can you add coded in uglify plugin here https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/index.js#L184

`console.log(tasks[index]);` and identify hwat task is not completed?

[2018-04-10 13:53] melloc01 commented on #272
sure - done it.

I'm using exactly this source:
https://gist.github.com/melloc01/4c34922b2e31599674a7ddff0aaa7d2d#file-uglify-index-js-L138

*Output*:
[code]

[2018-04-10 14:11] evilebottnawi commented on #272
@melloc01 very intresting, you always have zero task :confused: You enable parallel? If yes, can you disable and check again? If no can you enable and check again? :smile:

[2018-04-10 14:17] melloc01 commented on #272
Anything else than the filename to help debugging @evilebottnawi?

[2018-04-10 14:36] melloc01 commented on #272
After a while:

Same thing with `parallel: false` @evilebottnawi

[code]

[2018-04-10 14:39] melloc01 commented on #272
Config:

[code]

[2018-04-10 15:15] evilebottnawi commented on #272
@melloc01 can you idntify after what file it is happens? Just add confole.log(file); here https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/index.js#L184. Also add console.log(this.maxConcurrentWorkers) here https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/uglify/index.js#L19. Thanks for help!

[2018-04-10 16:38] melloc01 commented on #272
I'm back... debugging:

### `parallel=false`
[code]

### `parallel=true`

[code]

[2018-04-10 16:41] melloc01 commented on #272
Btw, I updated the gist. Look for `.log('==========file======')` it never reaches that point.

[2018-04-10 16:59] evilebottnawi commented on #272
@melloc01 can you rewrite https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/uglify/worker.js#L3
on:
[code]

And run in parallels mode?

[2018-04-10 17:51] melloc01 commented on #272
hey @evilebottnawi !

Think we got something:

[code]

It seems that the error is somewhere else :open_mouth:.

Tweaking https://github.com/NMFR/optimize-css-assets-webpack-plugin config right now.

[2018-04-10 18:00] melloc01 commented on #272
@evilebottnawi sorry about that last comment, it wasn't right.

Actually, I am modifying the babelified version of the plugin, so `minify` wasn't defined, got an error from the plugin.

on babelified version it is `minify2.default`

[2018-04-10 18:17] evilebottnawi commented on #272
@melloc01 yep, rewrite using `minify2.default` and other babel stuff with save logic as above

[2018-04-10 18:47] melloc01 commented on #272
Same outcome - stuck at 92% until core dump
Actually, I'm free now for faster interactions :+1:

I also logged the `minified` object and saw that in the code there were `ModuleConcatenation bailout` repeating a lot. Disabling it to see if there is some change.

[2018-04-10 19:42] evilebottnawi commented on #272
@melloc01 can you disable `ModuleConcatenationPlugin` and check again?

[2018-04-10 21:07] melloc01 commented on #272
[code]

It seems that it is getting stuck in somewhere else @evilebottnawi ... I changed the worker code to this:
[code]

and the output:

[code]

It's stuck consuming memory right now

[2018-04-10 21:08] melloc01 commented on #272
Let me try this will `parallel=false`

[2018-04-10 21:28] melloc01 commented on #272
it won't use any workers of course :man_facepalming:

I'm trying some stuff here. If you come up with new ideas I'll be glad to tweak things here :+1:

[2018-04-10 21:39] evilebottnawi commented on #272
@melloc01 can you provide sizes of assets here https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/index.js#L122:
[code]

[2018-04-10 22:07] melloc01 commented on #272
[code]

[2018-04-11 06:13] ketabi commented on #234
Look at:
https://stackoverflow.com/a/49767690/6200607
for more information.

[2018-04-11 09:50] evilebottnawi commented on #272
@melloc01 Can you try this branch https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/276, remove uglify-webpack-plugin from node_modules, git clone this repo, `npm i`, when `npm build` and test build

[2018-04-11 13:39] melloc01 commented on #272
Doing it - not completely sure how it'll help (since it gets stucks even without SourceMaps) but it is for sure an improvement.

[2018-04-11 13:57] melloc01 commented on #272
Output on #276

[code]

[2018-04-11 16:02] evilebottnawi commented on #272
@melloc01 maybe you can create minimum reproducible test repo or send me temporary invite?

[2018-04-12 14:02] #261 closed

[2018-04-12 15:54] iugo commented on #272
I have a same issue.

When the problem occurs, the CPU load decreases(< 1%), but webpack does not report an error. Only occurs on the WSL platform. There is no such issue on Windows and macOS.

I think this kind of conflict caused by some code module.

[2018-04-12 15:59] evilebottnawi commented on #272
@iugo can you create minimum reproducible test repo?

[2018-04-12 16:12] iugo commented on #272
@evilebottnawi I try to reproduce with minimal code. But it's hard. It seems that there is only a lot of code to reproduce the problem.

[code]

[2018-04-12 16:16] evilebottnawi commented on #272
@iugo look we have memory leak (maybe in uglify-es), but i can't detect here without reproducible repo :disappointed:

[2018-04-12 16:20] iugo commented on #272
Finally finished: `Time: 500946ms`

The general time is 40s~50s.

[2018-04-12 16:42] evilebottnawi commented on #272
@iugo do you use `parallels` options?

[2018-04-12 16:45] iugo commented on #272
@evilebottnawi Yes.

[code]

[2018-04-12 17:03] evilebottnawi commented on #272
@iugo if you can create minimum reproducible test repo, it will be great, maybe we have memory leak

[2018-04-13 01:13] iugo commented on #272
@evilebottnawi

Ubuntu 16.04.4 (WSL Windows 10 1803)
Node v8.11.1
yarn 1.5.1

https://drive.google.com/file/d/1rRq48YpIc5zqUhlP_c5X7N4KhpQsbKPf/view?usp=sharing

`yarn run build`

[2018-04-13 09:50] evilebottnawi commented on #262
@whtsky why you create forn, why just don't send PR in this repo?

[2018-04-13 09:51] evilebottnawi commented on #262
Also don't worry after small fixes with source map and memory leak i will implement this :+1:

[2018-04-13 09:52] evilebottnawi commented on #272
@iugo Very Very Very thanks!

[2018-04-13 10:04] whtsky commented on #262
@evilebottnawi   `uglify-js` doesn't support ES6 so it's a breaking change.  I'd be happy to send PR if you guys decides to do that :)

[2018-04-13 10:20] evilebottnawi commented on #262
@whtsky why do breaking changes? By default we can still use `uglify-es`, just allow pass `minify` function as option, it is allow people use `uglify-js`. `uglify-es` return same output as `uglify-js`. Here https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/uglify/minify.js#L150 add check on function and if it function run function instead `uglify-es`. Also some improve doc

[2018-04-13 10:25] whtsky commented on #262
@evilebottnawi simply allow pass `minify` function as an option may not be enough since `uglifyjs-webpack-plugin` uses uglify-es as a part of cache key

https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/693e45ea74cad073072b8b226bf314b6546e6738/src/index.js#L164

[2018-04-13 10:33] evilebottnawi commented on #262
@whtsky it is not break, we use https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/693e45ea74cad073072b8b226bf314b6546e6738/src/index.js#L166 options as cache key and if you change something in options (i.e. change code of minify function) you invalidate cache. Also for better code, you can rename `uglify-es` in `uglify` and add check in `versions` on installed on top uglify-js/es ver

[2018-04-13 10:42] whtsky commented on #262
@evilebottnawi I don't think it's safe since internally `uglifyjs-webpack-plugin` uses `String` to generate keys
https://github.com/yahoo/serialize-javascript/blob/master/index.js#L84
and options might not change if user switch from `uglify-es` to `uglify-js` or upgrading `uglify-js`.

I think it might not be accurate as if user upgraded `uglify-es`, `require` inside `uglify-webpack-plugin` will s

[2018-04-13 10:49] evilebottnawi commented on #262
@whtsky

[2018-04-13 10:56] whtsky commented on #262
@evilebottnawi
I'm not sure how to get the version installed on top node_modules, could you give me an example?

also, it might still be not accurate since the `minify` we received might not from the top node_modules.(user bundled a forked uglifyjs w/ their source code, for example)

[2018-04-16 09:34] evilebottnawi commented on #272
@iugo
[code]
Can you show hardware list (cpu/memory/ssd/hdd?)?

[2018-04-16 09:51] evilebottnawi commented on #272
@iugo you stack
[code]
Looks like uglify very very slow :disappointed:

[2018-04-16 09:52] evilebottnawi commented on #272
@melloc01 can you add lines:
[code]
in `dist/uglify/minify.js` and put your output as above here?

[2018-04-16 10:08] evilebottnawi commented on #272
@iugo build without uglify plugin:
[code]
Looks uglify plugin increase initial build time on 2x. Problem not in plugin, looks uglify-es slow in some place. Investigate what is increase build time.

[2018-04-16 10:35] iugo commented on #272
hardware list:

Intel i7-4710MQ
DDR3 1600 8GB * 2
128GB SSD + 256GB SSD

Maybe problem in WSL Windows 10 1803. I try to use Ubuntu 16.04 without WSL, no such problem..

[2018-04-16 10:38] evilebottnawi commented on #272
@iugo can you change code as here https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/272#issuecomment-381544494 and put output here?

[2018-04-17 03:09] melloc01 commented on #272
Somehow it finished for the first time - just after the console.log's, :thinking:

[code]
Hardware:
Intel® Core™ i7-7500U CPU @ 2.70GHz × 4
16GB DDR4

[2018-04-17 03:34] BoldBigflank commented on #272
I'm still having this issue and would like more inspection.

[2018-04-17 08:49] e-e-e commented on #272
I also have started to encounter this issue.

[2018-04-18 01:14] e-e-e commented on #272
@erickwilder I think its also due to our large code base so not easy to make a reproducible test repo.
That said I have noticed that it compiles fine if I turn off source maps.

[2018-04-18 10:11] evilebottnawi commented on #272
@e-e-e can you try branch https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/276 with source maps (need install node_modules and run npm build)?

[2018-04-18 15:29] mlavina commented on #272
@evilebottnawi Just going to add that I am running into the same issues with various builds. I will try out that PR and get back to you as well.

I do think it's related to `source-maps` because we weren't really having this issue until we started adding full source maps for production.

[2018-04-18 19:44] BoldBigflank commented on #272
Updated to 1.2.5 and while it does hold at 92% for ~5s, it does complete, so it's fixed in my eyes.

[2018-04-18 19:59] BoldBigflank commented on #272
I'm trying out 1.2.5 and still seeing a hang at 92% (I thought it was working but it was just failing at a missing dependency at first)

[2018-04-18 21:09] BoldBigflank commented on #272
In my experimentation I've found I can get past this hang on webpack@4.5.0 when I set options like this:
[code]
Removing `compress:false` or going to webpack@4.6.0 will cause the hang.

[2018-04-19 05:35] e-e-e commented on #272
Unfortunately I am now getting Allocation failed - JavaScript heap out of memory:
[code]

[2018-04-19 06:56] e-e-e commented on #272
Although even with this work around our build time is now > 14 minutes vs 6 minutes with webpack 3, so until this is fixed we cannot update to webpack 4.

[2018-04-19 10:06] evilebottnawi commented on #272
@e-e-e can you create minimum reproducible test repo?

[2018-04-19 10:06] evilebottnawi commented on #272
@e-e-e also try to install latest version?

[2018-04-20 00:50] e-e-e commented on #272
@evilebottnawi Yeah I have tested with v1.2.5, and the issue remains.
I dont have time today to make a repo, but will see if I can early next week. Its definitely source map size on large bundles which is causing the issue. I replaced the extract-text-plugin for our css with mini-css-extract-plugin which seems to help, in addition to turning off source maps for sass-loader.
Its odd because webpack

[2018-04-20 09:57] evilebottnawi commented on #272
@e-e-e it very instresting, i wait your repo, it is allow to detect problematic places in perf :+1:

[2018-04-20 09:59] evilebottnawi commented on #272
Any reproducible repos with perf problems are welcome (even if you have big repo). If needed we can send me invite in private repo (also i can sign DNA) :+1:

[2018-04-20 16:57] christopherthielen commented on #272
@evilebottnawi here's a large app that reproduces the issue: https://github.com/spinnaker/deck/tree/cthielen-uglifyjs-hangs

[code]

[2018-04-23 16:16] evilebottnawi commented on #272
Confirm, reproducible, thanks! Investigate.

[2018-04-23 17:45] evilebottnawi commented on #272
@christopherthielen solution:
[code]

AMD FX(tm)-6300 Six-Core Processor
MemTotal:       12327332 kB

Require `229.93s.`

[2018-04-23 18:02] evilebottnawi commented on #272
Thanks to everyone for the discussion and the provided repositories. After a long profiling I can not find bottlenecks in `uglify-webpack-plugin` (if somebody have ideas issue/PR welcome :+1: ). Build never hangs, main problem inside `uglify-es/uglify-js`, they are very not optimized cpu/memory usage (sorry i don't have time to maintain uglify repo).
But I will summarize here a few basic solutions

[2018-04-24 18:51] evilebottnawi commented on #272
@melloc01 Problem was solved? I want to close this issue due a lot of posts from difference peoples with difference problems. If somebody again will face this issue please try my steps above, if nothing helps feel free create new issue (minimum reproducible test repo decrease time to solve).

[2018-04-24 21:44] BoldBigflank commented on #272
Personally I went through your suggestions and it seemed to work. Then I stashed the changes and the original worked as well. I'm not sure why the issue has gone for me but I'm glad to have some advice for what to do if it pops up again.

[2018-04-25 04:45] whtsky opened #278 "path info and ModuleConcatenation error comment is not removed"
reproduction: https://github.com/whtsky/uglify-comments-example
run
[code]

and take a look at files under `dist/`, there's a lot of non-license comments which should be removed, like
[code]

[2018-04-25 04:50] whtsky commented on #278
So set `output.pathinfo` to `false` in production mode like the doc suggest ( https://webpack.js.org/configuration/output/#output-pathinfo ) resolves the problem, although I'm not sure if this is a expected behavior.

[2018-04-25 09:36] webpack-bot opened #279 "Template string optimization incorrectly result in "undefined""
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Bad optimization in template string. Changes a valid result to `undefined`

**If the current behavior is a bug, please provide the steps to reproduce.**

Js file to repro
[code]
Command to run
[code]

The `console.log` is reduced to `console.log("undefined <= should not be undefined")`

**What is the e

[2018-04-25 09:37] lednhatkhanh commented on #118
This should be reopene, still facing this with webpack 4 and version 1.2.5

[2018-04-25 09:41] evilebottnawi commented on #272
Let's wait @melloc01 answer and close this issue. Feel free create new issue if problem appears again

[2018-04-25 09:44] evilebottnawi commented on #278
@whtsky Thanks for issue, looks like `pathinfo` is use legal comment (https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/index.js#L46). Solution:
1. Change type of comments in webpack (looks pathinfo use this comment type for avoid remove this information from bundle, sometimes people left this in production code for easy debug). For me bad solution.
2. Add warning about `p

[2018-04-25 09:47] evilebottnawi commented on #118
@lednhatkhanh no, original issue was solved, feel free to open new issue with minimum reproducible test repo. Thanks!

[2018-04-25 15:16] melloc01 commented on #272
I followed the steps and managed to get it to work.
As @evilebottnawi stated above:

### Give your node more memory
In your `npm` build script, instead of running `webpack` run:
`node --max_old_space_size=4096 node_modules/.bin/webpack`

My build has finished in `192s`, with `sourceMaps: true` (I want them :grin: )

Thanks for the effort @evilebottnawi  and @christopherthielen  for finding a repro

[2018-04-25 15:16] #272 closed

[2018-04-26 18:10] sokra opened #281 "Warning output missed important information"
After upgrading the uglifyjs-webpack-plugin dependency in webpack I noticied that the warnings format changed:

![test result](https://user-images.githubusercontent.com/1365881/39323376-b76eacfe-498c-11e8-8ed3-e56161ba055a.png)

* Before: single warning for an asset, After: each warning separate
* Before: info about the asset, After: information missing
* Before: note about UglifyJS, After: no inf

[2018-04-26 21:07] anubmat opened #282 "[Feature Request] Add an option in uglifyjs to enable excluding use of some variables when uglifying code"
Is it possible to have an option that allows us to specify characters that we want the minifier to exclude from being used during minification. Something like excludeChars: ['$']

In my case, with minification, a function call is sometimes reduced to $(o), which is a macro for output path, and is thus misread by the interpreter.

[2018-04-26 21:13] evilebottnawi commented on #282
@anubmat We use `uglify-es` package for uglification https://github.com/mishoo/UglifyJS2#minify-options.
Use `reserved: ['$']` from https://github.com/mishoo/UglifyJS2/tree/harmony#mangle-options
[code]

[2018-04-26 21:13] #282 closed

[2018-04-26 21:18] anubmat commented on #282
No, can't do.
reserved (default []) -- Pass an array of identifiers that should be excluded from mangling. Example: ["foo", "bar"].

I don't want to exclude $ from being mangled. I want to prevent it from being used for replacing variables/function names during mangling.

But sure, I'll open that issue against uglify-es

[2018-04-27 06:26] kzc commented on #262
@evilebottnawi @sokra It is recommended that `uglifyjs-webpack-plugin` switch to [@fabiosantoscode/uglify-es](https://www.npmjs.com/package/@fabiosantoscode/uglify-es) which is maintained. It's a drop in replacement for `uglify-es`.

Unfortunately this `uglify-es` [fork](https://github.com/fabiosantoscode/uglify-es) was not able to obtain `npm` publish rights to the `uglify-es` package name from i

[2018-04-27 10:36] evilebottnawi commented on #262
@kzc Thanks!

[2018-04-27 10:37] evilebottnawi commented on #262
@kzc Looks uglify-es right now is maintained, right?

[2018-04-27 12:42] kzc commented on #262
The npm module named "[`uglify-es`](https://www.npmjs.com/package/uglify-es)" is not presently maintained.

The scoped npm module named "[`@fabiosantoscode/uglify-es`](https://www.npmjs.com/package/@fabiosantoscode/uglify-es)" is presently maintained.

You may elect to update `uglifyjs-webpack-plugin`'s dependency in `package.json`, the plugin code, and the documentation links accordingly. A beta

[2018-04-27 12:46] evilebottnawi commented on #262
@kzc what is current status `@fabiosantoscode/uglify-es`, it is stable? Also maybe we can resolve meta issues first - example use new name for issue, also implement changelog/release page about features/changes/fixes. We should provide long term support this plugin for webpack and hard to do this without this stuff. Thanks!

[2018-04-27 12:49] evilebottnawi commented on #262
My suggestion is move `uglify-es` to `org` repo (tomorrow some people can be unavailable and it can kill project), improve readme and move uglify-es issue to this repo (as known issues).

[2018-04-27 12:54] kzc commented on #262
@evilebottnawi It is what it is. As with all this stuff it's a volunteer effort. No one is paid to work on it. Nothing ever was, or is, guaranteed.

You're welcome to use `@fabiosantoscode/uglify-es` if you like. Or perhaps `webpack` can make and maintain its own `uglify-es` fork and do the things you mentioned.

[2018-04-27 14:03] kzc commented on #262
@evilebottnawi You're asking for guarantees that were never present in `uglify-js` or `uglify-es`. This issue raised the question of switching to a maintained uglify module for ES6+. I was responding to that question with a maintained `uglify-es` fork with bug fixes for known issues. If you don't wish to use it, no problem.

[2018-04-27 14:10] evilebottnawi commented on #262
@kzc we want use, why you so rude? Just we want ensure when we switch on fork above it is not die after one/two weeks.

[2018-04-27 14:24] kzc commented on #262
@evilebottnawi What are you talking about? Nothing I wrote was rude. I can't say the same for your remarks.

I regret trying to help the webpack project.

[2018-04-27 14:40] evilebottnawi commented on #262
@kzc You look like a small child now.

We use this plugin for very very very large community and each change can break build process of many peoples. Now you try to switch on repo which even have actual CHANGELOG/Release page - i don't know what i should say people why their code broken after upgrade (if we switch on fork). My suggestion is improve organization of project and all. I can not unders

[2018-04-27 15:34] kzc commented on #262
@evilebottnawi Wow. Are you for real?

Give me a break. How was that different from any of the `uglify-es` releases? If you look at the commit history of both projects you'll see that two of the `@fabiosantoscode/uglify-es` maintainers are long time `uglify-js` and `uglify-es` contributors. One of them is the initial author of the UglifyJS2 harmony branch for ES6+ support. No code is bug free, but

[2018-04-27 15:45] evilebottnawi commented on #262
@kzc note about

is very good for me, sorry, i don't know about this. In near future i will try to switch and looks on tests.

@fabiosantoscode Just glad to hear you opinion here.

[2018-04-27 22:05] fabiosantoscode commented on #262
I think you should go ahead and make the change! The new package is the way forward.

[2018-04-27 22:05] fabiosantoscode commented on #262
We'll have a new name soon so I'll be sure to drop by then

[2018-04-28 01:10] stnwk opened #283 "Unnecessary warning on "invalid source map" for JSON files"
Hi everyone :)

When `import()`ing a json file, the generated source map is valid but "empty", which causes https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/268/files#diff-8968c62593320351ced6a0ef776ef599R8 to fail and emit a warning.

See https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/268

**Example:**

`data.json`
[code]

generates the following source map:

[code

[2018-04-28 09:33] evilebottnawi commented on #262
@fabiosantoscode maybe better switch on new repo after resolve issue around name? We don't want do multiple release. How fast is the problem to be solved?

[2018-04-28 09:34] evilebottnawi commented on #283
@stnwk Looks as bug, empty string interpreted as false, feel free to PR

need fix, PR welcome

This warning can't has error stack, because we don't have error stack. It is just warnings.

What message you expected?

[2018-04-28 22:05] fabiosantoscode commented on #262
I'm not sure how long it will take. We have to come up with a name, and if the name is reserved we have to go through due process.

[2018-04-29 22:59] Legends commented on #267
Is this solved?

[2018-04-30 11:01] evilebottnawi commented on #267
@Legends looks no, feel free to docs/fix PR

[2018-04-30 11:39] Legends commented on #267
@evilebottnawi  As @gpspake  has pointed out:

I would suggest to throw an error if mode is production and **none of the following is true** for `devtool`:

- (none),
- source-map,
- hidden-source-map,
- nosources-source-map

Otherwise no tree-shaking takes place.

I will take a look...

[2018-04-30 21:28] cellis commented on #206
I also had this issue with my production bundles. I was getting the `React is running in production mode but dead code elimination has not been applied` error. After trying everything, including `global_defs`, "move uglify to top", `compress: { options: { passes: 3|4|5 }}`, I decided to use [babel-minify-dead-code-elimination](https://www.npmjs.com/package/babel-plugin-minify-dead-code-elimination

[2018-05-01 08:13] Legends commented on #267
@evilebottnawi This can be closed, it's not an issue.

[2018-05-01 17:04] jihokoo commented on #104
@anjapadu i had this issue as well. i went to the stackoverflow link you posted and this answer did it for me: https://stackoverflow.com/a/46294198

had to run this command: `rm -rf node_modules/webpack/node_modules/uglifyjs-webpack-plugin`

[2018-05-02 15:57] evilebottnawi commented on #283
@stnwk

We already work in webpack to better warnings/errors logging, it is not part of uglify plugin. Feel free to opoen issue/send PR in webpack to improve this mechanism.

[2018-05-02 17:59] #283 closed

[2018-05-04 17:23] realityking opened #285 "Uglify-es is no longer maintained"
Apologies if this has already been discussed, I haven't found an issue for it.

`uglify-es` is no longer maintained. @alexlamsl has stated a couple of times that it's "is no longer maintained and will not receive any bug fixes or new features",

Source: https://github.com/mishoo/UglifyJS2/issues/3067#issuecomment-379887141, https://github.com/mishoo/UglifyJS2/issues/2979#issuecomment-371224973

`u

[2018-05-04 18:20] #285 closed, assigned to nobody

[2018-05-04 18:49] lojjic opened #286 "Slow builds when there are many warnings/errors"
This issue is to continue discussion from: https://github.com/webpack-contrib/uglifyjs-webpack-plugin/commit/0b11134fea8e92e92ec1b4b9bfe3cdcc9d8e640b#r28859767

Version 1.2.5 increased our build time by 4x, and I tracked it down to the above commit which implemented a sourcemap cache in a way that cache hits are impossible. Fixing the cache misses brings our build time back to normal, however ther

[2018-05-04 19:16] lojjic commented on #286
Another possible option (if I'm understanding the code flow correctly): remove the cache object altogether, go back to creating the `sourceMap = new SourceMapConsumer(...)` outside the loop, but make it so that it's created lazily only after we know there are errors or warnings in the result. Seems like this would meet the goals as I understand them: it's only created once per file, it's only crea

[2018-05-04 19:38] evilebottnawi commented on #286
@lojjic PR welcome, let's discussion on code

[2018-05-07 10:38] chenyiqi commented on #132
I met the same problem
![image](https://user-images.githubusercontent.com/3357208/39698053-c39f60ee-5225-11e8-9fcf-9b624419e8bb.png)

[2018-05-07 10:40] evilebottnawi commented on #132
Please don't write your problem in old issue. Please create new issue with minimum reproducible test repo. Thanks

[2018-05-07 11:33] Riya93 commented on #236
xfbxxfb

[2018-05-07 11:35] Riya93 commented on #236
aa

[2018-05-07 17:28] longrobert commented on #236
I have faced this problem once upon a time but when knowing about the **LongPathTool program**, at that time I am using this tools and all problem solve. so my personal suggestion you can use the  LongPathTool program

[2018-05-08 02:50] isahuntercsg commented on #117
Linux Sucks Balls

[2018-05-10 01:26] owiber opened #289 "output.comments default behavior changed"
In 1.2.4, it looks like the default behavior of `output.comments` changed from `false` to `/^\**!|@preserve|@license|@cc_on/` if `extractComments` is disabled (which is the default case).

This seems to be a result of: https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/250.

Was this intentional? For large files, the new default behavior has quite a large negative impact on speed and

[2018-05-10 10:12] evilebottnawi commented on #289
Yes it is expected, we should respect copyright and licenses of other developers. Also itry to read all license in you application, perhaps some of them are not in MIT and other you **should** provide license. Otherwise, you violate the license and the law. Therefore, the behavior has been changed.

You your known all you licenses and understand that they can be removed, use the options

[code]

A

[2018-05-10 10:12] #289 closed

[2018-05-11 14:44] JohnReagan opened #290 "Consider using shorter file names for caching"
The caching feature of this plugin creates very long file names. Just the path from node_modules
`node_modules\.cache\uglifyjs-webpack-plugin\content-v2\sha512\2b\ce\fc932e4e75182464ea021da42584368afdfca38facdf52f2b9bf48e468a80d644f1f62c363fd2f2687c8047061725b4cf511b0ec8c3d05dc047de250bf64` is 192 characters alone.  Windows has a [max file path length of 260 characters](https://msdn.microsoft.com/

[2018-05-11 14:47] evilebottnawi commented on #290
@JohnReagan Thanks for issue, we can't solve this problem here, original issue https://github.com/zkat/cacache/issues/122

[2018-05-11 14:47] #290 closed

[2018-05-11 17:35] dynalz opened #291 "Ascii_only"
`new UglifyJSPlugin({`
  `uglifyOptions:{`
`    compress: {`
`      warnings: true`
`    },`
`    output: {`
`      comments: false,`
`      ascii_only: true,`
`    },`
`  },`
`  sourceMap: false`
`})`

Im using v1.2.5. I seen that this should be the correct settings, however the ascii_only doesnt seem to be working for me.
Use case:
"\x6F\x6E\x65\x5F\x65\x78\x61\x6D\x70\x6C\x65" is converting int

[2018-05-11 17:41] evilebottnawi commented on #291
@dynalz we only wrapper around `uglify-es`, please create issue in `uglify-es` repo. Thanks!

[2018-05-11 17:41] #291 closed

[2018-05-15 09:59] royipressburger opened #292 "No dead code removal with webpack 4.7"
Hi all

I know there was some issues about that before, but I can't make the tree shaking / dead code removal to work with Webpack 4.7 in my project.
I tried to remove the source maps and other things and nothing seems to work.

One more issue that I'm seeing is that this package doesn't ignore unused imports.
so for example:
[code]

in this case in production build I still see the dev file in my

[2018-05-15 10:13] evilebottnawi commented on #292
@royipressburger we only wrapper around `uglify`, you should configure uglify for remove this. Somewhere we had this issue with the resolution...

[2018-05-15 11:53] royipressburger commented on #292
@evilebottnawi Hi thanks for the fast response.
I look for every issue that is related to this and could not find any thing that helps.
Maybe i missed something?

Also I tried not to reproduce that with `create react app` I used it to create a new project and it looks like the dead code removal works great.
then I updated it to the latest version of react and uglify Webpack plugin `4.8 and 1.2.5`

[2018-05-15 12:06] evilebottnawi commented on #292
@royipressburger anyway link on reproducible test repo is always good :+1:

[2018-05-16 23:48] bruffstar opened #294 "License info being included twice after Webpack 4 build"
Webpack 4 still uses ``uglifyjs-webpack-plugin`` if ``mode: "production"`` right?

If so... see problem here...

![image](https://user-images.githubusercontent.com/1890098/40149242-f69829dc-5972-11e8-8ffd-026f01afde86.png)

Not sure if this is a Webpack/uglifyjs issue or an issue with the [package](https://github.com/JedWatson/classnames) that has the duplicate license info showing. (I have also [

[2018-05-17 00:17] bruffstar commented on #294
I have made a super simple example here: https://github.com/bruffstar/bug-test

See ``dist/index.js`` for an exmaple output with the duplicate license comment.

[2018-05-17 07:31] pratoshpro opened #295 "Issue with AngularJS 1.5 Uglifying"
Webpack version - 4.6.0
Uglifyjs webpack plugin -  1.2.5
AngularJS - 1.5.0

While bundling angularjs project with webpack uglify we are facing issue with dependency injections ( default module like $location and custom service are unable to register. )

I have created a demo app with all the setup that shown error and can be access from [ng6-starter](https://github.com/pratoshpro/ng6-starter) repo

[2018-05-17 10:31] evilebottnawi commented on #295
@pratoshpro looks like bug in unligy, can you try https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/293 branch?

[2018-05-17 10:31] evilebottnawi commented on #294
@bruffstar thanks i will looks what is wrong and what we can do with duplicate licenses

[2018-05-17 12:50] pratoshpro commented on #295
@evilebottnawi - Do you have any sample code for integration of @fabiosantoscode/uglify-es with webpack 4.

[2018-05-17 13:20] fabiosantoscode opened #297 "New dependency name: uglify-es => terser #1"
There has been development on a new fork of uglify-es, which is now called terser and has its own package!

    "terser": "^3.7.3"

Please upgrade to our new version.

[2018-05-17 13:21] fabiosantoscode opened #298 "New dependency name: uglify-es => terser #1"
There has been development on a new fork of uglify-es, which is now called terser and has its own package!

    "terser": "^3.7.3"

Please upgrade to our new version.

[2018-05-17 13:58] evilebottnawi commented on #297
Duplicate https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/298

[2018-05-17 13:58] #297 closed

[2018-05-17 13:59] evilebottnawi commented on #295
@pratoshpro what?

[2018-05-18 05:38] pratoshpro commented on #295
#293  did not work for me have any other sample code with webpack 4.

[2018-05-19 15:28] miluoshi commented on #295
@pratoshpro it looks like your code is missing explicit DI annotations, thus the error `function($stateProvider, $urlRouterProvider) is not using explicit annotation and cannot be invoked in strict mode`
You either need to provide explicit annotations (see [here](https://docs.angularjs.org/error/$injector/strictdi)) or use something like [babel-plugin-angularjs-annotate](https://www.npmjs.com/pack

[2018-05-21 08:00] ganeshcoolstar commented on #113
please help me .how to resolve this issue

[2018-05-21 08:01] ganeshcoolstar commented on #113
i cant get your answer @wfgmiami ,@evilebottnawi

[2018-05-21 08:04] ganeshcoolstar commented on #117
i am getting same issue. how to resolve error.
 uglifyjs-webpack-plugin@0.4.6 postinstall: `node lib/post_install.js`

[2018-05-21 09:51] evilebottnawi commented on #117
Please don't use unmaintained `uglify-webpack-plugin@0.4.6`

[2018-05-21 09:52] evilebottnawi commented on #113
Please don't use unmaintained `uglify-webpack-plugin@0.4.6`

[2018-05-21 12:05] andrevenancio commented on #222
Hi, I've been trying to follow the documentation and a few of the issues here, and I'm not sure this is actually working.

[code]

Shouldn't this in theory keep all comments and save them to the external file?

[2018-05-21 12:09] evilebottnawi commented on #222
@andrevenancio remove all options `UglifyJsPlugin` works right now as expected - doesn't remove legal comments

[2018-05-21 12:15] andrevenancio commented on #222
Hey @evilebottnawi then I might be doing something wrong. cause I've been trying different options and so far no luck..

I've even went to my node_modules and comment the shit out of `node_modules/uglifyjs-webpack-plugin/dist/index.js` and the array that stores my comments is always `[]` (data.extractedComments)

Here's my code: https://github.com/andrevenancio/license-example

[2018-05-21 12:16] andrevenancio commented on #222
We've been trying to help fix an issue on gl-matrix (https://github.com/toji/gl-matrix/issues/304) and hence my tests

[2018-05-21 12:18] evilebottnawi commented on #222
@andrevenancio what you want remove all comments or leave legal comments?

[2018-05-21 12:31] evilebottnawi commented on #222
@andrevenancio i.e. only with `@license` directive, yes?

[2018-05-21 12:33] evilebottnawi commented on #222
You can avoid set `uglifyOptions.output.comments` if you set `extractComments` (https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/index.js#L46)

[2018-05-21 12:44] andrevenancio commented on #222
yeah, the idea is to only keep whatever has `@license` in our source. I've tried having just `extractComments: true` and no luck. Can you pull the [repo](https://github.com/andrevenancio/license-example) and try to run `npm run prod2`?

[2018-05-21 13:01] evilebottnawi commented on #222
Use `extractComments: /@(?:license)/i`? Also you can use `extractComments: (node, comment) => { console.log(comment); return true; }` to debug what comments parses. uglify has some problem with some comments https://github.com/mishoo/UglifyJS2/issues/2500

[2018-05-21 13:13] andrevenancio commented on #222
Still no luck.

If I use the function and log the comments I can see a bunch of comments coming through (mainly the comments used to generate the docs (from node_modules/gl-matrix),

However if I try to use the regexp to validate the comment the regexp fails and no comment is added

[code]

[2018-05-21 13:27] andrevenancio commented on #222
This are the comments I've been trying to test against.

https://github.com/andrevenancio/license-example/blob/master/src/index.js

None of them pass the regexp.

[2018-05-21 13:42] evilebottnawi commented on #222
@andrevenancio looks like problem in uglify (i wrote about this above)

[2018-05-21 13:45] believer-ufa opened #299 "TypeError: Cannot convert undefined or null to object"
Hello!

We are trying to compress our code through latest version of your plugin (1.2.5) and getting following error message on compressing one of our chunks:

[code]

Please can you explain what a problem in that? Other chunks, as i see, compressed successfully.

And even that chunk compressing fine if i run `uglifyjs 0.build.8700bad784a90189b741.js > text.js` from my command line.

[2018-05-21 13:55] andrevenancio commented on #222
I see... so its just a matter of waiting for uglify to resolve the bug you posted and hopefully then you'll update `uglifyjs-webpack-plugin`?... 😢

[2018-05-21 13:58] evilebottnawi commented on #299
@believer-ufa please create minimum reproducible test repo, webpack can modify some code, need ivnestigate, but looks problem in `uglify`

[2018-05-21 14:03] evilebottnawi commented on #222
@andrevenancio i think this bug never was solve due in arch problem inside uglify ast parser, but if they fixed, you need only update deps and lock file, I would suggest that you try switch to `babel-minify`. I near future i will release new minor version allow to use own minify function. It is can may help.

[2018-05-21 19:16] ramiasg commented on #113
i have same issue

[2018-05-21 19:20] ramiasg opened #300 "node-sass@4.9.0 install C:\xampp\htdocs\mark\node_modules\node-sass > node scripts/install.js"
Cached binary found at C:\Users\fauzia hariri\AppData\Roaming\npm-cache\node-sass\4.9.0\win32-x64-57_binding.node

Binary found at C:\xampp\htdocs\mark\node_modules\node-sass\vendor\win32-x64-57\binding.node
Testing binary
Binary is fine

  ‼ getaddrinfo ENOTFOUND raw.githubusercontent.com raw.githubusercontent.com:443
  ‼ gifsicle pre-build test failed
  i compiling from source
  × RequestError:

[2018-05-22 07:01] believer-ufa commented on #299
Problem appears on using `unsafe` compress option turned on. Sorry for anxiety, yes, i think that problem inside `uglify-es`.

[2018-05-22 07:01] #299 closed

[2018-05-22 10:16] evilebottnawi commented on #300
You don't have access to github

[2018-05-22 10:16] #300 closed

[2018-05-22 19:56] rayfoss commented on #228
uglify-es 3.3.10 is very very broken... thus projects with the best practice ^3.3.4 may brake. Good thing docker exists.

[2018-05-23 03:01] silence-may opened #301 ""uglifyjs-webpack-plugin": "^1.2.5" cant't Protect the variables not to be compressed"
excuse me,
i want to protect some variables not to be compressed,
so ，I did a bit of configuration
![image](https://user-images.githubusercontent.com/20940285/40401303-53c56b60-5e78-11e8-85eb-07f470dfd4a2.png)
but,it seems does't work,  there's the following error
![image](https://user-images.githubusercontent.com/20940285/40401345-8cb92d08-5e78-11e8-9e14-8d16bce3d3dd.png)
can you give me some adv

[2018-05-23 06:18] #295 closed

[2018-05-23 08:45] TiemenSch opened #302 "Handle WSL case with "parallel: true" and "maxConcurrentCallsPerWorker""
For users on WSL, webpack uglify hangs when ``parallel: true``, much like #118. As mentioned there, eventually it's still Windows behind the scenes.

The fix for windows was done in #173 and includes some hints how to implement the check it for WSL.
[code]

See: https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/173/commits/80d3706ea8e4079eb8dffaeda0b3ec759f77f947 for the Windows fix

[2018-05-23 10:26] evilebottnawi commented on #302
@TiemenSch it is always hangs? How fast way to reproduce this problem, maybe need fix something in `node-farm`

[2018-05-23 10:48] evilebottnawi commented on #301
@silence-may it is not QA service, also we just wrapper around uglify-es, please read their documentation or create issue there https://github.com/mishoo/UglifyJS2/tree/harmony. Thanks!

[2018-05-23 10:48] #301 closed

[2018-05-23 11:42] TiemenSch commented on #302
I came across this webpack issue when trying to build an extension for JupyterLab. https://github.com/jupyterlab/jupyterlab/issues/4276

There, all WSL users cannot use the ``parallel`` option for production builds. Turning it off at least got me to the finish line.

My latest comment in that thread describes how I came here.

It shows great similarity to the issue that was solved with the platfor

[2018-05-23 11:53] evilebottnawi commented on #302
@TiemenSch very interesting, can you modify code inside package:
[code]

And check again on hangs.

Also can you post here `process.platform` value on WSL?

[2018-05-23 12:05] TiemenSch commented on #302
[code]

[2018-05-23 12:15] TiemenSch commented on #302
Ah, I think I spotted a little mistake in your line. It should at least be os.release().includes('Microsoft'). Will try that now.

[2018-05-23 12:51] TiemenSch commented on #302
Hmm, no luck so far. I even tried removing the guard altogether by replacing with:

[code]

Any ideas how I could make a console.log() to the terminal while running the webpack?

[2018-05-23 13:19] TiemenSch commented on #302
How would I make a minimal repo, where all you run is ``webpack --config webpack.prod.config.js``?

The one included in Jupyterlab is

[code]

But I think it would be better to steer clear of going too deep into the Jupyter side of things.
If you would like to debug the exact situation on WSL, you could run the following using conda python:
[code]

[2018-05-23 13:29] evilebottnawi commented on #302
@TiemenSch thanks try to find time on this today :+1:

[2018-05-24 17:57] TheLarkInn commented on #292
Also @royipressburger don't statically import something that will be conditionally loaded. Rather use `import(/*webpackMode: "eager" */"./path/to/module")`

[2018-05-26 16:04] mlwilkerson commented on #272
Here's another minimal reproduction of the problem, which I'm still seeing.

https://github.com/mlwilkerson/webpack4-uglifyjs-92percent-hang-repro

[2018-05-27 06:32] Rohit-L opened #303 "[Feature Request] Allow cacheKey customization"
Hello all,

Would it be possible to add an option to allow us to customize the cacheKey when caching?

Currently, this is the predefined cacheKey that is used.

[code]

My use case is that on my production build machine, I will clone my repo into a temporary folder. The name of the temp folder is the git hash. My goal is to have the uglify cache reside outside this temp folder (which is doable as

[2018-05-28 11:15] evilebottnawi commented on #303
@Rohit-L
1. Very very very weird use case. Looks you are trying to do something here, what should be do in another way. You should review you workflow with caches. It is just recommendation.
2. `additionalCacheKeys` - options, also please update docs and write tests on this (PR welcome).

For other developers: in near future we allow using `uglif-js` and other forks based on `uglify` have same api

[2018-05-29 01:34] mqliutie commented on #247
@nicky-lau 兄弟, 你最后的配置贴一下呗

[2018-05-29 06:05] aimergenge commented on #272
@mlwilkerson I wonder what is the difference between this two plugin or what is the downside if I change to the `babel-minify-webpack-plugin`

[2018-05-29 13:56] mlwilkerson commented on #272
@aimergenge I'm not sure. But what we're now exploring with our Font Awesome icon packs is whether there's a different way we can package our modules such that tree shaking happens at a different stage of the process in Webpack, rather than being handled by the minifier. (We haven't seen these issues with Rollup.)

[2018-05-29 14:31] devoto13 commented on #272
I tried to profile @mlwilkerson's repro a bit to understand why is it so slow with Uglify. And it feel like this is partially caused by unoptimized code of Uglify compress code. I first tried on Node 8.11 and >50% of ticks was spent on `instanceof` checks. Than I upgraded to Node 10.2, which uses new V8 (where `instanceof` checks were [greatly optimized](https://v8project.blogspot.com/2017/12/v8-r

[2018-05-30 10:01] lehnerchristian commented on #78
If you're using Preact (don't know if the same applies for React) and experience this error it is probably caused by your imports.
When I imported `Component` from Preact, I accidentally imported it via `import {h, Component} from 'preact/src/preact'`, which led to this error

It should be `import {h, Component} from 'preact'` of course

[2018-05-31 18:12] evilebottnawi commented on #264
@estaub @Reinmar can you test this using this branch https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/296?

[2018-05-31 18:15] evilebottnawi commented on #265
Close in favor #264, inline doesn't work correctly in many places in `uglify-es`. Solution:
1. Switch on `terser` (PR https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/296) will be merged in new future
2. Allow custom `minify` function, will be done in near future

[2018-05-31 18:15] #265 closed

[2018-05-31 18:16] evilebottnawi commented on #274
Problem with uglify-es. Close in favor https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/262

[2018-05-31 18:16] #274 closed

[2018-05-31 18:18] evilebottnawi commented on #278
/cc @whtsky do you want send PR?

[2018-05-31 18:26] evilebottnawi commented on #292
@royipressburger friendly ping

[2018-05-31 19:13] evilebottnawi commented on #302
@TiemenSch Sorry, i can't reproduce problem using you steps (i am on linux). I also testing this on windows and all works fine. I don't know how i can setup `WSL` and not familiar with him. Can you provide more information or maybe you found solution?

[2018-06-01 01:04] rdsedmundo commented on #264
People, just an insight: I spent 15 hours (literally) trying to resolve a problem on my build, and I just realized that it could be Uglify after noticing that the build was working in `mode: development` but not on `mode: production` - so I was deactivating one option at a time from Uglify until I discovered that it was `compress: { inline: true }` being bugged.

This is critical. Builds of everyo

[2018-06-01 01:08] estaub commented on #264
@rdsedmundo Can you help @evilebottnawi test? I'm stuck in back-end work.

[2018-06-01 01:31] rdsedmundo commented on #264
Not sure what was supposed to be tested.

But I installed the `uglifyjs-webpack-plugin` dependency with the branch from that PR. It still doesn't work. If I provide the `compress: { inline: false }` though it works (nothing different then comparing to the normal version).

[2018-06-01 01:56] whtsky commented on #278
sorry, work is busy, I don't have time for this :(

[2018-06-01 11:20] #286 closed

[2018-06-01 17:19] rdsedmundo commented on #264
No, it isn't working.

[2018-06-01 17:24] evilebottnawi commented on #264
@rdsedmundo can you create issue in https://github.com/fabiosantoscode/terser?

[2018-06-01 19:56] syranide commented on #262
@fabiosantoscode Any particular reason why the dependency switch to `terser` hasn't been made yet?

[2018-06-01 20:00] evilebottnawi commented on #262
@syranide wait after some projects test this

[2018-06-01 20:05] syranide commented on #262
@evilebottnawi Thank you, is there an alpha/beta of this plugin with updated depdency that I can use to test? If https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/262#issuecomment-393993505 gets merged and I can get it merged into terser then I'm very interested in running it against my work software.

[2018-06-01 20:09] evilebottnawi commented on #262
@syranide we will do this in near future, sorry for delay

[2018-06-03 06:47] RZeni commented on #232
App using Angular 6.0.3 and webpack 4.10.2 fails to build when mangle is set to true.

Can reproduce with this repo:
https://github.com/MarkPieszak/aspnetcore-angular2-universal

If the PR for the temporary fix of disabling mangle has been merged you need to set mangle back to true.

[2018-06-03 10:35] royipressburger commented on #292
@evilebottnawi yes? :) then example in the repo is what @TheLarkInn answered

[2018-06-04 09:30] evilebottnawi commented on #292
@royipressburger problem will be solved?

[2018-06-04 10:57] royipressburger commented on #292
@evilebottnawi there wasn't any release, no?
I meant to say that what @TheLarkInn gave is not the same use case.
His answer is not something that resolve the problem

[2018-06-04 14:18] Reinmar commented on #264
@evilebottnawi, everything seems to work fine on our side (https://github.com/ckeditor/ckeditor5-dev/issues/371#issuecomment-394361235). Thanks!

[2018-06-04 14:32] evilebottnawi commented on #264
:+1: i think we can release new version in near future, btw feel free to feedback

[2018-06-04 18:46] evilebottnawi commented on #302
@TiemenSch friendly ping

[2018-06-04 19:12] TiemenSch commented on #302
Hi! Installing WSL isn't too hard, luckily :). https://docs.microsoft.com/en-us/windows/wsl/install-win10

Then you'll have an Ubuntu shell up and running in no-time

[2018-06-05 14:50] jri commented on #264
What does this fix actually do? Does uglifyjs-webpack-plugin now call UglifyJS2 with `compress: { inline: false }` by default, or is the underlying UglifyJS2 bug fixed?

[2018-06-06 12:43] TiemenSch commented on #302
I haven't found a solution as of yet, by the way! I tried checking if something as simple as the line endings matter, since I cloned the repo on Windows and WSL mimics Linux, but to no avail.

[2018-06-06 12:54] evilebottnawi commented on #302
Feel free to investigate this, i don't have many time right now on testing this on WSL, sorry

[2018-06-06 14:34] TiemenSch commented on #302
No worries! I'll keep stabbing at it from time to time. Pretty crammed as well ;)

[2018-06-08 06:23] webpack-bot opened #307 "Webpack generated broken code in production mode"
# Bug report

**What is the current behavior?**

Webpack generated broken code in production mode.

- The source code: [src/index.js](https://github.com/mysticatea/webpack-issue/blob/77dee08f91c4dabfdca0e7f9229148d688db63e6/src/index.js)
- The result code: [dist/main.js](https://github.com/mysticatea/webpack-issue/blob/77dee08f91c4dabfdca0e7f9229148d688db63e6/dist/main.js)

The result code contain

[2018-06-08 18:58] kzc commented on #307
Duplicate of https://github.com/webpack/webpack/issues/6567

Disable the `uglify-es` `compress` `inline` option as a workaround.

Fixed by the use of `terser` in #296.

[2018-06-08 19:08] evilebottnawi commented on #307
@kzc i think right now we should disable inline by default for `uglify-es` and release patch version, what do you think?

[2018-06-08 19:49] maxcaron commented on #307
@kzc, how can I disable the uglify-es compress inline option?

`new UglifyJSPlugin({
      uglifyOptions: {
        'uglify-es': {
          compress: {
            inline: false
          }
        }
      }
    }),`
This does not work

[2018-06-08 22:06] kzc commented on #307
Refer to this plugin's/webpack's documentation or see the link I provided to disable the option.

Releasing a patch for `uglify-es` options is a complete waste of time. Just use `terser` - it fixes dozens of bugs.

[2018-06-09 01:47] mysticatea commented on #307
The problem is Webpack 4 is generating completely broken code by default, in no configuration. I believe this is a critical bug and I couldn't believe that webpack team has left it while multiple months and if they don't have a plan to fix it.

[2018-06-09 10:46] evilebottnawi commented on #307
@mysticatea sorry for delay, will be fixed today, a lot of problems in many repos and too few contributors

[2018-06-09 22:50] Slapbox commented on #298
Is there a plan to do this? I've not been able to build using the primary fork of `uglifyjs-webpack-plugin` for over 5 months now.

All issues I've commented on, I've heard nothing from any maintainers.

The version of `uglify-es` used in this plugin has been broken for many, many months.

[2018-06-10 10:55] fabiosantoscode commented on #298
@Slapbox we haven't ported any issues to the terser repository. Can you link to what issues affect you?

[2018-06-10 15:19] Slapbox commented on #298
Sorry, by "this plugin" I mean the `uglifyjs-webpack-plugin`

The issue I'm having is this one, `sym.definition is not a function` https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/228

I'm not able to recall the exact nature of the issue, but I know the only solution I've found is to overwrite `node_modules\uglifyjs-webpack-plugin\node_modules\es-uglify` that installs by default w

[2018-06-10 18:11] fabiosantoscode commented on #298
That issue should be fixed in terser. It has been closed in February in uglify-es.

[2018-06-11 09:42] A-Pradeep opened #309 "RemovedPluginError(errorMessage);"
[14:58:17] Loading C:\Users\sharm\Desktop\Demo\meanapp\gulp_tasks\browsersync.js
[14:58:17] Loading C:\Users\sharm\Desktop\Demo\meanapp\gulp_tasks\karma.js
[14:58:18] Loading C:\Users\sharm\Desktop\Demo\meanapp\gulp_tasks\misc.js
[14:58:18] Loading C:\Users\sharm\Desktop\Demo\meanapp\gulp_tasks\webpack.js
C:\Users\sharm\Desktop\Demo\meanapp\node_modules\webpack\lib\webpack.js:166

[2018-06-11 15:23] mgol commented on #262
The fact `uglify-es` is unmaintained is only one problem. Another is `uglifyjs-webpack-plugin` relies on `uglify-es` even if minifying ES5 code (by passing a proper `ecma` option) as it's easier to rely on one package than on two. It should depend on two packages, though, then at least ES5 compilation would be stable and battle-tested, ES6+ minification is still very experimental, unfortunately.

[2018-06-12 14:05] zimonline opened #310 "Uglify errors with jarallax"
I am getting the following error when I try to uglify the following.
I don't think the problem is with jarallax as code works fine on its own.

Contents of app.js
[code]

Error
[code]

[2018-06-13 10:05] Goues opened #311 "Bug report: Minification causes runtime error for a special variable name"
# Bug report
## Setup
**Package versions**
webpack: 4.8.3
uglify-es: 3.3.9
uglifyjs-webpack-plugin: 1.2.5
babel: 6.23.0

**Babel setup**
[code]

**Webpack setup**
[code]
## Code samples
### Working example
**Source code**:
[code]

**Minified code**:
[code]

It first logs `type subtype` then `[true]`.
### Non-working example
**Source code**:
[code]

**Minified code**:
[code]

This throws `Uncaught

[2018-06-13 14:06] kzc commented on #310
Resolved by #296

[2018-06-13 14:06] kzc commented on #311
Resolved by #296

[2018-06-14 17:53] kzc commented on #264
Bug workaround for `yarn` users:

https://github.com/fabiosantoscode/terser#replacing-uglify-es-with-terser-in-a-project-using-yarn

[2018-06-14 17:55] kzc commented on #311
Bug workaround for `yarn` users:

https://github.com/fabiosantoscode/terser#replacing-uglify-es-with-terser-in-a-project-using-yarn

[2018-06-14 17:55] kzc commented on #310
Bug workaround for `yarn` users:

https://github.com/fabiosantoscode/terser#replacing-uglify-es-with-terser-in-a-project-using-yarn

[2018-06-14 17:57] kzc commented on #307
Bug workaround for `yarn` users:

https://github.com/fabiosantoscode/terser#replacing-uglify-es-with-terser-in-a-project-using-yarn

[2018-06-14 20:58] Reinmar commented on #264
When do you plan to release a new version?

[2018-06-15 07:57] creage commented on #283
I still see this warning for JSON file, which generates following sourcemap
[code]

which is, according to [this fix](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/284/commits/89aa4ac302c2dea8f2b91376dec3591565996aed) should be treated as an **emptyRawSourceMap**, and should be a valid one

[code]

But I still see
`` WARNING in chunks/1.df2663.js contain invalid source map
``

[2018-06-15 09:29] truebden opened #312 "NameCache option and parallel option do not work together"
### Current: ###
If you enabled the option parallel and the uglifyOption nameCache. The name cache is always empty.
### Example: ###
[code]
### Tested with versions: ###
[code]

### Expected: ###
Either enhance documentation that this is not possible (due to no possibility of syncing the cache) and show a log message if both options are used. Or ensure the nameCache is filled even if parallel opti

[2018-06-15 09:40] evilebottnawi commented on #312
@truebden we don't have option `nameCache`, also `cache` and `parallels` disable by default for best practice, use `parallels: true` and `cache: true`

[2018-06-15 09:40] evilebottnawi commented on #283
@creage please create new issue

[2018-06-15 09:43] evilebottnawi commented on #310
Close in favor https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/264

[2018-06-15 09:43] evilebottnawi commented on #311
Close in favor https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/264

[2018-06-15 09:43] #311 closed

[2018-06-15 09:44] evilebottnawi commented on #307
Close in favor https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/264

[2018-06-15 09:44] #307 closed

[2018-06-15 09:47] evilebottnawi commented on #309
@A-Pradeep we don't have RemovedPluginError, also it is hard to read you problem please format you issue and reopen, also create minimum reportorial test repo, thanks!

[2018-06-15 09:47] #309 closed

[2018-06-15 09:51] truebden commented on #312
@evilebottnawi yes, but it is an option for propagated to uglifyjs, which does not work with your parallel option as it does not return any name cache.
Also the nameCache is something different to the cache option from you. I guess it only caches some output and not the mapping between original to obfuscated identifiers.

[2018-06-15 09:56] evilebottnawi commented on #312
@truebden hm, you are right, feel free to send a PR to solve this problem, we should save `nameCache` between each compilation

[2018-06-15 10:15] truebden commented on #312
@evilebottnawi Maybe you can give me a hint about it. Because I think you would need a synchronized access to the name cache for all parallel running uglifyjs instances. For this I checked in uglifyjs code if it would be possible to define some callback for each identifier to mangle. But there is no such feature.

If it is not possible to synchronize the access, each process would override the map

[2018-06-15 10:21] evilebottnawi commented on #312
@truebden you should return `nameCache` from minify and put this into cache (https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/uglify/index.js#L60), also get `nameCache` from cache (https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/src/uglify/index.js#L68) and pass this in minify function

[2018-06-15 10:27] truebden commented on #312
@evilebottnawi I am not sure if this would be enough. For instance, if you have 2 processes for uglifyjs and they are started in parallel. Then both of them will work with an empty nameCache and fill it as they need. As they are 2 process, I assume these are not using the same instance of the nameCache object, but 2 different ones. But actually they would need to shared it between the processes. W

[2018-06-15 10:29] creage opened #313 "Unnecessary warning on "invalid source map" for JSON files"
I am using a [po-loader](https://github.com/perchlayer/po-loader) to load my PO files, having this loader config
[code]

When building **production** build with minification on, I see a warning for final JSON file, which generates following sourcemap
[code]

which is, according to [this fix](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/284/commits/89aa4ac302c2dea8f2b91376dec3591

[2018-06-15 10:30] evilebottnawi commented on #312
@truebden for each file `cache` object will be individual, because we use `path` and `content` as part of cache key

[2018-06-15 10:31] evilebottnawi commented on #313
@creage hm, we already fix this, need just release patch version :smile:

[2018-06-15 10:38] truebden commented on #312
@evilebottnawi okay, but when you use the nameCache, you typically want to share the same obfuscation identifiers between all output files (at least for me this is important).

[2018-06-15 10:51] evilebottnawi commented on #312
@truebden check `nameCache` option on enable and save all outputs in one cache object, PR welcome, it is hard to speak without minimum implementation

[2018-06-15 14:02] kzc commented on #310
@evilebottnawi This bug has nothing to do with `inline` and is not addressed by #264.

It is resolved by replacing `uglify-es` with `terser` in #296.

[2018-06-15 14:29] olsonpm commented on #298
I'm having various issues with uglify-es via this plugin and will try terser.  I appreciate you raising this issue.  However it seems a new plugin may be appropriate given the name change?  i.e. `terser-webpack-plugin` heh.

[2018-06-15 18:49] #264 closed

[2018-06-15 18:50] evilebottnawi commented on #313
New version will be release in near future, thanks for issue

[2018-06-15 18:50] #313 closed

[2018-06-15 19:17] #281 closed

[2018-06-15 19:18] evilebottnawi commented on #310
Close in favor https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/298

[2018-06-15 19:18] #310 closed

[2018-06-15 19:22] evilebottnawi commented on #298
Plan:
1. Finish and merge https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/304ю
2. Implement support custom `minify` function (add tests and documentation about how use plugin with `uglify-js` and `uglify-es`)
3. Bump minimum required nodejs version, update all deps, switch to terser by default and release `2` version.
4. Bump this in webpack.

Any help is welcome.

[2018-06-16 09:18] mgol commented on #298
I agree a name change would be desirable. While it does introduce some
confusion, in the long run it will be less confusing. It doesn’t seem fair
for the UglifyJS project to use its name in the package when it no longer
has anything to do with it. It may also wrobiły direct people experiencing
minification issues to UglifyJS.
--
Michał Gołębiowski-Owczarek

[2018-06-18 21:58] Nek- opened #314 "[Doc] Add a note about the fact that webpack includes an outdated version"
Hello guys,

_First thanks for your work on this plugin._

I just took like 1 hour of research because I didn't install the plugin with yarn and I had issues. I was about to write an issue but your message noticed me about verifying the version before posting... And well, it was not installed at all.

After proper installation, everything was ok. Please guys, add a note in the readme (not about th

[2018-06-18 22:07] emmenko commented on #283
The problem is that the fix has not been released/published yet

<img width="487" alt="image" src="https://user-images.githubusercontent.com/1110551/41564884-aee4edcc-7354-11e8-80cc-6a2eb9065286.png">

/cc @sokra

[2018-06-19 09:45] evilebottnawi commented on #314
@Nek- webpack contain old uglify plugin version, please update your lock file and/or reinstall node_modules, thanks!

[2018-06-19 09:45] #314 closed

[2018-06-20 12:46] Nek- commented on #314
I didn't update webpack but simply install uglifyjs alone. Call it how you want. I call it "outdated dependencies". Btw the project is 1 week old.

[2018-06-21 07:42] webpack-bot opened #316 "Generator definition shorthand outputs as function"
# Bug report

**What is the current behavior?**

The [shorthand for defining a generator method in an object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Method_definitions) is sometimes parsed as a function. In some cases, this raises an uncaught syntax error in the browser (because keywords such as `yield`, `yield*` cannot be used in functions), causing the site t

[2018-06-21 11:53] kzc commented on #316
Likely already fixed in terser. You can test it yourself.

[2018-06-21 11:55] evilebottnawi commented on #316
Close in favor https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/298

[2018-06-21 11:55] #316 closed

[2018-06-21 18:51] kzc commented on #298
Worth mentioning that `yarn` users can replace `uglify-es` with `terser` without modifying this plugin or your webpack config:

https://github.com/fabiosantoscode/terser#replacing-uglify-es-with-terser-in-a-project-using-yarn

[2018-06-21 19:38] Slapbox commented on #298
@kzc, that is a crazy useful feature to know about. Thank you

[2018-06-21 21:32] kzc commented on #298
Yeah, no kidding. It's not documented very well in `yarn`. I found it by trial and error. Can also peg the module replacement to a specific version.

[2018-06-26 05:15] Soorya-S commented on #159
same issue...still ans in #129 does'nt work

[2018-06-27 07:46] Mayank1791989 opened #318 "default disabled inline optimization doesnt work with custom uglifyjs options."
When custom compress option is passed in options then ```compress.inline``` is not set to false.

[code]

### Tested with version
[code]

### Expected

```compress.inline``` should be set to false to avoid issue #307

[2018-06-27 08:30] evilebottnawi commented on #318
@Mayank1791989 It is expected, you should manually set `inline: false` (or other values), some people use `inline` in some cases

[2018-06-27 08:33] Mayank1791989 commented on #318
Ok thanks

[2018-06-27 08:33] #318 closed

[2018-06-27 23:06] Cellule opened #319 "Bad minification of single expression with const variable"
Source code:
[code]

Minified code:
[code]

Because the brackets have been removed around the `if` statement, it is now a syntax error to use `const` for the variable `t`

[2018-06-27 23:07] ijongkim commented on #134
I am experiencing the same issue. If I remove UglifyJS the generated source maps pass validation, if I include it source maps become invalid. Is using roll up to generate source maps the only viable solution?

[2018-06-28 09:12] evilebottnawi commented on #319
/cc @kzc

[2018-06-28 09:13] evilebottnawi commented on #134
@ijongkim can you create niew issue with reproducible test repo

[2018-06-28 12:08] kzc commented on #319
Run `terser` to see whether a bug exists, and if so file a bug report. No need to /cc me in the future.

[2018-06-28 12:09] kzc commented on #319
obligatory link:

https://github.com/fabiosantoscode/terser#replacing-uglify-es-with-terser-in-a-project-using-yarn

[2018-06-28 12:20] evilebottnawi commented on #319
Close in favor https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/262

[2018-06-28 12:20] #319 closed

[2018-06-28 12:39] royipressburger commented on #292
@evilebottnawi poke? :)

[2018-06-28 12:43] evilebottnawi commented on #292
@royipressburger uglify don't know `DEV` value and can't remove

[2018-06-28 13:10] royipressburger commented on #292
@evilebottnawi not sure this is related.
If you can look at link I posted Ill be happy, :) its a repo that reproduce the issue.

You can see that in the index I import a function that I'm not using
[code]

[2018-06-28 13:15] evilebottnawi commented on #292
@royipressburger out of scope uglify, tree shaking do webpack

[2018-07-01 09:41] royipressburger commented on #292
@evilebottnawi Thanks for your time.. it looks better now..
For anyone else who encounter something similar my problem was two things:

1. I was missing `NODE_ENV=production` in the env( don't know why its a must).
2. I was missing `sideEffects: false` in the `package.json`

[2018-07-02 09:44] evilebottnawi commented on #292
@royipressburger https://github.com/mishoo/UglifyJS2#conditional-compilation-api

[2018-07-02 12:43] royipressburger commented on #292
@evilebottnawi Thank you for your time. ill close this issue.

[2018-07-02 12:43] #292 closed

[2018-07-03 11:31] imwtr opened #324 "Different uglify results with different version ?"
The plugin version in webpack4 is flexible as `"uglifyjs-webpack-plugin": "^1.2.4"` , when I `npm i` again, a new version @1.2.7 is installed (last version is @1.2.5).
But after rebuilding the project, the uglify file results change.
Is it a bug or inevitable ? And how to avoid these changes.

[2018-07-03 11:35] evilebottnawi commented on #324
@imwtr https://github.com/webpack-contrib/uglifyjs-webpack-plugin/releases/tag/v1.2.6, please read changelog before ask questions, it is not QA, you can enable inline, but it is buggy.

[2018-07-03 11:35] #324 closed

[2018-07-03 14:09] evilebottnawi commented on #262
Close in favor https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/298 (major release) and https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/321 (manor release `1.3.0`)

[2018-07-03 14:09] #262 closed

[2018-07-03 14:12] evilebottnawi commented on #303
Done in https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/320

[2018-07-03 14:12] #303 closed

[2018-07-04 06:46] dds-du opened #326 "Invalid string length"
Cause our angular project has a big size module,we can't package it success.
It will throw an error "var string = JSON.stringify(message) + '\n'; " and "Invalid string length".
When I reduce some component of this module,I can package it success.
So, I sure it  because of the body volume.
Version: "1.2.6"

[2018-07-04 10:46] evilebottnawi commented on #326
@dds-du need reproducible test repo, without this i can't help, sorry

[2018-07-05 19:56] cascornelissen commented on #302
I'm running into the same problem on Windows 10/WSL, setting `parallel` to `false` or setting `maxConcurrentWorkers` to `1` solves the problem but setting `maxConcurrentCallsPerWorker` to `1` seems to change nothing at all.

My proposal would be to change [this line](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/249eef3c2877c448fd87722ea8a582aceb23a6d6/src/uglify/index.js#L29) to

[2018-07-06 02:16] chenesan commented on #206
I found that the configuration from [an article of Slack's blog](https://slack.engineering/keep-webpack-fast-a-field-guide-for-better-build-performance-f56a5995e8f1) works for me. The only difference is that for uglifyjs-webpack-plugin@`1.2.5` the `cascade` in compress option is not working now, just remove this line and it minifies react lib code as production code.

[2018-07-06 02:38] dds-du commented on #326
@evilebottnawi https://github.com/trivago/parallel-webpack/issues/54
You can see this issue.it's a same problem with our project.

[2018-07-06 10:04] evilebottnawi commented on #302
@TiemenSch can you try solution above? If it is solve problem, feel free to send PR :+1:

[2018-07-07 16:09] nstrelow commented on #272
Why is this happening now with webpack 4? I upgraded recently and cannot build production.
Using babel-minify-webpack-plugin I cannot get the same compression I got with webpack 3 and UglifyJS.
I tried node 8.9 and node 10.5. Both hang on Uglify.

[2018-07-07 16:41] trusktr opened #327 "Runtime error after minification."
Version: `1.2.7`
Node version: `9.11.2`
OS: `macOS 10.13.4 (17E199)`

## problem

When I compile without minification in Webpack's `production` mode,

[code]

then I get a runtime error with my code, saying that my object is undefined when I try to call a method on it:

[code]

## reproduction

This works (minification is turned off):

[code]

open `localhost:8080/test.html`, and you should see a

[2018-07-07 16:57] trusktr commented on #327
You may notice the webpack configuration is located inside the `builder-js-package`.

To run the build directly, you can run the following:

[code]

[2018-07-08 05:40] xavierfoucrier opened #328 "Unable to add a reserved word to mangle"
Hi,

I am experiencing an issue with `webpack 4.14` + `uglifyjs-webpack-plugin 1.2.7` + `uglify-es 3.3.9`: I am unable to add a reserved class name to mangle in webpack production mode to prevent the minifier from renaming it...

When compressing my bundle in **production mode**, uglifyjs-webpack-plugin is renaming the `Smooth` class name of the external package. Setting a reserved word does not s

[2018-07-08 07:05] xavierfoucrier commented on #328
But it seems to properly work with a **basic code** like:

[code]

[2018-07-09 09:39] evilebottnawi commented on #327
@trusktr looks it is bug in `uglify-es`

[2018-07-09 09:40] evilebottnawi commented on #328
@xavierfoucrier please use `keep_classnames` option (https://github.com/mishoo/UglifyJS2/tree/harmony#minify-options), feel free to feedback

[2018-07-09 09:40] #328 closed

[2018-07-10 01:29] xgqfrms-gildata commented on #222
# still bug

https://github.com/mishoo/UglifyJS2/issues/3210

[2018-07-10 16:49] kzc commented on #312
The uglify (or terser) name cache cannot work in parallel by design. The mangling of each module must be done serially. `uglifyjs-webpack-plugin` should error out if both options are enabled.

[2018-07-10 16:51] evilebottnawi commented on #312
@kzc Thanks!

[2018-07-10 17:01] kzc commented on #312
Furthermore, the nameCache object is read/write and the same object instance must be passed to all `minify()` invocations in a chunking scenario.

https://github.com/fabiosantoscode/terser#minify-options

- `nameCache` (default `null`) - pass an empty object `{}` or a previously
  used `nameCache` object if you wish to cache mangled variable and
  property names across multiple invocations of `min

[2018-07-11 11:21] cascornelissen commented on #302
@evilebottnawi, any chance we could merge this sooner? I'm in dire need of this fix as well as I don't want to add a workaround to tens of project for just a few days/weeks until this gets released.

[2018-07-11 12:12] TiemenSch commented on #302
What are the implications of setting to just 1 worker? Seems rather similar to a non-parallel setup (which is probably why it works). But it's a workaround and not a solution I believe. If @cascornelissen got it working, I've got no objections to merging it as a workaround for now, but it doesn't solve the issue.

[2018-07-12 03:44] xgqfrms-gildata commented on #222
# So, I have to write license info by hands?

## 1. src

[code]

## 2. target

[code]

## 3. result

[code]

https://github.com/mishoo/UglifyJS2/issues/2500#issuecomment-404379147

[2018-07-12 15:24] rdalfonso commented on #267
Has anyone solved this issue? I'm using "webpack": "^4.5.0", "uglifyjs-webpack-plugin": "^1.2.7", and "react": "^16.3.1". Webpack creates my bundle without removing anycode.

[2018-07-13 12:39] cihati commented on #234
I needed to upgrade offline-plugin -- a relevant issue was fixed at 5.0.3 I believe.

[2018-07-15 20:13] valera1401 commented on #234
Why this issue is closed ? The problem still exists. Mangle can't be disabled.

[2018-07-16 06:21] valera1401 opened #329 "Mangle can't be disabled."
new UglifyJsPlugin({
                    uglifyOptions: {
                        parallel: true,
                        cache: true,
                        output: {
                            comments: false,
                        },
                        compress: {
                            // The Android SBG has problems parsing the output
                            // when these op

[2018-07-16 10:08] evilebottnawi commented on #329
@valera1401 `uglifyOptions.mangle: false`

[2018-07-16 10:08] #329 closed

[2018-07-17 07:58] valera1401 commented on #329
Sorry but i don't understand your answer. Where should I do it ? I tried to set mangle (and only mangle) option to false but it didn't help.

[2018-07-18 15:36] bizMD commented on #129
This issue has a resurgence on nodejs v10.6.

This is the Dockerfile
[code]

And the contents of the dependencies area of package.json:
[code]

I "fixed" this by changing versions to node 9.2.0

[2018-07-18 22:54] ramnycordero opened #330 "sourceMaps.sections"
92% chunk asset optimization/home/android/www/bruno-mobile/node_modules/uglifyjs-webpack-plugin/node_modules/source-map/lib/source-map-consumer.js:20
  return sourceMap.sections != null
                   ^

TypeError: Cannot read property 'sections' of null
    at new SourceMapConsumer (.../node_modules/uglifyjs-webpack-plugin/node_modules/source-map/lib/source-map-consumer.js:20:20)
    at Uglif

[2018-07-19 10:19] evilebottnawi commented on #330
@ramnycordero Can you create minimum reproducible test repo?

[2018-07-19 10:20] evilebottnawi commented on #330
Looks you have broken source map

[2018-07-19 11:47] ramnycordero commented on #330
I believe it's a trouble of npm, this me have happen rarely.

[2018-07-19 12:07] evilebottnawi commented on #330
@ramnycordero without minimum reproducible test repo i can't help

[2018-07-20 06:11] bizMD commented on #129
Annoyingly, after I declared this works, it now fails any time I try to build.

[2018-07-22 00:19] luzat opened #331 "minify function/documentation limitations"
Minify functions (and possibly others) do hardly work with parallel enabled, because their scopes are not available in the workers. I was trying to pass terser in as a variable or `require('terser')` within minify, but both failed because either `terser` or `require` were undefined with `parallel: true`. I am not sure if there is any possible workaround? It works fine with `parallel: false`. This

[2018-07-22 14:11] cascornelissen commented on #302
@evilebottnawi, should I submit a PR containing this workaround?

[2018-07-23 08:17] evilebottnawi commented on #331
@luzat please provide example, all works fine in parallel true/false

[2018-07-23 08:56] evilebottnawi commented on #302
@cascornelissen i think better send PR to docs about this is feature doesn't support on WLS, with recommendation disable option

[2018-07-23 14:11] luzat commented on #331
I set up a demo repository: https://github.com/luzat/parallel-uglify-bug

I haven't looked too much into it, but the options evaluation in works.js looks dubious and probably breaks things?

[2018-07-23 14:44] evilebottnawi commented on #331
@luzat thanks for repo :+1: In todo list

[2018-07-23 20:45] thehme commented on #78
I found this issue today too:

[code]

Some had introduced `for of` into our code base. I was only able to find this out by looking at like 25294 in `main-dist.js`

[2018-07-25 10:04] gmfun commented on #234
@sokra Seems to be problem with webpack, because `minimize: false` is also changing the class name. Facing this issue with webpack@4.16.2

[2018-07-25 16:18] evilebottnawi commented on #331
Confirmed, WIP

[2018-07-25 17:39] evilebottnawi commented on #331
@luzat i fix `require` (i.e. exports, require, module, __filename and __dirname will be available), but i can't fix it for https://github.com/luzat/parallel-uglify-bug/blob/master/webpack.config.js#L11, because foo is not available. You can use `shared-memory` for this purpose (https://www.npmjs.com/search?q=shared%20memory)

[2018-07-25 18:05] evilebottnawi commented on #330
/cc @ramnycordero friendly ping

[2018-07-25 18:06] evilebottnawi commented on #327
Close in favor https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/298

[2018-07-25 18:06] #327 closed

[2018-07-25 20:17] luzat commented on #331
My use case at first was just requiring terser as mentioned in the documentation. I solved this by having yarn resolve uglify-es to terser in the package.json instead:

[code]

The minify option should include some notice about this behavior, though. Not sure if this also applies to other functions (cacheKeys, extractComments?)? I would guess that this option would become superfluous for most peop

[2018-07-26 15:52] filipesilva commented on #331
@evilebottnawi do you mean using https://github.com/ericdum/node-shared-memory is required when computed uglify options are used?

[2018-07-26 15:58] evilebottnawi commented on #331
@filipesilva any implementation of shared memory if you enable parallel and want share information between main process and minify function

[2018-07-26 16:01] evilebottnawi commented on #331
@filipesilva better wait terser webpack plugin, i think i will release on next week

[2018-07-26 16:02] filipesilva commented on #331
Yeah I was tinkering with this a bit to see how it would help Angular CLI users. @sanderelias tried out resolving `uglify-es` to `terser` (using @luzat's [method](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/331#issuecomment-407881544)) and that really helped on a big project he had. Around 60% faster prod builds.

[2018-07-26 16:15] evilebottnawi commented on #331
It is very good :+1:

[2018-07-26 16:40] kzc commented on #331
@filipesilva fyi - possibly off-topic - some uglify/terser options such as property mangling are not compatible with parallel operation by design:

https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/312#issuecomment-403891532

Even shared memory won't help in such a case due to race conditions accessing/updating the name cache object.

[2018-07-26 16:41] filipesilva commented on #331
IIRC does parallelism by processed file, which I think is a boundary that uglify never crosses. Is my understanding incorrect?

[2018-07-26 17:33] kzc commented on #331
Uglify/Terser was never designed with parallel operation in mind. If you have related JS inputs that would require a shared nameCache (for common mangled variables, property mangling or whatever) then it would not work in parallel. I suppose if the JS inputs were standalone/unrelated and do not share a `nameCache` object then conceivably a plugin could run such `minify` operations in parallel if c

[2018-07-27 10:51] #331 closed

[2018-07-27 10:55] evilebottnawi commented on #326
Sorry, without minimum reproducible test repo i can't solve your problem, also you can increase nodejs memory usage (it should be help). In some cases 512mb is not enough to uglify bug projects. Feel free create new issue with minimum reproducible test repo.

[2018-07-27 10:55] #326 closed

[2018-07-30 09:01] petrdanecek commented on #272
The below seems to be related to this issue. Recently I upgraded to latest webpack 4 with babel 7 and enabled source-maps for production. I was using inline source maps for development only. Since upgrade and enabling source maps the uglify stop working as was killed at 92% during source maps. Note I'm having parallel: true.
The workaround was to disable devtool: false for production.

Finally I t

[2018-07-31 00:10] architextures commented on #267
Running production mode with UglifyJSPlugin enabled will strip the methods.
` "scripts": {
    "build": "webpack --mode production --optimize-minimize"
  },`

[2018-07-31 00:11] architextures commented on #267
Running production mode with UglifyJSPlugin enabled will strip the methods.
"scripts": { "build": "webpack --mode production --optimize-minimize" }

[2018-08-01 20:01] evilebottnawi commented on #298
Close in favor https://github.com/webpack-contrib/terser-webpack-plugin, feel free to feedback and create new issues

[2018-08-01 20:01] #298 closed

[2018-08-02 15:00] styfle commented on #298
@evilebottnawi Is `terser-webpack-plugin` published to npm yet?

[2018-08-02 15:16] evilebottnawi commented on #298
@styfle today will be published

[2018-08-03 00:58] vishalniit commented on #302
https://github.com/Microsoft/WSL/issues/2613
This issue is listed up here.

[2018-08-06 17:53] mlavina commented on #248
@evilebottnawi Any chance we can get this released behind an opt-in flag.

My teamis having some production issues related to #272 e.g. out of memory and long build times. As I think we have determined, it's most likely due to a combination of unoptimized code in uglifyJS but also the cost of making source-maps. While there is nothing we can really do about the uglify js code, at least improving t

[2018-08-07 08:52] evilebottnawi commented on #248
@mlavina it is not easy, because it is require `nodejs@8` version minimum, but if you have ideas how we can fix it, PR welcome

[2018-08-08 11:06] vielhuber opened #337 "In chroot environments, npm run build fails"
In a chroot environment, where /proc etc. is not available, require('os').cpus() returns undefined.

If we run "npm run build" on a Vue.js project, we get the following error:

[code]

If we change the line 19 of Runner.js from

[code]

to

[code]

it works.

There is only another error in vue-cli (where again some kind of cpu function is used without checking if it returns undefined), but I will

[2018-08-08 11:47] evilebottnawi commented on #337
@vielhuber PR welcome, also please put comment on issue in source code

[2018-08-08 21:37] vielhuber commented on #337
See: https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/338

[2018-08-11 20:28] mwanago commented on #267
My recent discovery was that you also need to use ModuleConcatenationPlugin for the tree shaking to take place. Maybe that will be of any help to anyone - I've created PR to the docs (was accepted). Cheers.

[2018-08-12 23:37] IamManchanda opened #339 "The Given Docs doesn't work for webpack stream (gulp)"
I am trying to use this in Gulp + Webpack [workflow](https://webpack.js.org/guides/integrations/#gulp) but this doesn't seem to work.

I Implemented as per the mentioned docs but doesn't seem to work https://github.com/IamManchanda/gulp-webpack/pull/7/files

Am I missing something?

[2018-08-13 04:01] bemineni opened #340 "Unknown option cache, CacheKey and minify"
I even tried posting this on Stackoverflow but didn't get good answer.  The below options is similar to what is mentioned in the documentation.
https://stackoverflow.com/questions/51691641/uglifyjs-invalid-option-cachekeys-and-minify/51727978#51727978

"terser": "^3.8.1",
"uglifyjs-webpack-plugin": "^1.2.7",
"webpack": "^4.16.3",
"webpack-cli": "^3.1.0",
"webpack-dev-server": "^3.1.5",
"webpack-ho

[2018-08-13 10:41] Saionaro commented on #340
@bemineni The version that supports these features has not yet been released to NPM.
Take a look:
https://github.com/webpack-contrib/uglifyjs-webpack-plugin/compare/v1.2.7...master

[2018-08-13 11:03] evilebottnawi commented on #340
@bemineni version not released you can use https://github.com/webpack-contrib/terser-webpack-plugin

[2018-08-13 11:03] #340 closed

[2018-08-13 11:05] evilebottnawi commented on #339
@IamManchanda sorry it is not QA service - stackoverflow, gitter, etc, please use this resources for question. It is bug tracker.

[2018-08-13 11:05] #339 closed

[2018-08-13 11:40] IamManchanda commented on #339
ohk thanks posted it here => https://stackoverflow.com/questions/51821330/uglify-js-webpack-plugin-for-webpack-stream-gulp-webpack

[2018-08-13 13:54] bemineni commented on #340
https://www.npmjs.com/package/uglifyjs-webpack-plugin Latest version in npm is 1.2.7. where can I get previous version documentation.

[2018-08-13 13:54] bemineni commented on #340
My package.json also mentions the same.

[2018-08-13 14:03] bemineni commented on #340
ok got it these features will be in 1.2.8

[2018-08-14 01:54] nicewahson commented on #116
I am in the same situation now. i'm using webpack4 and it looks like not working with option sourceMap true

[2018-08-14 10:36] #337 closed

[2018-08-15 09:50] Artimal opened #342 "ES6 in my ES5 output"
Hi, I have strange issue with exporting my code into ES5. There is only one place in my minified code that contains ES6 features like "const", "let" or arrow functions:

`,,,,,,function(e,t,n){"use strict";Object.defineProperty(t,"__esModule",{value:!0});var r=function(e){return e&&e.__esModule?e:{"default":e}}(n(201));t["default"]=function(e,t){return r["default"].captureException(new Error(e),{e

[2018-08-15 09:56] evilebottnawi commented on #342
@Artimal you have es6 code in node_modules, you should use `babel-loader` on some node_modules packages or create separate babel-loader configuration (best only for production) to transiple `es6+` to `es5`.

[2018-08-15 09:56] #342 closed

[2018-08-15 10:00] Artimal commented on #342
How can I detect which one package is causing this problem?

[2018-08-17 13:40] adipascu opened #343 "Code inside ternary operator is not inlined/removed"
The following JS:
[code]
Is minified into:
[code]

I was expecting that `SHOULD_NOT_BE_IN_BUNDLE` not be in the outputted bundle. This seems to be somehow caused by exporting `IS_PRODUCTION`.

I am currently using this as a workaround:
[code]

[Here is a small project to reproduce the issue.](https://github.com/adipascu/webpack-sscce)

I am using node.js v8.11.3 with uglifyjs-webpack-plugin 1.3.0

[2018-08-17 15:13] evilebottnawi commented on #343
@adipascu because uglify doesn't known about your globals, use `DefinePlugin`

[2018-08-17 15:16] adipascu commented on #343
Hi @evilebottnawi , thanks for taking a look!

I think that `NODE_ENV` is defined as global by webpack when `mode` is set to `production`.
Also, I noticed that my workaround is working and also relies on uglify knowing about globals.

Am I missing something?

[2018-08-17 15:55] evilebottnawi commented on #343
@adipascu webpack doesn't add `NODE_ENV` by default in your code, because it is can break code in some cases. Use `DefinePlugin`

[2018-08-20 21:17] SD-Dude opened #344 "Webpack won't minify js files in sub-folder"
Webpack runs (to some extent). It finishes the run. There is one error (see below) which many online have explained about.

ERROR in koLabs.js from UglifyJs
SyntaxError: Unexpected token: punc ()) [./~/source-map-loader!./Labs/labsCtrl.js:512,0]

But, it minifies only select js files mainly in the top folder. It leaves out files in the sub-folder without any minification.

/Scripts/Tomat0 - works

[2018-08-21 09:58] evilebottnawi commented on #344
@SD-Dude Your have invalid code in `labsCtrl.js` on `512` line or your use `uglifyOptions.ecma: 5`, but your code in es5+, also maybe bug in uglify-es, better use https://github.com/webpack-contrib/terser-webpack-plugin

[2018-08-21 09:58] #344 closed

[2018-08-23 14:43] Flashbackvideoman opened #345 "Can't install clean-webpack-plugin"
npm install --save-dev clean-webpack-plugin
produces the following error:

npm ERR! path /home/dovetail/dealware/node_modules/latest/node_modules/npm/node_modules/dezalgo/node_modules/asap
npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall rename
npm ERR! enoent ENOENT: no such file or directory, rename '/home/dovetail/dealware/node_modules/latest/node_modules/npm/node_modules/dezalgo/node_mo

[2018-08-23 14:44] evilebottnawi commented on #345
@Flashbackvideoman Not related to `uglifyjs-webpack-plugin` , looks you don't have file system permissions

[2018-08-23 14:44] #345 closed

[2018-08-23 14:47] Flashbackvideoman commented on #345
Sorry for not noticing I was in the wrong place!
That said, it is not a file permissions problem.  File not there.

[2018-08-23 14:48] evilebottnawi commented on #345
@Flashbackvideoman better create this issue in `clean-webpack-plugin`

[2018-08-25 18:08] MathRobin opened #347 "Getting error with this plugin when using it"
Hi,

I get this message :
[code]
I'm using the latest versions of the tools :
- webpack @ 4.17.1
- mini-css-extract-plugin @ 0.4.2
- uglifyjs-webpack-plugin @1.3.0

It just need to have something which require "uglifyjs-webpack-plugin" to make it crash. Samples here : https://github.com/webpack/webpack/search?q=uglifyjs-webpack-plugin&unscoped_q=uglifyjs-webpack-plugin.

Config file sample :
[code

[2018-08-26 15:53] MathRobin commented on #347
Tried with or without this entry as css and with or without imported style in my js. Had the same issue.

But not now anymore. Don't understand why... So closed. Sorry for the disturb

[2018-08-26 15:53] #347 closed

[2018-08-27 15:13] mlavina commented on #248
@evilebottnawi I will try to get a solution as soon as I can, but that might be a while to be honest.

However, a quick source-map gain that we might gain is if we can get this PR https://github.com/webpack/webpack-sources/pull/23 merged for webpack-sources

Especially since in #272 we saw that `source-maps` were part of the problem.

[2018-08-29 02:24] lazyhero opened #348 "How to change sourceMapUrl by uglifyOptions - sourceMap option?"
# VERSION
*  uglifyjs-webpack-plugin version:1.1.6
*  webpack 4.16.0

# USECASE
new UglifyJsPlugin({
                    cache: true,
                    parallel: true,
                    compress: {
                        collapse_vars: false
                    },
                    // set to true if you want JS source maps
                    sourceMap: true,
                    uglifyOptio

[2018-08-29 02:44] lazyhero commented on #348
update:
uglifyjs-webpack-plugin version:1.3.0

i don't want use 'sourcemapdevtoolplugin'

[2018-08-29 10:08] evilebottnawi commented on #348
Only using `sourcemapdevtoolplugin`

[2018-08-29 10:08] #348 closed

[2018-08-29 10:26] 112Legion112 commented on #205
@sapegin You saved my life.

[2018-08-31 17:59] radum opened #349 "uglify-es is no longer maintained"
According to the maintainer `uglify-es` is no longer [maintained](https://github.com/mishoo/UglifyJS2/issues/3156#issuecomment-392943058) and uglify-js does not support ES6+

If we use Babel with preset-env and we target latest browsers, this will not work as expected, is it?

This is also used when webpack is in production mode, so might be a bit confusing in terms of your output. Considering tha

[2018-08-31 18:09] evilebottnawi commented on #349
Use https://github.com/webpack-contrib/terser-webpack-plugin, next major will be switched back to uglifyjs

[2018-08-31 18:09] #349 closed

[2018-08-31 18:09] evilebottnawi commented on #349
Also in near future will be release babel-minify-webpack-plugin

[2018-09-02 18:21] tsangint opened #350 "Different options to different chunks in one pluign instance."
When webpack make two chunks(eg: a.js and b.js) and I need minify them with different options(for example, a.js can be mangled but b.js shouldn't be mangled)
The uglifyjs-webpack-plugin can not make different options to those two chunks in one plugin instance.
Is it best practice to add two uglifyjs-webpack-plugin instance to webpack config.
Like below:
[code]
Is there any way to do this just writ

[2018-09-03 01:47] tsangint commented on #294
Did this resolved？

[2018-09-03 09:42] evilebottnawi commented on #350
@tsangint better use two `instance` for this purpose, no plans to support this

[2018-09-03 09:42] evilebottnawi commented on #294
@tsangint no problem in `uglify-es`

[2018-09-03 17:26] tsangint commented on #350
@evilebottnawi Thanks for your reply,I'm not sure is it reasonable to use a plugin twice at one webpack config before.I tried and it seems everyting is ok by using two instance.

[2018-09-03 17:34] evilebottnawi commented on #350
@tsangint it si normal usage same plugin with difference options twice

[2018-09-04 18:35] elie222 commented on #272
Same issue?
https://github.com/angular/angular-cli/issues/5775

[2018-09-04 20:08] fairbankm24 opened #351 "uglifyjs locking folders on windows box with too long filename error"
When deploying our packages, we clean up node_module folders on the server for cleanup, however since installing the latest uglifyjs-webpack-plugin we're hitting an error on the filename being too long in the .cache subfolder of node_modules

`node_modules\.cache\UGLIFY~1\CONTEN~1\sha512\0d\ca\b49ce4203de0c2e8694cfba636580ca2438cb22e42c39605422224d428c4cbc4e16c602b72a7d61a4a14c5dd874841a02f5d793cb

[2018-09-04 20:11] evilebottnawi commented on #351
@fairbankm24 thanks for issue, but related to plugin , please create issue in https://github.com/zkat/cacache repo, we use this package for caching (a lot of other utils/libraries/applications do this package too, example `npm`)

[2018-09-04 20:11] #351 closed

[2018-09-05 10:08] #350 closed

[2018-09-06 11:52] 3iMichael opened #353 "Object-property set to boolean true gets minified to !(functiondeclaration)"
A simplified example of the code that caused this:

`var testData = {
    name: "myName",
    boolValue: true
}
function func() {
    doSomething();
}
`

This (along with a LOT of other code which I can't post here) got minified to something like:
`var testData = {
    name: "myName",
    boolValue: !(function func(){doSomething()})
}`

Since !(functionDeclaration) evaluates to false, this is not

[2018-09-06 12:04] evilebottnawi commented on #353
@3iMichael we just wrapper of `uglify-es`, looks as bug in `uglify-es`, also `uglify-es` is abandoned, use https://github.com/webpack-contrib/terser-webpack-plugin (webpack@5 will use this plugin for uglify). Sorry we can't do nothing here.

[2018-09-06 12:04] #353 closed

[2018-09-14 01:01] ZekeXu opened #354 "Please upgrade uglify-js & uglify-es"
Node v10.5.0
Npm 6.4.1
uglifyjs-webpack-plugin 1.3.0

Now will compile
[code]
to
[code]

Maybe upgrade could solve this.

[2018-09-14 09:42] evilebottnawi commented on #354
@ZekeXu please use https://github.com/webpack-contrib/terser-webpack-plugin, `uglify-es` is abadoned and next version of plugin will use `uglify-js` (doesn't support es6)

[2018-09-14 09:42] #354 closed

[2018-09-14 16:01] #343 closed

[2018-09-17 06:11] #312 closed

[2018-09-17 20:15] lukeapage opened #355 "UfligyJS un-necessarily pinned at the latest and buggy release"
https://github.com/webpack-contrib/uglifyjs-webpack-plugin/blob/master/package.json#L50

pins uglify to 3.4.9

But there are some bad uglify-js bugs with 3.4.9:

https://github.com/mishoo/UglifyJS2/issues/3245
https://github.com/mishoo/UglifyJS2/issues/3257
https://github.com/mishoo/UglifyJS2/issues/3260

and now as a consumer of this plugin I cannot specify the uglify-js version in my parent pack

[2018-09-17 20:26] evilebottnawi commented on #355
If yes, feel free to send PR and we release patch version

[2018-09-17 20:36] lukeapage commented on #355
Sure, done.

[2018-09-18 07:32] Delagen commented on #355
I think it must be only in peerDependencies to control it outside package

[2018-09-18 09:40] evilebottnawi commented on #355
@Delagen it is plugin, and he should use this as `dependencies`

[2018-09-18 09:48] Delagen commented on #355
@evilebottnawi UglifyJS is very unstable at this branch, so it will broke project sometimes if version does not fix to certain revision

[2018-09-18 09:57] evilebottnawi commented on #355
@Delagen use lock files

[2018-09-18 09:58] evilebottnawi commented on #355
@Delagen Better use https://github.com/webpack-contrib/terser-webpack-plugin

[2018-09-18 10:13] Delagen commented on #355
@evilebottnawi Thanks for this recommendation. I'll try it

[2018-09-19 17:01] dtmp commented on #92
Add uglifyOptions like this:

[code]

[2018-09-19 18:47] djizco opened #358 "Error with superagent when compiling a production build."
* Operating System: MacOS 10.13.6
* Node Version: 8.12.0
* NPM Version: 6.4.1
* webpack Version: 4.19.1
* SuperAgent Version: 4.0.0-beta.5

### Expected Behavior

Webpack should make a production build without errors.

### Actual Behavior

Error is Generated:
`
ERROR in bundle.js from UglifyJs Unexpected token: name (root) [./node_modules/superagent/lib/client.js:5,0]...
`
### Code

[code]
### How

[2018-09-19 22:43] stefanfrede opened #359 "Error after update to 2.0.1"
* Operating System: macOS 10.13.6
* Node Version: 10.10.0
* NPM Version: 6.4.1
* webpack Version: 4.19.1
* uglifyjs-webpack-plugin Version: 2.0.1

### Expected Behavior

Minification of my code.

### Actual Behavior

[code]

### Code

[code]

### How Do We Reproduce?

+ `git clone git@github.com:stefanfrede/knowthen-counter.git`
+ `git checkout update-webpack-config`
+ `npm i`
+ `npm run build`

[2018-09-19 23:01] flekschas commented on #359
I ran into the same issue. An interim solution is to downgrade to `v1.3.0`.

[2018-09-20 01:16] evilebottnawi commented on #359
Yes, better use terser plugin, 2 version this plugin uses uglify-js, which do not support es6 syntax. In 1 version we use uglify-es, but this package abadoned and contains a lot of bugs.

[2018-09-20 01:16] #359 closed

[2018-09-20 01:18] evilebottnawi commented on #358
what version of plugin you use?

[2018-09-20 01:34] djizco commented on #358
Sorry I forgot to add that. I updated the original issue. It was the most current version 2.0.1.

[2018-09-20 08:59] DMShamonov opened #360 "TypeError: Cannot read property 'compilation' of undefined"
* Operating System: MacOS
* Node Version: 10.10.0
* NPM Version: 6.4.1
* webpack Version: 3.12.0
* ${package} Version: 2.0.1

### Actual Behavior

[code]

### Code

[code]

[2018-09-20 09:26] evilebottnawi commented on #360
@DMShamonov can you create minimum reproducible test repo, looks you use global installed webpack@3 version

[2018-09-20 09:53] DMShamonov commented on #360
@evilebottnawi it's not global installed webpack. When I remove `UglifyjsWebpackPlugin` section from config it works without errors.

I try reproducible test repo later.

[2018-09-20 09:59] evilebottnawi commented on #360
@DMShamonov and you you use `minification` when you use `dev` server? It is only decrease compilation time

[2018-09-20 10:05] DMShamonov commented on #360
@evilebottnawi it's `prod:test` build. For develop we use `dev` config without `UglifyjsWebpackPlugin `. But in `prod` config without `webpack-dev-server` we have the same error:
[code]

[2018-09-20 10:09] evilebottnawi commented on #360
@DMShamonov without minimum reporudiclbe test repo i can't help, looks other plugin broke you webpack

[2018-09-21 14:59] DMShamonov commented on #360
@evilebottnawi that's test repo [link](https://github.com/DMShamonov/uglifyjs-webpack-plugin-360-issue-reproducing)

[2018-09-21 15:11] evilebottnawi commented on #360
@DMShamonov you use `webpack@3`, 2 version require `webpack@4`

[2018-09-22 08:27] DMShamonov commented on #360
@evilebottnawi OMG... Ok, thanks!

[2018-09-22 11:57] #360 closed

[2018-09-30 18:01] petercunha commented on #272
Getting the same issue on the latest Angular version. My build has been hanging for almost 10 minutes now...

[2018-10-01 08:37] bskydive commented on #104
The
`npm i uglifyjs-webpack-plugin@1`
solve problems in angular es6 : ERROR in main....bundle.js from UglifyJs Unexpected token: keyword (const) ...
In the most popular webpack+angular config used @1 version, not @2: https://github.com/gdi2290/angular-starter/blob/master/package.json

[2018-10-01 08:40] bskydive opened #362 "ES6 support broken again"
`npm i uglifyjs-webpack-plugin@1`
solve problems in angular es6 : ERROR in main....bundle.js from UglifyJs Unexpected token: keyword (const) ...
In the most popular webpack+angular config used @1 version, not @2: https://github.com/gdi2290/angular-starter/blob/master/package.json

_Originally posted by @bskydive in https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/104#issuecomment-

[2018-10-01 09:46] evilebottnawi commented on #362
@bskydive Please:
1. Use issue template in future
2. Read CHANGELOG before post issue (https://github.com/webpack-contrib/uglifyjs-webpack-plugin/releases/tag/v2.0.0)

3. Use https://github.com/webpack-contrib/terser-webpack-plugin for ES6 (webpack@5 will be use this plugin for uglification)

[2018-10-01 09:46] #362 closed

[2018-10-03 06:43] fumblehool opened #363 "ERROR in vendor.c8030bb7976be5202ebc.js from UglifyJs"
* Operating System: Debian GNU/Linux 8.8 (jessie)
* Node Version: v7.10.1
* NPM Version: 4.2.0
* webpack Version: 3.3.0
* uglifyjs-webpack-plugin Version: 1.1.4

### Expected Behavior
On running `webpack --config config/webpack.prod.aot.js --progress --profile --bail` It should build the dist files

### Actual Behavior
Getting Error -
[code]

[2018-10-05 00:00] marcins commented on #272
After investigating this more it's not as easy as it seems - within `wepback-sources` (where the code for `sourceAndMap` exists) the source map is also cached in memory. So removing it from memory in the uglify plugin won't make a difference to memory usage as it's still retained within the asset.

Unfortunately, I don't think there's much that can be done with the current architecture to alleviat

[2018-10-06 10:58] fumblehool commented on #363
@evilebottnawi Thanks for the quick reply! The issue was in `uglifyjs-webpack-plugin`.

[2018-10-06 10:58] #363 closed

[2018-10-06 11:33] vtni commented on #363
How did you solved it?

[2018-10-06 16:46] fumblehool commented on #363
@vtni I was trying to extend functionality of an older project. It used `uglifyjs-webpack-plugin@1.1.4`.
So I had to downgrade webpack to v3 and upgrade `uglifyjs-webpack-plugin@1.1.4` to `uglifyjs-webpack-plugin@1.3.0`
As pointed out by @evilebottnawi , problem was in uglify-js. This problem is fixed in `uglify-js@3.4.3`

[2018-10-10 19:19] AlexandreBonneau commented on #222
Uglify still does not respect the `@license`, `@preserve` nor `/*!` tags in the comments, and removes all of them.

I tried `comments: 'some'` and no comments are kept.
Just to be sure, I tried `comments: 'all'` and all comments are kept.

This is the extract of the webpack configuration:
[code]
Could you please re-open that bug?

[2018-10-11 13:37] joecorkerton opened #364 "Apply Uglify multiple times to the same code"
Is it possible to apply uglify twice to the same code? I need to do the webpack equivalent of
[code]

Why?

[2018-10-11 13:46] evilebottnawi commented on #364
@joecorkerton create two instance of plugin and put second instance after first

[2018-10-11 14:02] joecorkerton commented on #364
@evilebottnawi and if I `include:` with the same string it will figure out to apply the second uglify to the already transformed code?

Otherwise what should I do instead of the second `include`?

[2018-10-11 16:37] joecorkerton commented on #364
@evilebottnawi Thanks for your help so far.

I have been playing around with different config options and it seems like I'm not able to disable mangle now. I set to mangle to false and the output is still minified, with the same filesize. This seems to be the same issue as #234 . Is there a solution for that?

[2018-10-11 16:39] evilebottnawi commented on #364
@joecorkerton please create minimum reproducible test repo and describe what you have and what you expected, i can't understand you

[2018-10-17 14:27] mancioshell opened #366 "exclude node_modules don't work as expected"
* Operating System: Windows 10
* Node Version: v8.11.3
* NPM Version: 5.6.0
* webpack Version: 4.20.2
* uglifyjs-webpack-plugin Version: v2.0.1

### Expected Behavior

I would like to exclude node_modules from minification, adding exclude property

### Actual Behavior

Plugin ignores this configuration and minify node_modules

### Code

[code]

[2018-10-17 14:31] evilebottnawi commented on #366
@mancioshell plugin works with `chunk`, `chunk` contains your code and `require`/`import` code, it is impossible disable uglification for `module` into `chunk`. If you want to disable uglification for `vendors` you should use `exclude: 'vendors'`.

[2018-10-17 14:45] mancioshell commented on #366
@evilebottnawi thank you for your response. Sorry, my fault but maybe the documentation is not so clear. In the exclude docs i have read files to exclude, not chunks :

`
exclude
Type: String|RegExp|Array<String|RegExp> Default: undefined
**Files to exclude**.
`
Thank you so much.

[2018-10-17 14:52] evilebottnawi commented on #366
@mancioshell in `webpack` you can `include/exclude/test` only files, not `modules`, it is for all plugins. Also here written `Files` (not `modules`). Feel free to send a PR if you know how better we can write about this.

[2018-10-17 14:52] #366 closed

[2018-10-18 17:31] stevenvachon commented on #294
Duplicate of #158

[2018-10-18 17:33] evilebottnawi commented on #294
@stevenvachon not quite, it will be bug in `uglify-es`

[2018-10-18 17:33] #294 closed

[2018-10-18 17:34] evilebottnawi commented on #278
Looks no one does have problem and docs about `pathinfo`, i close this issue, feel free to feedback

[2018-10-18 17:34] #278 closed

[2018-10-18 17:34] #364 closed

[2018-10-18 17:34] evilebottnawi commented on #302
Problem still exists?

[2018-10-18 18:48] kzc commented on #364
Elm is doing that to work around a bug in `uglify-js`.

See https://github.com/parcel-bundler/parcel/issues/2062#issuecomment-424763767 for the correct way to do it in both Terser and Uglify.

That's inefficient - that would parse and output the code twice.

Instead just set the [`compress` option](https://github.com/terser-js/terser#compress-options) `passes` to 2 or greater.

[2018-10-19 13:55] m-korkut opened #367 "ERROR in ./assets/js/commons.js from UglifyJs Unexpected token: keyword (const)"
I use uglifyjs-webpack-plugin.
I get this error :"ERROR in ./assets/js/commons.js from UglifyJs
Unexpected token: keyword (const) [./assets/js/commons.js:13526,0]
"

what's the solution to this ?

version info :
nodejs: v8.12.0
npm 6.4.1,
webpack: "^4.21.0",
"uglifyjs-webpack-plugin": "^2.0.1",
"babel-loader": "^8.0.4",
 babel : 7

[2018-10-19 13:57] mhavci commented on #367
+1
same problem

[2018-10-19 14:03] evilebottnawi commented on #367
You code contains `ES6`, `uglifyjs-webpack-plugin` use `uglify-js` to compress code and `uglify-js` doesn't support `ES6`, use https://github.com/webpack-contrib/terser-webpack-plugin

[2018-10-19 14:03] #367 closed

[2018-10-19 14:40] stevenvachon opened #368 "Map sourceMap to devtool"
* Operating System: macOS 10.14
* Node Version: 10.11.0
* NPM Version: 6.4.1
* webpack Version: 4.20.2
* uglifyjs-webpack-plugin Version: 2.0.1

Currently, the `sourceMap` option must be explicitly defined when it'd be much more convenient for it to rely on the value of Webpack's `devtool` option.